.logo h1
  +h2
  margin: 18px 0 22px
  color: $logo-text-color
  font-weight: normal
  text-transform: uppercase
  white-space: nowrap

  .text,
  img,
    vertical-align: middle

  img
    position: relative
    margin-right: 0.5rem
    height: $header-menu-size
    width: auto

  .text
    position: relative
    top: 1px // @TODO/ece Just seems to look better, even though without this it's technically centered (10px above and below)

  login &,
  settings &
    text-align: center

    img
      height: 60px
      margin-right: 0
    .text
      display: block

a
  +text-link
  text-decoration: underline

::selection
  background: $accent-color

// Hidden thing we can focus on in order to "blur all"
#blur-hack
  position: fixed
  z-index: -100000
  opacity: 0

[data-tooltip]
  cursor: pointer

  &.fa-question-circle
    margin: 0 1px
    
.caret
  display: inline-block
  right: auto
  width: 0
  height: 0
  margin-left: 5px
  vertical-align: middle
  border-top: 4px solid $icon-color
  border-right: 4px solid transparent
  border-left: 4px solid transparent

// Override FontAwesome x with "multiplication x" in our regular font
.fa-times
  font-family: inherit
  &:before
    content: '\2715'
    position: relative
    top: 1px // just seems off compared to FA icons otherwise
    font-weight: bold
