.app-top
  position: relative
  z-index: $z-header
  
.app-header
  @if $panel-bg != transparent
    +box-shadowed
  background-color: $panel-bg

  .inner
    +outer-container
    display: flex
    height: $inner-header-height
    align-items: center

  .back-button
    display: none

  .logo,
  .menu
    flex: 1

  .logo
    h1
      cursor: pointer

  .menu-wrapper
    position: relative
    margin-right: -10px // matching padding - want avatar to align with edge, but menu border to go outside
    padding: 5px 10px

    border: 1px solid transparent
    border-top-width: 0
    border-bottom-width: 0
    transition: border-color $transition-fast

    &:hover
      .menu-body
        +faded-in

    &.is--force-closed
      .menu-body
        +faded-out

  .menu
    cursor: pointer

    width: 40px
    height: 40px
    max-width: 40px
    padding: 3px

    border: 1px solid $form-stroke // @TODO/rewrite @TODO/ece Vary based on sync status
    border-radius: 50%

    &.status--synced
      border-color: $success-color
      .sync-status
        color: $success-color
    &.status--syncing
      border-color: mix($success-color, $warning-color)
      .sync-status
        color: mix($success-color, $warning-color)
    &.status--unsynced
      border-color: $warning-color
      .sync-status
        color: $warning-color
    &.status--disconnected
      border-color: $danger-color
      .sync-status
        color: $danger-color

  .menu-body
    // @TODO/soon @TODO/styles There should be padding above this just ike there is for the note tag dropdown
    +dropdown-menu
    +plain-list
    +fadeable
    +faded-out

    z-index: 10
    cursor: default
    position: absolute
    right: -1px // needed to line up with .menu-wrapper border
    width: 160px
    margin: 0
    padding: 10px 0 0
    letter-spacing: 0.5px

    li
      display: block

      // @TODO/ece Active state for menu item, like when you're on settings screen?
      // &.is--active

      &.sync-status
        +small
        padding: 0 0 5px
        text-align: center
        font-style: italic

      &.unimplemented
        opacity: 0.3
        a
          cursor: default

      a
        +dropdown-menu-link
        display: inline-block

  .avatar
    width: 100%
    height: 100%

  note-query
    flex: 10
    margin: 0 5px 0 30px

  .search-mode-indicator,
  .private-mode-indicator
    +icon-button
    +h3 // same as control icons in note-query
    margin-right: 3px
    padding-top: 2px // same as padding in note-query

  .private-mode-indicator
    color: $danger-color

    .unlocked
      display: none

    @media (min-width: $tablet-large)
      &:hover
        .locked
          display: none
        .unlocked
          display: inline-block

    opacity: 0
    visibility: hidden
    transition: visibility $transition-fast, opacity $transition-fast

    &.is--private
      opacity: 1
      visibility: visible

.app-nav
  +outer-container
  white-space: nowrap
  height: $nav-header-height
  padding-top: 8px
  padding-bottom: 6px

  .new-note
    margin-top: 13px // @HACK Magic number to vertically align. Lazy.

  .nav-link-outer--tags
    float: right

  ul
    +plain-list

  .nav-link
    +menu-link
    @if $panel-bg != transparent
      +box-shadowed
    background-color: $panel-bg
    border: none
    display: inline-block
    white-space: nowrap
    width: auto
    margin-right: gutter()
    padding: 9px 1rem 7px // we want 0.5rem vertical padding, but vertical shit is offset as always...
    letter-spacing: 1px
    text-transform: uppercase

    .nav-link-text,
    .fa
      vertical-align: middle

    .fa
      +h4
      display: inline-block
      transition: border-color $transition-fast
      // border-bottom: 4px solid transparent // for old active style

  li:last-of-type a.nav-link
    margin-right: 0

  // @TODO/styles @TODO/ece Active styles for nav!
  // .is--active a .fa
  //   border-color: $primary-color-contrast
  // .is--active a:hover .fa
  //   border-color: $highlight-color

  .note-view
    display: none

    &.is--active
      display: inline

    &:hover
      color: $icon-hover

    .fa-bars
      transform: translateY(-0.5px) // no idea why this is necessary but it bothers me that it's off...

  @media (min-width: $tablet-large)
    .route--list &,
    .route--scroll &,
    .route--browse &
      .nav-link--note-views:hover
        .note-view
          display: inline

          &.is--active .fa
            color: $icon-hover

        // While actually hovering over the choices, don't highlight the currently active one
        .note-views:hover
          .note-view
            &.is--active
              cursor: default
              .fa
                color: $menu-icon-active

            &:hover
              .fa
                color: $icon-hover


@media (max-width: 900px) // @HACK Kind of arbitrary but it works?
  .app-header
    .logo .text
        display: none

    note-query
      margin-left: 0

@media (max-width: $tablet-large - 1px)
  .app-header
    position: fixed
    width: 100%
    margin-bottom: $mobile-header-margin
    transition: padding $transition-fast, transform $transition-fast

    .is--headerless &
      transform: translateY(-1 * $inner-header-height);

    .back-button
      +faded-out
      +icon-button
      display: block
      flex: 0.1
      height: 100%
      max-width: 0
      transition: opacity $transition-fast, visibility $transition-fast, max-width $transition-fast, padding $transition-fast, color $transition-fast

      .fa
        // Vertical align:
        position: relative
        top: 1px
        line-height: $inner-header-height

    &.is--backable
      .back-button
        +faded-in
        max-width: 3rem
        padding: 0 0.5rem 0 0.25rem

    .route--note-route.is--note-query-visible &
      padding-bottom: $mobile-note-query-height // to provide space (with background and box shadow) for now-absolute note-query nav header

    note-query
      position: absolute
      width: 100% - gutter() * 2
      margin: 0 gutter();
      top: 0
      left: 0

      transition: opacity $transition-fast, visibility $transition-fast, transform $transition-fast
      +faded-out

      .route--note-route.is--note-query-visible &
        +faded-in
        transform: translateY($inner-header-height)

    .search-mode-indicator
      margin-right: 0
      margin-left: 8px

    // @TODO/ece How are these values? Should they be applied to all menus, like autocomplete and sort dropdown? @TODO/QA Should test tap target on small phone for those (and this)
    .menu-body
      width: 16rem
      li a
        +h4
        padding: 1rem

    .menu-link--shortcuts
      display: none !important

  .app-nav
    +dropdown-menu
    position: fixed
    bottom: 0
    height: $mobile-nav-height
    width: 100%
    padding-top: 0
    padding-bottom: 0
    border: none
    text-align: center

    .nav-link
      +not-dropdown-menu
      margin-right: 0
      padding: 11px 1rem 5px // 2px off vertically from normal nav-link padding, so it looks vertically centered even when the border is not there

    // Faking `.is--active`, because `.is--active` is already applied to these guys via angular template and kind of used for other things (individual note views get active, and on desktop tag nav is active when browser is not collapsed)
    .route--note-route & .nav-link--note-views,
    .route--tags & .nav-link-outer--tags .nav-link
      +dropdown-menu-border

    .nav-link-outer--notes
      position: absolute
      left: 0.5rem
      max-width: 33vw
      text-align: right
      transition: max-width $transition-fast

    .nav-link-outer--tags
      position: absolute
      right: 0.5rem

    .nav-link-outer--tags,
    .nav-link-outer--new-note,
      +fadeable
      +faded-in

    .nav-link--note-views
      width: 100%

    .note-view
      transition: margin $transition-fast

    &.is--note-nav-open
      .nav-link-outer--tags,
      .nav-link-outer--new-note,
        +faded-out

      .nav-link-outer--notes
        width: 100%
        max-width: 100vw

      .note-views
        display: inline-block

      .note-view
        display: inline-block
        margin-right: 15vw

        &.is--active
          color: $icon-hover

// .mobile-only
//   display: none !important
// @media (max-width: $tablet-large - 1px)
//   .mobile-only
//     display: inline-block !important // @NOTE Obviously not the right value for lots of things, so will need overriding
//   .desktop-only
//     display: none !important
