// Styles for the logged-out marketing home page

$homepage-main-bg: $panel-or-overlay
$bg-overlay-text: rgba(invert($panel-text), 0.9)
$ribbon-bg: rgba($note-text, 0.8)

homepage
  display: block
  position: relative
  padding-top: 2rem
  color: $panel-text


  // @HACK Kind of a `.full-width-edges` to cover up gap above <homepage> element...
  &:before
    content: ''
    position: absolute
    z-index: -1
    top: 0
    left: -50vw
    width: 200vw
    height: 100px
    background-color: $homepage-main-bg

  .intro
    display: inline-block
    text-align: left
    // text-shadow: 2px 2px 5px black
    color: $logo-text-color
    
    h2
      margin-top: 0
      margin-bottom: 0.5rem
    h3
      +h4
      margin-top: 0.5rem

  .ribbon
    +h4
    position: relative
    width: 100%
    padding: 1rem 0
    color: $primary-button-text
    background-color: $ribbon-bg
    text-align: center

    text-transform: uppercase
    letter-spacing: 1px

    &.steps
      letter-spacing: 0
      text-transform: none
      font-weight: normal

  .full-width-edges
    &:before,
    &:after
      content: ''
      position: absolute
      top: 0
      height: 100%
      width: 500px
      background-color: $homepage-main-bg

    &:before
      left: -500px
    &:after
      right: -500px

    &.ribbon
      &:before,
      &:after
        background-color: $ribbon-bg

  .steps
    display: flex
    justify-content: space-around

  .demo-container
    +span(6)
    &:nth-child(2n)
      +span(6 last)

  .hero
    position: relative
    background-color: $homepage-main-bg

    &.demo-container
      padding-top: 7.25rem // magic number to align with logo text... at least on some screens? @TODO/polish
      text-align: center

      @media (max-height: 650px)
        padding-top:  2rem

    .note
      margin: 4rem auto 0
      max-width: 450px
      min-height: 250px // @TODO/now @TODO/hp Depends on copy

      @media (max-height: 550px)
        // margin-top: 140px
        margin-top: 6rem

  .note
    text-align: left

    .note-wrapper .body-input // extra specificity to overcome route-related classes
      height: 100%
      max-height: none !important
      padding-left: 29px !important // magic number to align with first tag
      padding-right: 30px !important

    .new-tag
      &,
      .new-tag-button
        cursor: default !important

      &:hover .fa
        color: $icon-hover

    tag
      transition: color $transition-slow, background-color $transition-slow, opacity $transition-slow // when un-highlighted
      &.is--highlighted
        transition-duration: $transition-med // when highlighted
        +tag-chiclet-active

      &.is--being-removed
        opacity: 0
        transition-duration: $transition-med
        &.is--highlighted
          opacity: 1

  .tag-explore-wrapper
    z-index: 1 // otherwise it can be below the negative margin-bottomed login modal
    position: relative
    width: 100%

  .tag-explore
    width: 100%
    height: 350px
    max-height: 90vh
    padding: 1rem

    force-graph
      display: block
      width: 100%
      height: 100%

    // .heading 
    //   +h3 

    // .note-count-heading
    //   +h3
    //   margin: -10px 0 0

    // .cooccurrences .static-tag:before
    //   margin-right: 1px

  .hp-section
    position: relative
    padding: 3rem 0

    @media (max-width: $tablet-small)
      padding: 2rem 0

  .static-notes
    background: $homepage-main-bg

  .screenshots
    color: $bg-overlay-text

    .shot
      @extend .clearfix
      margin-bottom: 2rem

    img
      +span(4)
      height: auto
    .text
      +span(7 last)
      +h4
      text-align: left
      font-weight: normal

  .features
    background: $homepage-main-bg
    padding-left: 5rem
    padding-right: 5rem

    @media (max-width: $screen-small)
      padding-left: 2rem
      padding-right: 2rem

    @media (max-width: $screen-small)
      padding-left: 1rem
      padding-right: 1rem

    @media (max-width: 640px)
      text-align: center

  .feature-list
    display: inline-block
    width: span(5)
    text-align: left

    @media (max-width: $tablet-large)
      width: span(6)
      &.now
        padding-right: 1rem

    @media (max-width: 640px)
      width: span(10)
      padding-right: 0
      clear: both
      float: none !important
      &.now
        margin-bottom: 3rem

      .freedom.spacer
        display: none

    @media (max-width: $tablet-small)
      width: 100%
      &.now
        margin-bottom: 2rem

    &.now
      float: left
    &.soon
      float: right

    .heading
      +pane-heading
      text-transform: uppercase
      margin-bottom: 2rem

    .freedom
      +base-font-size
      margin-top: 0.5rem
      color: $panel-text-secondary
      text-transform: none

    .feat
      +h4
      margin-bottom: 0.5rem
      padding-bottom: 0.5rem;
      border-bottom: 1px solid #EEE;

      &:last-child
        border-bottom: none

  // @REMOVED/hp features
  // .feature
  //   +card
  //   +gallery(4 of 12)
  //   min-height: 160px
  //   margin-bottom: 25px
  //   padding: 25px gutter()
  //   text-align: center

  //   h4
  //     margin: 0 0 20px

  //   p
  //     margin-bottom: 0


  .homepage-outro
    clear: both
    width: 100%
    color: $bg-overlay-text

    h4
      position: relative
      margin: 0
      padding: 5rem 1.5rem
      text-align: center
      // background-color: $panel-bg
      // text-shadow: 2px 2px 5px $shadow-color
      letter-spacing: 1.8px

      a
        +text-link

// .modal-content.outro-login
//   float: right
//   height: auto
//   margin: 50px 0

//   login
//     .subheading--initial
//       opacity: 0 !important
//       visibility: hidden !important
//     .subheading--general
//       opacity: 1 !important
//       visibility: visible !important

.modal-content.is--login
  margin-bottom: -23vh // @HACK Modal styles align themselves based on 100vh and changing height of modal messes it up leaving it at 100vh but with negative bottom margin is faster than a refactor right now

  // @TODO/polish The alignments all over the homepage are stupid and these tweaks are evidence of that
  @media (min-height: 800px)
    margin-bottom: -25vh
  @media (min-height: 900px)
    margin-bottom: -30vh

login .homepage-nav
  position: absolute
  display: flex
  justify-content: center
  top: 0.5rem
  left: 0
  width: 100%
  text-align: center

  @media (max-width: $tablet-large)
    justify-content: space-between

  a
    margin: 0 1.5rem
    font-weight: bold
    text-decoration: none

    color: $panel-text
    &:hover
      color: $panel-text-link-hover

    @media (max-width: $tablet-small)
      margin: 0 1rem

    @media (max-width: $mobile-large)
      margin: 0 0.5rem


// Because of fucked up flow/DOM ordering, we need two copies of the <login> component. One we show on mobile, the other on desktop

@media (min-width: $tablet-large + 1)
  login .signup-text
    display: none
  homepage login
    display: none

@media (max-width: $tablet-large)
  .modal-content.is--login
    display: none

  homepage
    // Put space from top as margin on intro instead of padding on homepage so that the <login> element that's used inside of <homepage> on mobile can be at the top of the page
    padding-top: 0
    padding-left: 0.5rem 
    padding-right: 0.5rem

    .intro
      margin-top: 3rem

    .demo-container
      width: 100% !important // lazy override of `+span(6)`
      height: auto
      padding: 0

    .hero .demo-container
      padding: 0

    .hero .note
      margin: 2rem 0
      min-height: 350px // @TODO/hp @TODO/now This depends on updated copy for the note

    .steps
      display: block
    .step
      display: block
      margin: 0.5rem 0

    .tag-explore
      height: 325px
      margin-top: 20px

    .static-notes
      .demo-container
        margin-bottom: 2rem
        &:last-child
          margin-bottom: 0

        .note
          margin: 0

    .screenshots
      padding-left: 0.5rem
      padding-right: 0.5rem
      img,
      .text
        +span(12)
        margin-bottom: 1rem

    login
      +card
      position: relative
      margin-top: 0
      padding: 4rem 0 0
      background-color: $homepage-main-bg

      header
        margin-bottom: 25px

      .signup-text
        +h4
        margin-bottom: 25px
        text-align: center

      .sendgrid-subscription-widget input[type=submit]
        padding-left: 0;
        padding-right: 0;

    // @REMOVED/hp features
    // .feature
    //   +gallery(9 of 12)
    //   float: none !important
    //   margin-left: auto !important
    //   margin-right: auto !important
