<h3>Help &amp; FAQ</h3>


<h4>FAQ</h4>

<h5>What’s Headsoak?</h5>

<p>Headsoak is a note taking tool that intelligently organizes your notes and assists you in utilizing them.</p>
<p>It does this primarily by employing “smart tags”, along with copious customization abilities, and insightful, evolving visualizations of your data.</p>

<h5>What are smart tags?</h5>

<p>Smart tags are programmatic tags that can:</p>

<ol>
  <li>
    Automatically tag your notes with insights drawn from analyzing the content of your notes, 
    <ul><li>e.g. <span class="static-tag">sentiment</span> performs sentiment analysis to tag your notes based on whether the overall tone is positive or negative</li></ul>
  </li>
  <li>
    Perform custom actions with your notes, 
    <ul><li>e.g. <span class="static-tag">remember this</span> emails you notes tagged under it a day, a week, a month, and a year after you add that tag so that you better remember the content.</li></ul>
  </li>
</ol>

<p>You can choose from ready-made smart tags, or write your own!</p>

<h5>How should I use tags?</h5><!-- @TODO/hp @TODO/copy -->

<p>Imagine someone watching over you while you write down a note. Feels like a very private experience, doesn’t it? Writing is a very personal activity. We all think differently, write differently, and intuitively organize differently.</p>
<p>This is why Headsoak not only allows but also encourages you to create and use tags in the ways that best fit you!</p>
<p>Here are some questions we consider when tagging our notes to help you get started.</p>

<ul>
  <li>What concept will I be thinking about when I want to see this note in the future?</li>
  <li>What are some concepts I usually come back to that are related to this note?</li>
  <li>What metadata do I want to store around this note? Am I with someone else while writing it? What’s my mood? What music is playing? </li>
  <li>What do I eventually want to do with this note? Mention to someone else? Post on my blog? Check back with myself about it later? Consider it when I’m next working on a specific project? Bring it up with a teacher? A doctor? A client? A parent?</li>
  <li>Did I write down a thought? A to-do item? A product I want to remember? A story? Lyrics? A note to for my future self?</li>
  <li>What’s the source? A website? A book? A magazine?</li>
  <li>Does it relate to events in my life?</li>
  <li>Does it have a tag that is always associated with another tag that I should add? Notes tagged with <span class="static-tag">Catcher in the Rye</span> probably should have the tags <span class="static-tag">JD Salinger</span> and <span class="static-tag">books</span>, right?</li>
</ul>

<p>The more tags you use, the more insight Headsoak can provide!</p>
<p>Got other ideas to add to this list? Let us know! <a href="mailto:soaking@headsoak.com">soaking@headsoak.com</a>.</p>

<h5>Can I download Headsoak to use it outside my browser?</h5>
<p>Yes, thanks for asking. From your account menu click Settings. At the bottom of the left side menu you will see a link to download Headsoak as a desktop app. Follow to instructions for your operating system from the Download page. Note that at the moment, even the desktop app still requires that you be connected to the internet to use it.</p>

<h5>Can I use Headsoak on my phone?</h5>
<p>Headsoak is mobile friendly. Simply go to <a href="http://headsoak.com">headsoak.com</a> on your phone. Native Android and iPhone apps will be released in the future.</p>

<h5>Can I use Headsoak offline?</h5>
<p>Unfortunately not yet, but this is a really important feature to us and we’re working on it!</p>

<h5>Can I import and export my data?</h5>
<p>Not yet, but this is also incredibly important and an upcoming feature. In the meantime, if you’d like a copy of your data please email us at <a href="mailto:support@headsoak.com">support@headsoak.com</a>.</p>

<h5>How is my data used?</h5>
<p>It’s not - except by you and your device.</p>
<p>Headsoak servers do not process or access any of your data. Your data is stored encrypted in the Google cloud service <a href="https://firebase.google.com/" target="_blank">Firebase</a> (not connected in any way to or used by your Google account or any other Google service). When you use Headsoak, your phone or computer gets your data directly from Firebase and all processing, editing, and analyzing of your data takes place on your own device.</p>
<p>Zero knowledge encryption, where all your data is stored encrypted by a key that only you have, is an upcoming feature.</p>

<h5>Is my data safe?</h5>
<p>Your data is stored with industry-leading security in Google’s Firebase Realtime Database. Data is backed up hourly. Communication between your device, Headsoak, and Firebase uses the industry standard encryption TLS/SSL to protect your data in transit.</p>

<h5>About &amp; Contact</h5>
<p>Headsoak is a small group of friends building the best tool they can in order to keep track of and utilize their thoughts.</p>
<p>We’re real people and users just like you, and would love to hear your thoughts about this product that we hope to share with others.</p>
<p>Questions? Feedback? You feel like saying hello? <a href="mailto:soaking@headsoak.com">soaking@headsoak.com</a></p>

<!-- @TODO/hp @TODO/help @TODO/soon Social media links -->


<h4>Help</h4>

<h5>Notes</h5>

<p>To <b>add a new note</b>, click NEW on the top left of your screen (at the bottom on your phone). You can always click the NOTES to <b>view all your notes</b> or switch between different views.</p>
<p>To <b>delete a note</b>, click the trash can icon on the bottom right of the note you want to delete. </p>
<p>You can <b>add tags to a note</b> by clicking the plus icon at the top of the tag section for your note. See tips on how to get started with tags in the FAQ above</p><!-- @TODO/help @TODO/faq link would be nice -->
<p>Tags on a note are sorted in the order they were added. Automatically added smart tags are at the end of the list and grayed out.</p>
<p>You can use the <b>search</b> bar at the top of the page to find specific notes. The number of notes that match your search query, as well sorting options, are displayed inside the search bar.</p>
<p>Note that pinned and archived notes will not be affected by the search query. <b>Pinned notes</b> will always remain at the top. <b>Archived notes</b> will only be displayed at the end of all other notes.</p>
<p>Notes can be made private so that they are visible only when <b>“private mode”</b> is active. To make a note private, click the lock icon on the bottom right corner of the note. Enable “private mode” to <b>view all your private notes</b> from the profile menu.</p>
<p>The chart icon on the bottom right of a note gives you further information to <b>explore</b> for a given note.</p>
<p>Unfortunately it's currently not possible to share notes with other users, but we’re actively working on this feature.</p>

<h5>Tags</h5>

<p>Tags can be used freely to categorize notes. You can have an unlimited number of them and can augment them with smart capabilities.</p>
<p>To <b>add tag</b> to a note, click the plus icon on the tag section for that note. You can remove a tag from a note by hovering over that tag and choosing the <b>“Remove from note”</b> option from the tag menu.</p>
<p>You can also <b>create new tags</b> from the tag browser on the side by clicking the plus icon there. To <b>rename a tag</b> use the pencil icon next to it.</p>
<!-- <p>Each tag may have a <b>description</b>. Use this field to explain how you’re using specific tags.</p> -->
<p><b>Removing a tag from a note</b> doesn’t delete that tag even if the tag has zero remaining notes. You can <b>delete a tag</b> from the tag sidebar by expanding it and choosing Delete.</p>
<p><b>Explore</b> interesting data and visualizations about a tag from the same menu. </p>
<p>Sharing an entire tag with another user so that they have access to every note under that tag is an upcoming feature.</p>

<h5>Smart Tags</h5>

<h5>Visualizations</h5>

EXPLORE TAGS on the right takes you to a central place where you can <b>view visualizations of your data</b> as you continue to use Headsoak. At first these visualizations show you the relationships between all your tags. The <b>Explore</b> link under each individual tag displays similar cool data specific to the tag you are viewing.

As you use Headsoak and your data grows, you will be able to view a larger variety of visualizations. Interactive ones are up there on our list of upcoming features too!

