<h3>Help &amp; FAQ</h3>


<h4>FAQ</h4>

<h5>What’s Headsoak?</h5>

<p>Headsoak is a note taking tool that intelligently organizes your notes and assists you in utilizing them.</p>
<p>It does this primarily by employing “smart tags”, along with copious customization abilities, and insightful, evolving visualizations of your data.</p>

<h5>What are smart tags?</h5>

<p>Smart tags are programmatic tags that can:</p>

<ol>
  <li>
    Automatically tag your notes with insights drawn from analyzing the content of your notes, 
    <ul><li>e.g. <span class="static-tag">sentiment</span> performs sentiment analysis to tag your notes based on whether the overall tone is positive or negative</li></ul>
  </li>
  <li>
    Perform custom actions with your notes, 
    <ul><li>e.g. <span class="static-tag">remember this</span> emails you notes tagged under it a day, a week, a month, and a year after you add that tag so that you better remember the content.</li></ul>
  </li>
</ol>

<p>You can choose from ready-made smart tags, or write your own!</p>
