<div class="note-container">
  <note>
    <div class="note-wrapper">
      <div class="header">
        <div class="tags"
          ><span class="tag-like"><span class="new-tag-button"><i class="fa fa-plus"></i></span></span
          ><tag
            *ngFor="let tag of tags"
            [tag]="tag"
          ></tag>
        </div>
      </div>
      <textarea class="body-input" autocorrect="off" autocapitalize="off" spellcheck="false" ref-noteBody (keydown)="false"></textarea>
    </div>
  </note>

  <!-- only shown on mobile -->
  <login></login>

  <div class="teaser">
    Learn more
    <br>
    <i class="fa fa-chevron-down"></i>
  </div>
</div>


<div class="features">
  <div class="feature">
    <h4>Customization</h4>
    <p>Configure smart tags as you want to use them. Developers can code their own!</p>
  </div>

  <div class="feature">
    <h4>Smart Tag Library</h4>
    <p>A public, crowd-sourced library of preconfigured smart tags you can use.</p>
  </div>

  <div class="feature">
    <h4>Sharing</h4>
    <p>Easily collaborate with real-time editing.</p>
  </div>

  <div class="feature">
    <h4>Explore Your Data</h4>
    <p>Zoom in and out to get insights into themes and connections among your notes.</p>
  </div>

  <div class="feature">
    <h4>Cross Platform</h4>
    <p>Available on all your devices.</p>
  </div>

  <div class="feature">
    <h4>Privacy</h4>
    <p>Zero-knowledge encryption <i class="fa fa-user-secret"></i> means you rule your own data - not even we have the keys.</p>
  </div>
</div>
