<div class="note-container">
  <note>
    <div class="note-wrapper">
      <div class="header">
        <div class="tags"
          ><span class="tag-like"><span class="new-tag-button"><i class="fa fa-plus"></i></span></span
          ><tag
            *ngFor="let tag of tags"
            [tag]="tag"
          ></tag>
        </div>
      </div>
      <textarea class="body-input" autocorrect="off" autocapitalize="off" spellcheck="false" ref-noteBody (keydown)="false"></textarea>
    </div>
  </note>

  <div class="teaser">
    Learn more
    <br>
    <i class="fa fa-chevron-down"></i>
  </div>
</div>


<div class="features">
  <div class="feature">
    <h4>Lightweight</h4>
    <p>Use anywhere. Write effortlessly. Find information quickly.</p>
  </div>

  <div class="feature">
    <h4>Collaborative</h4>
    <p>Share and simultaneously edit notes. Import and export with ease.</p>
  </div>

  <div class="feature">
    <h4>Private</h4>
    <p>Private Mode <i class="fa fa-user-secret"></i>. Zero-knowledge encryption: only you have the keys to your data.</p>
  </div>

  <div class="feature">
    <h4>Yours</h4>
    <p>Powerful customization for those who want it. Simplicity for those who don't.</p>
  </div>
</div>
