<div class="modal-backdrop" (click)="cancel()"></div>

<div class="modal-content-container">
  <div class="modal-content is--{{ activeModal }}">
    <span class="modal-close" (click)="cancel()">
      <i class="fa fa-times"></i>
    </span>

    <div class="loading-modal" [class.is--loading]="activeModal === 'loading'">
      <i class="initial-loader inner fa fa-spin fa-cube"></i>
    </div>

    <login *ngIf="activeModal === 'login'"></login>

    <feedback *ngIf="activeModal === 'feedback'"></feedback>
    <private-mode *ngIf="activeModal === 'privateMode'" isModal=1></private-mode>

    <div class="generic" *ngIf="activeModal === 'generic'">
      <!-- @TODO/ece Style of this? Currently only used for progTagCantChangeAlert and simultaneous editing warning, but prob will be used elsewhere -->
      <div class="body" [innerHTML]="config.message"></div>

      <div *ngIf="config.prompt" class="prompt">
        <input
          ref-promptInput
          type="{{ config.promptInputType || 'text' }}"
          autocomplete="off"
          required
          placeholder="{{ config.promptPlaceholder || '' }}"
          [(ngModel)]="promptValue"
          (keyup.enter)="ok()"
        />
      </div>

      <button class="btn btn-default"
        ref-okButton
        [class.is--loading]="okButtonIsLoading"
        [disabled]="okButtonIsLoading"
        (click)="ok()"
      >{{ config.okButtonText || 'OK' }}</button>
      <button *ngIf="config.cancelButton" class="btn btn-default" (click)="cancel()">Cancel</button>

      <span class="additional-buttons" *ngIf="config.additionalButtons && config.additionalButtons.length">
        <button class="btn btn-default" *ngFor="let button of config.additionalButtons" (click)="close(); button.cb()">{{ button.text }}</button>
      </span>
    </div>
  </div>

  <homepage *ngIf="activeModal === 'login'"></homepage>

  <!--
  <div class="modal-content outro-login" *ngIf="activeModal === 'login'">
    <login></login>
  </div>
  -->

</div>

<div class="homepage-outro" *ngIf="activeModal === 'login'">
  <h4>
    Questions? Ideas? <a href="mailto:support@headsoak.com">Contact us.</a>
  </h4>
</div>
