<div class="modal-backdrop" (click)="close()"></div>

<div class="modal-content-container">
  <div class="modal-content">
    <span class="modal-close" (click)="close()">
      <i class="fa fa-times"></i>
    </span>

    <div class="loading-modal" [class.is--loading]="activeModal === 'loading'">
      <i class="initial-loader inner fa fa-spin fa-cube"></i>
    </div>

    <login *ngIf="activeModal === 'login'"></login>

    <feedback *ngIf="activeModal === 'feedback'"></feedback>
    <private-mode *ngIf="activeModal === 'privateMode'"></private-mode>

    <div *ngIf="activeModal === 'alert'">
      <!-- @TODO/ece Style of this? Currently only used for progTagCantChangeAlert, but prob will be used elsewhere -->
      <p>{{ message }}</p>

      <button class="btn" (click)="close()">OK</button>
    </div>
  </div>
</div>
