<h3>Private Mode</h3>

<div class="intro">
  <p>Turning Private Mode on means that all of the notes you have marked as private will be displayed until you disable private mode.</p>

  <!-- @TODO/ece What do you think about this. -->

  <p>Private mode is currently <b>{{ dataService.accountService.privateMode ? 'ON' : 'OFF' }}</b></p>
</div>

<form *ngIf="! dataService.accountService.privateMode" ref-privateModeForm="ngForm" (ngSubmit)="enable()">
  <input type="password" name="password"
    ref-passwordInput
    placeholder="Enter your password here"
    autocomplete="off"
    required
    [(ngModel)]="password"
  />

  <button class="btn btn-secondary enable-button" type="enable" [disabled]="isLoading || ! privateModeForm.valid">Turn private mode on</button>

  <p *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</p>
</form>

<button *ngIf="dataService.accountService.privateMode" class="btn btn-secondary" (click)="disable()">Turn private mode off</button>
