<h3>Private Mode</h3>

<div class="intro">
  <p>Turning Private Mode on means that all of the notes you have marked as private will be displayed until you disable private mode.</p>

  <!-- @TODO/ece What do you think about this. -->

  <p>Private mode is currently <b>{{ dataService.accountService.privateMode ? 'ON' : 'OFF' }}</b></p>
</div>

<form *ngIf="! dataService.accountService.privateMode" autocomplete="off" ref-privateModeForm="ngForm" (ngSubmit)="enable()">
  <input type="password" name="password"
    ref-passwordInput
    placeholder="Enter your password here"
    autocomplete="off"
    required
    [(ngModel)]="password"
  />

  <!-- @TODO/ece This one is secondary and the one on feedback is primary. Which should they be and what's the general rule, like should account settings one be primary too? Maybe rule could be "it's the most important thing to click that you can see right now" and "no more than one primary button visible at once" -->
  <button class="btn btn-secondary" type="submit" [class.is--loading]="isLoading" [disabled]="isLoading">Turn private mode on</button>
</form>

<button *ngIf="dataService.accountService.privateMode" class="btn btn-secondary" (click)="disable()">Turn private mode off</button>
