prog-tag-control
  .code-container
    position: relative
    margin-top: 1.5rem

    transition: opacity $transition-fast
    &.is--disabled
      pointer-events: none
      opacity: 0.5

    .the-code
      border: 1px solid $form-stroke
      margin: 1rem 0
      padding: 1rem

    pre
      padding: 0

    .function-wrapper
      background: none
      &:first-of-type
        margin: 0 0 -10px
      &:last-of-type
        margin: -10px 0 0

    .code-editor
      height: 300px

    .btn
      margin-right: 1rem
      &:last-of-type
        margin-right: 0

  .documentation
    +card
    margin-top: 50px
    padding-top: 10px
    background-color: $dropdown-bg

    pre
      margin-left: 2em
      white-space: pre-wrap

    code
      display: inline
