tag-browser
  .collapsed-browser
    // @TODO/polish It would be nice if this were fixed, but we can't get the right width if we are (`width: inherit` gets us part way there but only seems to work with px widths, and the parent is defined using percentages from susy grid). Would have to be fixed setting width in JS (and probably then using a resize handler...).
    display: none

    height: 100%
    padding: $pane-overview-padding 0
    background-color: $panel-bg
    text-align: center

    .menu
      width: 100%
      margin: 0

  .menu.menu--tag-home
    margin-bottom: 1rem
    padding-bottom: 1rem
    // border-bottom: 1px solid $form-stroke

  .search-bar
    +input-underline
    padding-bottom: 4px

    &.is--focused
      +input-underline-active

    .text-input
      width: calc(100% - 20px) // room for the search icon
      border: 0
      padding: 0
      letter-spacing: 1.1px

    .control-icon
      +h4
      float: right

  .sort-count
    // see also styles for .query-controls in _forms.sass
    text-align: right
    margin: 0.5rem 0 1rem

    // @TODO/soon @TODO/styles @TODO/ece Man the alignment thing sucks. The easy options now are 1) extra space on the left, 2) extra space on the right, or 3) count goes after sort dropdown. Medium-hard solution would be to change width when clicking so that it pushes count aside. Hard-but-ideal solution would be to have the dropdown overlay the count without anything moving, and only move it once you have selected
    .sort-dropdown
      text-align: left
      width: 130px


  .add-new-tag
    cursor: pointer

    .text
      color: $form-stroke

    .fa
      color: $icon-color
    &:hover .fa
      color: $icon-hover

  .tag-wrapper
    position: relative

    tag
      cursor: pointer
      display: inline-block
      max-width: 100%

      @media (min-width: $tablet-large)
        &.hovered
          +tag-chiclet-active

      // @TODO/soon Totally made up numbers to make space for caret, count, and any tag state icons based on how wide browser is. Should be flexbox or something - and/or should have mobile responsive breakpoints
      .name-wrapper
        max-width: 260px

    .description
      +small
      width: calc(100% + 40px) // matches pane layout menu
      margin-left: -20px
      padding: 0.5rem gutter() * 5 1rem // matches tag browser menu
      font-style: italic

    .tag-header
      position: relative

    // @TODO/polish Caret should change to active style when it's open
    .caret-wrapper
      +icon-button
      position: absolute
      top: 0
      right: 0
      height: 100%

      // Bigger click target
      margin-right: -0.75rem
      padding: 7px 0.75rem // 7px top is a magic number to center align with tag

      .go-up,
      .go-down
        +fadeable

      .go-down
        +faded-in
        position: relative

      .go-up
        +faded-out
        position: absolute
        margin-top: 2px

    // @TODO/polish This should slide down all nice, but right now it just jumps into place because it's done with *ngIf
    .menu .item
      +base-font-size
      +menu-link
      +base-line-height
      padding-left: gutter() * 5

    // On full page tag browser you can click anywhere in the row
    .route--tags & .tag-header
      cursor: pointer
      @media (min-width: $tablet-large)
        &:hover
          tag
            +tag-chiclet-active
          .caret-wrapper
            color: $icon-hover

    &.is--expanded
      tag
        .route--tags &
          // On full page tag browser you can rename just by clicking on tag name when it's expanded, so don't use the active chiclet style. (when *not* on full page tag browser, clicking on tag itself will toggle tag in query so we still want cursor pointer and active chiclet style)
          +tag-chiclet-reset
          cursor: default
          .name-wrapper
            cursor: text

        .tag-actions
          display: inline-block
        &.renaming .tag-actions
          display: none

      .caret-wrapper
        .go-down
          +faded-out
        .go-up
          +faded-in


  .all-tags force-graph
    position: absolute
    top: 0
    left: 0
    // @TODO/ece Should this go all the way to the edge of the card, or leave normal padding?
    width: 100%
    height: 100%


  @media (max-width: $tablet-large - 1px)
    .pane-layout
      .fixed-pane-wrapper
        +span(12)

        .tag-pane
          +span(12)

      .overview
        display: none

    .pane-layout.is--home
      .overview
        display: block
