$tag-name-max-width: 150px
$tag-name-max-width--browse: 80px // @TODO/ece What do you think about shrinking it for this view?
$tag-actions-dropdown-width: 200px

.tag-like
  +tag-chiclet
  +tag-face

tag,
.static-tag // elements for which we don't need all the compononent logic
  +tag-face
  
  &:before
    +fadeable
    +faded-in
    content: '#'
    opacity: $tag-hash-opacity
    margin-right: 1px

tag
  +tag-chiclet

  &.is--active
    +tag-chiclet-active

  .name-wrapper
    +fadeable
    +faded-in
    +single-line-truncate
    display: inline-block
    max-width: $tag-name-max-width
    vertical-align: top

    .route--browse &
      max-width: $tag-name-max-width--browse

  .parent-name
    display: none

  .tag-value-hover
    display: none
  &.dropdown-enabled.is--hovered .tag-value-hover
    display: inline

  .tag-actions // currently (jan 2017) only used for removing from note query or for renaming in tag browser
    display: none
    margin-left: 4px

  .note &.from--classifier
    opacity: $btn-disabled-opacity

    &.is--self-active, // unless it's in use,
    homepage &, // or on homepage demo,
    &.is--hovered // or hovered,
      opacity: 1

  // Remove clipping name overflow in some situations:
  &.dropdown-disabled:hover,
  &.heading,
  &.is--renaming
    .name-wrapper
      display: inline
      white-space: normal
      max-width: none

  // &.dropdown-enabled:hover // @TODO/ece Should this happen on hover, or on the 0.25s-delayed .hover classs?
  &.dropdown-enabled.is--hovered
    // @REMOVED We used to have the tag look like it's part of dropdown menu - now we just use active chiclet and show dropdown below it
    // +dropdown-menu
    // +tag-face
    // border-color: $dropdown-bg
    // Magic numbers to make it the full height of the note tag bar
    // padding: 11px 4px;
    // margin-top: -8px;

    +tag-chiclet-active

    // @NOTE This fixes the problem of a now-expanded tag overflowing tags container and going into new line, but it cause subsequent tags to up. TagComponent JS creates and destroys a spacer element to maintain flow of following tags.
    position: absolute
    z-index: 1
    white-space: normal
    max-width: $tag-actions-dropdown-width

    .name-wrapper
      display: inline
      max-width: none
      white-space: normal
      overflow: visible
    .parent-name
      display: inline

  .tag-action
    +icon-button

  &.is--renaming
    .name
      min-width: 100px
      margin-bottom: -1px // account for the 1px border now that it's contenteditable, plus extra padding
    .tag-actions
      display: none

  .accept-rename
    +icon-button

  .count
    margin-left: 0.25rem
    color: $panel-text-secondary
    font-weight: normal

  note-query &
    &:hover
      &:before,
      .name-wrapper
        +faded-out

      .tag-actions
        display: block

    .tag-action--remove
      cursor: pointer
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0
      padding: 2px 0 // matches vertical padding on root tag element so that icon remains centered
      text-align: center
      color: $tag-active-text
      &:hover
        color: $tag-active-text

  .tag-actions-dropdown
    // @TODO/bug Dropdown can get hidden off right edgeof the screen (also making horizontal scrollbar appear)

    +dropdown-menu

    z-index: 1
    position: absolute
    width: $tag-actions-dropdown-width
    margin-top: 0.5rem
    margin-left: -4px // magic number to align with left edge of tag - we can't do left 0 and position the tag relatively because then we'll run afoul of tag container with overflow hidden
    font-weight: normal

    // Need a little transparent bridge to fill the gap between tag and dropdown so that you don't lose hover as you mouse over
    &:before
      content: ''
      position: absolute
      display: inline-block
      width: 100%
      height: 0.5rem
      margin-top: -0.5rem

    .tag-action
      +dropdown-menu-link
      display: block

      &:hover
        +dropdown-menu-link-hover

    .tag-dropdown-static-item
      +menu-link-padding
      cursor: default
      display: inline-block
      width: 100%
      min-height: 30px // magic number - happens to be the height of normal `.tag-action`s
      color: $panel-text-secondary

      .fa
        margin-right: 0.25rem // hack, this is copied from `+menu-link` mixin

      .tag-dropdown-text
        +small
        cursor: text
        display: inline-block
        white-space: pre-line

      .tag-link
        cursor: pointer
