.tag-details

  .btn
    margin-top: 5px

  .pane-heading
    .static-tag
      +h3


  .note-count-heading
    +h2
    margin: 35px 0 25px
    font-weight: 600 // @TODO/ece Designs say "semibold" which is 600, but this font doesn't seem to have that and it just rounds up to 700, which is bold

  tag-visualization,
  force-graph
    width: 100%
    height: 300px

  .cooccurrences-wrapper
    @extend .clearfix

  .cooccurrences
    +span(12)

    @media (min-width: $screen-small)
      +gallery(6)

  .tag-list
    +plain-list
    padding-left: 15px

    .static-tag
      cursor: pointer
      padding: 2px 4px
      
      &:hover
        +tag-chiclet-active

    li
      display: block
      padding: 10px 0 0

    &.tag-list--child-tags
      .count
        color: $primary-color-light // @TODO/colors @TODO/soon This is different with new colors

      @media (min-width: $screen-small)
        li
          display: inline-block
          width: 50%

    .common-notes-link
      +text-link
      +small
      display: inline-block

.child-tag-action
  +icon-button
  margin-left: 0.5rem
