login
  display: block
  max-width: 300px
  margin: 10vh auto 0

  @media (max-height: 750px)
    margin-top: 0

  header
    text-align: center
    margin-bottom: 50px

    @media (max-height: 550px)
      margin-bottom: 20px

  .logo
    h1
      margin-bottom: 0

    .fa
      display: block
      margin-bottom: 10px

    .subheading
      color: $input-stroke
      letter-spacing: 1.2px

  input
    display: block
    width: 100%
    margin-bottom: 40px
    padding-right: 5px
    padding-left: 5px

    &:last-of-type
      margin-bottom: 5px

    &::-webkit-input-placeholder
      color: $input-stroke
    &::-moz-placeholder
      color: $input-stroke
    &:-ms-input-placeholder  
      color: $input-stroke

  .btn-primary
    width: 100%

  .sign-up-form,
  .reset-password-form
    .btn-primary
      margin: 25px 0 10px

  aside
    opacity: 0.6
    margin: 5px 0 30px
    padding: 0 10px
    font-size: 12px
    color: $input-stroke
    letter-spacing: 1.1px
    text-align: center

    a
      color: $link-color
      font-weight: bold

  .switch-sign-up-in
    text-align: center
    letter-spacing: 1.2px

    .btn
      margin-left: 20px


  .reset-password-form
    .alert-success
      opacity: 0
      visibility: hidden
      transition: opacity $transition-fast, visibility $transition-fast

    &.is--success
      .alert-success
        opacity: 1
        visibility: visible

