login
  display: block
  max-width: 300px
  margin: 10vh auto 0

  @media (max-height: 750px)
    margin-top: 0

  header
    text-align: center
    margin-bottom: 50px

    @media (max-height: 550px)
      margin-bottom: 20px

  .logo
    margin-bottom: 25px
    
    h1
      display: inline-block
      margin-bottom: 0

    .fa
      display: block
      margin-bottom: 10px

    .subheading
      color: $input-stroke
      letter-spacing: 1.2px

      // So that this one can be on top of the other as they cross-fade transition
      &.subheading--initial
        position: absolute
        left: 0
        width: 100%
        text-align: center

      transition: opacity $transition-med, visibility $transition-med
      opacity: 1
      visibility: visible

      &.is--hidden
        opacity: 0
        visibility: hidden

    .superscript
      +small
      position: absolute
      margin-left: 5px
      color: $secondary-color

  input
    display: block
    width: 100%
    margin-bottom: 40px
    padding-right: 5px
    padding-left: 5px

    &:last-of-type
      margin-bottom: 5px

    &::-webkit-input-placeholder
      color: $input-stroke
    &::-moz-placeholder
      color: $input-stroke
    &:-ms-input-placeholder  
      color: $input-stroke

  .btn-primary
    width: 100%

  .sign-up-form,
  .reset-password-form
    .btn-primary
      margin: 25px 0 10px

  aside
    +small
    opacity: 0.6
    margin: 10px 0 30px
    padding: 0 10px
    color: $input-stroke
    letter-spacing: 1.1px
    text-align: center

    a
      color: $link-color
      font-weight: bold

  .switch-sign-up-in
    text-align: center
    letter-spacing: 1.2px

    .btn
      margin-left: 10px
      padding-left: 30px
      padding-right: 30px


  .reset-password-form
    .alert-success
      opacity: 0
      visibility: hidden
      transition: opacity $transition-fast, visibility $transition-fast

    &.is--success
      .alert-success
        opacity: 1
        visibility: visible


  .sendgrid-subscription-widget
    .heading
      margin-top: 40px
      text-align: center
      font-size: 1.25em

    label span
      display: none

    input[type=submit]
      @extend .btn
      @extend .btn-primary
      margin: 25px 0

    label input
      margin-bottom: 40px
    label:last-of-type input
      margin-bottom: 5px

    .response
      max-height: 0
      margin: 0
      transition: max-height $transition-med, margin $transition-med

      &.success,
      &.error
        max-height: 40px
        text-align: center
        margin-bottom: 20px

      &.success
        color: $highlight-color
      &.error
        color: $danger-color
