.note
  +card

  position: relative
  display: block
  border-bottom: 2px solid transparent
  transition: box-shadow $transition-gonzales, border $transition-med

  note-browser &
    margin-bottom: gutter()

  padding: 54px 10px 35px gutter() // More magic numbers (correctly vertically positions header and note actions). Also, +card above has gutter-based left/right padding, but we need body input scrollbar to not be flush against body text nor flush against edge of note, which is hard to do with %-based gutters. 10px and 20px right padding (on .body-input) are close enough on all browser widths it seems, especially since right edge of text isn't clear because of non-justified left-alignment.

  .note-wrapper
    height: 100%

  .header,
  .note-actions
    position: absolute
    width: 100%
    height: 30px

  .header
    top: 5px
    left: 0

  .tags
    overflow: hidden
    width: 100%
    max-height: 40px
    padding: 0 10px
    // background-color: white
    border-bottom: 1px solid transparent

    // @TODO/animation Animation looks weird cause either max-height has to be huge or be smaller but scrollable. If scrollable then scroll bar shows during animation. For now doing max-height none and no animatino
    // transition: max-height $transition-fast, padding $transition-fast, border-color $transition-fast

  .tag-like
    cursor: pointer

    // @TODO/ece Right now hover just makes + icon change color. Should it instead flip bg color and text color like hover on tag in tag browser?
    &:hover .fa
      color: $icon-hover

    &.adding-tag
      cursor: default

      &:hover .fa
        color: $tag-color

      .new-tag-button:hover .fa
        color: $icon-hover

  .new-tag-input
    +tag-face
    width: 0
    background: none
    padding: 0

    transition: width $transition-fast, padding $transition-fast

  .adding-tag .new-tag-input
    width: 100px
    padding: 0 2px

  .new-tag-button
    cursor: pointer

    .fa
      font-size: 12px

  .note-id
    cursor: default

  .expand-tags
    +icon-button
    display: none
    position: absolute
    top: 0
    right: 0

    .go-up,
    .go-down
      +fadeable
      +faded-in

    .go-up
      +faded-out
      position: absolute
      top: 7px

  &.has--tag-overflow
    .tags
      padding-right: 30px // to make room for .expand-tags
      transition: background-color $transition-fast
    .expand-tags
      display: inline-block

  &.is--focused
    box-shadow: 0px 6px 10px 5px $shadow-color
    border-bottom: 2px solid $highlight-color

  &.is--expanded
    .expand-tags
      .go-down
        +faded-out
      .go-up
        +faded-in

    .tags
      // overflow-y: auto
      // max-height: 200px // should be more than enough, and in case not, we can scroll
      // @TODO/animation Just snapping to this for now, see note on .tags above
      max-height: none
      padding-bottom: 10px
      border-color: $shadow-border
      background-color: $primary-color-contrast

  .time
    display: none // @TODO/ece @TODO/rewrite/styles how will we show timestamps? (show with "explore" or info, tooltip, popup)


  .body-input
    resize: none
    width: 100%
    min-height: 30px
    max-height: 133px // 6.5 lines of text (so that clipping is obvious)
    padding: 2px 20px 2px 2px // see note about right padding in base .note styles
    border: 0
    outline: none
    white-space: pre-wrap

    transition: max-height $transition-fast

  &.is--focused .body-input
    max-height: calc(#{$full-height} - 100px) // magic numbers - 100px is about the vertical padding of note element plus a bit to spare

  .route--browse & .body-input
    max-height: none
    height: 133px


  .note-actions
    height: 30px
    left: 0;
    bottom: 2px
    padding: 0 10px

    text-align: right
    font-size: 20px

  .note-action
    +icon-button

    position: relative

    &:last-child
      margin-right: 0

  .note-action--open
    float: left

  .note-action--private
    .locked
      display: none

    &:hover,
    &.is--active
      .locked
        display: inline-block
      .unlocked
        display: none

    &.is--active:hover
      .locked
        display: none
      .unlocked
        display: inline-block

  .explore
    z-index: 1
    position: absolute
    top: 100%
    left: 5px
    width: calc(100% - 10px)
    height: 0
    padding: 0 15px
    overflow-y: auto
    background: fade-out($primary-color, 0.05)
    color: $primary-color-contrast

    transition: opacity $transition-fast, visibility $transition-fast, max-height $transition-fast ease-in, padding $transition-fast ease-out
    +faded-out

  &.show--explore
    .explore
      +faded-in
      height: calc(100vh - #{$header-height} - 100% - 15px) // 100% to get note height, 15px to give a bit of breathing room
      padding: 15px

      @media (max-height: 600px)
        height: 300px


  .note-action .fa
    transition: opacity $transition-fast, visibility $transition-fast, width $transition-fast
    opacity: 0.5
  .note-actions:hover .note-action .fa
    opacity: 1

  note-browser &
    .note-action .fa
      +faded-out
      width: 0

    &.is--focused .note-action .fa,
    &:hover .note-action .fa
      visibility: visible
      opacity: 0.5
      width: 1.3em // just copied from what font-awesome gives to fixed width icons

    .note-action.is--active,
      .fa
        +faded-in
        width: 1.3em


    .body-input
      overflow: hidden

      &:focus
        overflow-y: auto

    &:hover
      .body-input
        overflow-y: auto


  home &.open-note
    .body-input
      max-height: none
      height: 100%
      padding-left: 10px

      +susy-breakpoint($screen-small, $susy)
        // These achieve a "max width" of 600px while filling the rest with padding. Additionally, it's aligned a little towards the left from centered
        padding-right: calc(75% - 450px)
        padding-left: calc(25% - 150px)
