note-browser
  note
    height: 232px // Sort of a magic number that gives us 7 lines of text after header and actions
    margin-bottom: gutter()
    padding: 54px gutter() 30px // More magic numbers

    &:last-of-type
      margin-bottom: 0

    @at-root
      .open-note-indicator
        display: none

    .route--write &.is--open
      height: auto
      padding-top: 25px
      padding-bottom: 25px

      & .open-note-indicator
        display: block
      & .note-wrapper
        display: none
