note-browser
  note
    @at-root
      .open-note-indicator
        display: none

    .route--write &.is--open
      height: auto
      padding-top: 25px
      padding-bottom: 25px

      & .open-note-indicator
        display: block
      & .note-wrapper
        display: none
