note-query
  display: flex
  align-items: center

  padding: 2px 15px 1px


  // Active/inactive styles
  transition: color $transition-fast, border-color $transition-fast
  border-bottom: 1px solid transparent
  color: transparent
  .text-input
    border: 0
    padding: 2px 0 0 // nudge down to align nicely with bottom border and tag chiclet
    transition: opacity $transition-fast
    opacity: 0

  &:hover,
  &.is--active
    +input-underline
    color: $primary-color
    .text-input
      opacity: 1
  // End active/inactive styles


  .tags
  .controls
    flex: 1
    white-space: nowrap

  tag
    position: relative
    margin-top: -10px // @TODO Magic number to make note-query bottom border not move down when tags are visible
    margin-bottom: 0

  .text-input
    flex: 5

  .note-count
    margin-right: 4px
    font-weight: bold
    letter-spacing: 1.2px

  .sort-dropdown
    position: relative
    display: inline-block
    top: -2px // magic number, too lazy to figure out why this is necessary
    width: 150px;
    margin-right: 4px

    // @NOTE: A bunch of the following styles are copying bootstrap styles needed by the ng-select component. These should probably be elsewhere as a reusable generic dropdown.

    .ui-select-container
      outline: 0 !important

    .ui-select-toggle
      cursor: pointer
      user-select: none
      touch-action: manipulation

      display: inline-block
      vertical-align: middle
      height: auto

      padding: 0 25px 0 0
      border: 0
      box-shadow: none

      background: none
      color: inherit
      font-weight: normal
      letter-spacing: 1.1px
      line-height: 1
      text-transform: none

    .dropdown
      position: relative

    .dropdown-menu
      +plain-list
      +menu-dropdown
      position: absolute
      max-height: none
      top: 100%
      z-index: 1000
      display: none
      margin: -17px 0 0 // magic number to vert align with note count text

    .open
      input
        // The plugin lets users search within the dropdown - ours is so small that let's hide this and just use the dropdown popup.
        position: absolute
        height: 0
        padding: 0

      > .dropdown-menu
        display: block

    .ui-select-choices .ui-select-choices-row // extra specificity to override their styles
      .dropdown-item
        +menu-link

      &.active .dropdown-item
        +menu-link-hover

  .control-icon
    +icon-button
    +h3
    position: relative
    top: -2px;

