note
  +card

  position: relative
  display: block

  note-browser &
    height: 232px // Sort of a magic number that gives us 7 lines of text after header and actions in Note Browser
    margin-bottom: gutter()

  padding: 54px 10px 30px gutter() // More magic numbers (correctly vertically positions header and note actions). Also, +card above has gutter-based left/right padding, but we need body input scrollbar to not be flush against body text nor flush against edge of note, which is hard to do with %-based gutters. 10px and 20px (on .body-input) are close enough on all browser widths it seems, especially since right edge of text isn't clear because of non-justified left-alignment.

  .note-wrapper
    height: 100%

  .header,
  .note-actions
    position: absolute
    width: 100%
    height: 30px

  .header
    top: 5px
    left: 0
    padding: 0 10px

  .tags
    // @TODO/ece How do we show all tags on a note?
    +single-line-truncate
    width: 100%

  .new-tag
    +tag-chiclet
    +tag-face
    cursor: pointer

    &:hover .fa
      color: $link-hover

    &.adding-tag
      cursor: default

      &:hover .fa
        color: $tag-color

      .new-tag-button:hover .fa
        color: $link-hover

  .new-tag-input
    +tag-face
    width: 0
    background: none
    padding: 0

    transition: width 0.2s, padding 0.2s

  .new-tag.adding-tag .new-tag-input
    width: 100px
    padding: 0 2px

  .new-tag-button
    cursor: pointer

    .fa
      font-size: 12px

  .time
    display: none // @TODO/ece @TODO/rewrite/styles how will we show timestamps? (show with "explore" or info, tooltip, popup)


  .body-input
    width: 100%
    height: 100%
    resize: none
    padding-right: 20px // see note on padding-right in base .note styles
    border: 0


  .note-actions
    height: 30px
    left: 0;
    bottom: 2px
    padding: 0 10px

    text-align: right
    color: $gray-dark
    font-size: 20px

    &:before
      content: ''
      display: inline-block
      position: absolute
      width: 100%
      height: 25px
      left: 0
      top: -20px
      background-image: linear-gradient(transparent, $card-bg)

  .note-action
    margin-right: 5px
    position: relative

    &:last-child
      margin-right: 0

  .note-action--open
    float: left


  note-browser &
    .note-actions
      display: none

    .body-input
      overflow: hidden

      &:focus
        overflow-y: scroll

    &:hover
      .note-actions
        display: block

      .body-input
        overflow-y: scroll


  home &.open-note
    .body-input
      padding-left: 10px
      
      +susy-breakpoint($screen-small, $susy)
        // These achieve a "max width" of 600px while filling the rest with padding. Additionally, it's aligned a little towards the left from centered
        padding-right: calc(75% - 450px)
        padding-left: calc(25% - 150px)
