// see also styles for .query-controls in _forms.sass

note-query
  display: flex
  align-items: center

  padding: 2px 15px 1px

  +input-underline
  &.is--focused
    +input-underline-active

  .text-input
    border: 0
    padding: 2px 0 0 // nudge down to align nicely with bottom border and tag chiclet

  // Active/inactive styles
  .setting--minimalistHeader &
    transition: color $transition-fast, border-color $transition-fast
    border-bottom-color: transparent
    color: transparent

    .count,
    .sort-dropdown,
    .text-input
      transition: opacity $transition-fast
      opacity: 0

    &:hover,
    &.is--active
      +input-underline
      color: $primary-color

      .count,
      .sort-dropdown,
      .text-input
        opacity: 1
  // End active/inactive styles

  .tags
  .query-controls
    flex: 1
    white-space: nowrap

  tag
    position: relative
    margin-top: -10px // @TODO Magic number to make note-query bottom border not move down when tags are visible
    margin-bottom: 0

  .text-input
    flex: 5

  .control-icon
    +h3

  .sort-dropdown
    width: 150px;
    margin-right: 4px
