settings
  .pane-layout .pane
    padding-bottom: 4rem

  .logo h1
    margin-top: 15px

  input[type=text],
  input[type=email],
  input[type=password]
    width: 100%
    margin-bottom: 0.5rem
    padding-bottom: 2px
    text-overflow: ellipsis

  input
    & + input[type=text],
    & + input[type=email],
    & + input[type=password]
      margin-top: 0.25rem

  .notes
    +small
    text-align: right
    color: $primary-color

  .text-link,
  .danger-link
    +small

  &.settings--shortcuts
    table
      max-width: 500px

    thead td
      +h4

    td
      height: 35px

    input
      max-width: 100px

  &.settings--account
    td:first-child
      // Currently, account settings are set up sort of heading in first column, actions in left
      +h4
      width: 250px

    td:nth-child(2) // i.e. the column with inputs
      width: 300px

  .avatar
    width: 120px
    height: 120px

  feedback,
  private-mode
    h3
      // Use the settings pane heading instead
      display: none


  setting,
  .setting
    @extend .clearfix
    display: block
    max-width: span(5 of 8) // @TODO/responsiveness
    margin: 1rem 0

    .btn
      float: right

  .heading
    position: relative
    +setting-heading
    margin-bottom: 0.5rem

  .setting--type-boolean
    margin: 0.5rem 0

    .heading
      // Override +setting-heading
      margin: 0
      +base-font-size
      font-weight: normal
      color: $primary-color
      text-transform: none
      letter-spacing: normal

      +checkbox-wrapper

  .revert
    display: inline-block
    margin-top: 1.5rem

  // @HACK To make the spacing look good on Settings screen for now
  .setting-bgImageUrl
    margin-bottom: 2.5rem

  .smod
    opacity: 0.5

  .save-notice
    +fadeable
    +faded-out
    position: absolute
    left: -1.5rem
    top: 2px
    color: $primary-color

    &.fa-spin // template triggers this class when saving
      +faded-in

  h4
    +pane-subheading
