settings
  .logo h1
    margin-top: 15px

  td
    vertical-align: top

  .notes
    color: $primary-color
    width: 250px
    max-width: 75%
    margin-left: 1em

    a
      +text-link

  .avatar
    position: absolute
    top: 15px
    right: 15px
    width: 100px
    height: 100px

  feedback,
  private-mode
    h3
      // Use the settings pane heading instead
      display: none

setting,
.setting
  display: table-row

  input
    margin-bottom: 5px
