.tag-like
  +tag-chiclet
  +tag-face

tag,
.static-tag // elements for which we don't need all the compononent logic
  +tag-face
  
  &:before
    content: '#'
    opacity: 0.33
    margin-right: 1px

tag
  +tag-chiclet

  &.is--active
    +tag-chiclet-active

  .name-wrapper
    +single-line-truncate
    display: inline-block
    max-width: 150px
    vertical-align: top

    .route--browse &
      max-width: 80px // @TODO/ece What do you think about shrinking it for this view?

  .tag-value-hover
    display: none
  &.dropdown-enabled.hovered .tag-value-hover
    display: inline

  .tag-actions
    // @TODO/ece What's the tag action flow? must include easy toggle and remove from note
    // @TODO/ece Still need a way to view all tags
    display: none

  &:hover .tag-actions
    display: inline-block

  // Hide, because any actions can be shown in the dropdown
  &.dropdown-enabled .tag-actions
    display: none

  // Remove clipping name overflow in some situations:
  &.dropdown-disabled:hover,
  &.heading,
  &.renaming
    .name-wrapper
      display: inline
      white-space: normal
      max-width: none

  // &.dropdown-enabled:hover // @TODO/ece Should this happen on hover, or on the 0.25s-delayed .hover classs?
  &.dropdown-enabled.hovered
    +menu-dropdown
    +tag-face
    border-color: $menu-dropdown-bg-color

    // @TODO/now This fixes the problem of a now-expanded tag overflowing tags container and going into new line, but it cause subsequent tags to up. Proper solution would maybe be to use JS to fix the tag width at its current value, but have the contents be absolutely positioned so it overflows. When this is fixed, it can happen on :hover instead of .hovered
    // position: absolute
    // z-index: 1
    // white-space: nowrap

    .name-wrapper
      max-width: none

  .tag-action
    +icon-button
    // @TODO/ece On note tags should this remove X be primary or secondary?

  &.renaming
    .name
      min-width: 100px
      margin-bottom: -1px // account for the 1px border now that it's contenteditable, plus extra padding
    .tag-actions
      display: none

  .accept-rename
    +icon-button
    color: $tag-color

  .count
    color: $primary-color-light
    margin-left: 4px

  note-query & .tag-action--remove
    cursor: pointer
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    text-align: center
    background-color: $white-overlay
    color: $primary-color

    &:hover
      color: $primary-color

  .tag-actions-dropdown
    // @TODO/bug Dropdown can get hidden off right edgeof the screen (also making horizontal scrollbar appear)
    // @TODO/bug For very long tag names this is SHORTER and looks a bit weird, and for very very long tag names, the box shadow from .tag-actions doesn't go far enough back... looks weird

    +menu-dropdown

    z-index: 1
    position: absolute
    width: 200px
    margin-top: 4px // matching bottom padding of tag chiclet
    margin-left: -4px // magic number to align with left edge of tag - we can't do left 0 and position the tag relatively because then we'll run afoul of tag container with overflow hidden
    font-weight: normal

    .tag-action
      +menu-link
      display: block

      &:hover
        +menu-link-hover
