tag
  +tag-face

  display: inline-block
  margin: 5px 10px 5px 0

  .tag-actions
    // @TODO/ece What's the tag action flow? must include easy toggle and remove from note
    display: none

    note-query &
      display: inline
      // @TODO/rewrite/tags @TODO/ece Also hover cover X for search bar

  &:hover .tag-actions
    display: inline
