tag-browser

  .tag-pane
    +card
    min-height: $full-height
    padding: 20px $pane-horizontal-padding

  .tag-pane
    +span(8 last)
    position: relative

  .menu.menu--tag-home
    margin-bottom: 40px
    padding-bottom: 20px
    border-bottom: 1px solid $input-stroke

  .search-bar
    +input-underline

    .text-input
      border: 0
      padding: 0
      letter-spacing: 1.1px

    .clear
      float: right

  .controls
    font-weight: bold
    margin: 10px 0 20px

    .new
      float: right


  .tag-wrapper
    +span(2 of 4)

    &:nth-child(2n+1)
      +span(2 of 4 last)

  .tag-list tag
    cursor: pointer
    display: inline-block

    &:hover
      +tag-chiclet-active
