tag-browser

  .tag-pane
    +card
    min-height: $full-height
    padding: 20px $pane-horizontal-padding

  .tag-pane
    +span(8 last)
    position: relative

  .menu.menu--tag-home
    margin-bottom: 40px
    padding-bottom: 20px
    border-bottom: 1px solid $input-stroke

  .search-bar
    +input-underline

    .text-input
      border: 0
      padding: 0
      letter-spacing: 1.1px

    .clear
      float: right

  .controls
    font-weight: bold
    margin: 10px 0 20px

  // @TODO/ece How are the styles for this?
  .add-new-tag
    @extend .tag-like
    cursor: pointer

    .text
      color: $input-stroke

    .fa
      color: $icon-color
    &:hover .fa
      color: $icon-hover

  .tag-wrapper
    position: relative

    tag
      cursor: pointer
      display: inline-block

      &.hovered
        +tag-chiclet-active

    .caret-wrapper
      +icon-button
      position: absolute
      top: 5px // magic number to center align with tag
      right: 0

    // @TODO/ece @TODO/now How's the styling here? It's identical to the dropdown menus elsewhere
    .menu .item
      +base-font-size
      +menu-link
      +base-line-height
      padding-left: gutter() * 5

    &.is--expanded tag
      +tag-chiclet-reset
      cursor: default

      .name-wrapper
        cursor: text // cause you can rename just by clicking on it

      .tag-actions
        display: inline-block
      &.renaming .tag-actions
        display: none



  .all-tags force-graph
    position: absolute
    top: 0
    left: 0
    // @TODO/ece Should this go all the way to the edge of the card, or leave normal padding?
    width: 100%
    height: 100%
