tag-browser

  .tag-list,
  .tag-pane
    +card
    min-height: $full-height
    padding: 20px 25px

  .tag-list
    +span(4)

  .tag-pane
    +span(8 last)

  .search-bar
    +input-underline

    .text-input
      border: 0
      padding: 0
      letter-spacing: 1.1px

    .clear
      float: right

  .controls
    font-weight: bold
    margin: 10px 0 20px

    .new
      float: right


  .tag-wrapper
    +span(2 of 4)

    &:nth-child(2n+1)
      +span(2 of 4 last)

  .tag-list tag
    cursor: pointer
    display: inline-block

    &:hover
      +tag-chiclet-active


  #tag-graph
    width: 100%
    height: 550px

    .link
      stroke: #999
      stroke-opacity: 0.5

    .node
      circle
        // stroke: #fff
        // stroke-width: 1.5px
        fill: $secondary-color
        &.is--prog
          fill: $primary-color-light
          stroke: $secondary-color
          stroke-width: 1px

      &:hover circle
        fill: $highlight-color

      text
        +small
        cursor: default
        user-select: none

        &.is--faded
          transition: opacity $transition-fast
          opacity: 0.1

      &:hover text
        font-weight: bold
        
        &.is--faded
          opacity: 1
