!!!
html(lang='en', ng-app='nutmeg')

  head

    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(charset='utf-8')

    title nutmeg
    link(rel="shortcut icon", href="/favicon.png")
    link(rel="author", href="https://plus.google.com/+TobyFox/posts")

    -each style in styles
      link(rel='stylesheet', href= style)
    -each script in scripts
      script(src= script)

  body(ng-controller="Nutmeg")
    block content