extends header

block content

  // we can call focus on this in order to blur all
  input#blur-hack(style="position: absolute; opacity: 0;")

  //- only remove modal on click if logged in - otherwise we're closing the login window on a blank screen
  div#modalclickoff(ng-click="!u.loggedIn || m.closeModal()", ng-show="m.modal")
  div#modal.modaloff(ng-class="{modalon: m.modal, modaloff: !m.modal, 'large-circle': m.modal == 'shortcuts' || m.modalLarge }", ng-click="!u.loggedIn || m.closeModal()")
    h1#title(ng-show="!u.loggedIn") nutmeg
    div#circle-holder
      a#close-modal(ng-click="m.closeModal()", ng-show="u.loggedIn") x
      div.circle(ng-click="$event.stopPropagation()")

        div(ng-show="m.modal == 'about'")
          h3 about
          p The <b>nutmeg</b> tree is any of several species of trees in genus <b>Myristica</b>. The nutmeg tree is important for two spices derived from the fruit: nutmeg and mace.

        div.shortcuts(ng-show="m.modal == 'shortcuts'")
          h3 shortcuts
          p.shortcut-modkey
            label modifier key: 
              input(type="text", ng-model="s.modEditing")
              | 
              span.tooltip(data-tooltip="This will prefix all of these shortcuts. Your options are:\n\n- 'ctrl'\n- 'shift'\n- 'alt'\n- 'option'\n- 'command' (only on Mac)\n- 'meta' (doesn't work?)\n- 'mod' ('ctrl' on a PC, 'command' on a Mac).\n\nYou can also combine them, e.g. 'ctrl+shift', or leave blank to control different shortcuts separately.")
                i.fa.fa-info-circle.fa-lg
          table
            thead
              tr
                th Action
                th Shortcut 
                  span.tooltip(data-tooltip="Simply type in a letter or symbol, or one of the following: backspace, tab, enter, return, capslock, esc, escape, space, pageup, pagedown, end, home, left, up, right, down, ins, del\n\nYou may include modifier keys in here too, e.g. 'shift+alt+backspace'")
                    i.fa.fa-info-circle
            tbody
              tr(ng-repeat="shortcut in s.shortcutsEditing", ng-show="!shortcut.overkill")
                td {{shortcut.name}} 
                  span.tooltip(ng-show="shortcut.description", ng-attr-data-tooltip="{{shortcut.description}}")
                    i.fa.fa-info-circle
                td
                  label
                    span(ng-show="s.modEditing") {{s.modEditing}}+
                    input(type="text", ng-model="shortcut.binding")
          p
            i Note: Different browsers and operating systems handle web site shortcuts differently. You might find that some combinations don't work.
          div.button-holder
            input(type="submit", value="cancel", ng-click="s.cancel()")
            input(type="submit", value="defaults", ng-click="s.revert()")
            input(type="submit", value="save", ng-click="s.save()")

        div.settings(ng-show="m.modal == 'settings'")
          h3 settings
          table
            tbody
              tr(ng-repeat="(setting, val) in c.config", ng-show="c.info[setting].section == 'settings' && !c.info[setting].overkill")
                td {{c.info[setting].humanName}} 
                  span.tooltip(ng-show="c.info[setting].description", ng-attr-data-tooltip="{{c.info[setting].description}}")
                    i.fa.fa-info-circle
                td
                  label
                    //- for ng-model we can't use `val`, see https://github.com/angular/angular.js/wiki/Understanding-Scopes
                    input(type="checkbox", ng-model="c.config[setting]")
          div.button-holder
            input(type="submit", value="cancel", ng-click="c.cancel('settings')")
            input(type="submit", value="defaults", ng-click="c.revert('settings')")
            input(type="submit", value="save", ng-click="c.save()")

        div.layout(ng-show="m.modal == 'layout'")
          h3 layout
          table
            tbody
              tr(ng-repeat="(setting, val) in c.config", ng-show="c.info[setting].section == 'layout' && !c.info[setting].overkill")
                td {{c.info[setting].humanName}} 
                  span.tooltip(ng-show="c.info[setting].description", ng-attr-data-tooltip="{{c.info[setting].description}}")
                    i.fa.fa-info-circle
                td
                  label
                    //- for ng-model we can't use `val`, see https://github.com/angular/angular.js/wiki/Understanding-Scopes
                    input(type="checkbox", ng-model="c.config[setting]")
          div.button-holder
            input(type="submit", value="cancel", ng-click="c.cancel('layout')")
            input(type="submit", value="defaults", ng-click="c.revert('layout')")
            input(type="submit", value="save", ng-click="c.save()")

        div.feedback(ng-show="m.modal == 'feedback'")
          h3 feedback 
          //- if submitFeedback() returns true, clear fields and close modal
          form(ng-submit="submitFeedback(feedback, name) && ((feedback='') || (name='') || m.closeModal())")
            textarea(placeholder="Bug reports and suggestions are eagerly awaited. You'll hear from me personally.", ng-model="feedback")
            input(type="text", placeholder="name (optional)", ng-model="name")
            input(type="submit", value="submit")

        div(ng-show="m.modal == 'login'")
          h3 log in
          form(ng-submit="u.login(u.email, u.password);")
            input(type="email", placeholder="email", ng-model="u.email")
            input(type="password", placeholder="password", ng-model="u.password")
            input(type="submit", value="go", ng-hide="u.loading")
            p.loader(ng-show="u.loading")
              img(src="/img/loader-white.gif")
          p or 
            a(ng-click="m.modal='createaccount'") create an account

        div(ng-show="m.modal == 'createaccount'")
          form(ng-submit="u.createAccount(u.email, u.pass1, u.pass2);")
            h3 create an account
            input(type="email", placeholder="email", ng-model="u.email")
            input(type="password", placeholder="password", ng-model="u.pass1")
            input(type="password", placeholder="password again", ng-model="u.pass2")
            input(type="submit", value="go", ng-hide="u.loading")
            p.loader(ng-show="u.loading")
              img(src="/img/loader-white.gif")

        div(ng-show="m.modal == 'alert'")
          h3 {{m.modalTitle}}
          div.custom-body(ng-bind-html="m.modalBody")
          div.button-holder
            input(type="submit", value="{{m.modalOK}}", ng-click="m.closeModal()")


  div#nonmodal(ng-class="{modalon: m.modal, loggedout: !u.loggedIn}", ng-cloak)

    span#sync-status.tooltip(ng-class="digest.status", ng-attr-data-tooltip="Notes {{digest.status}}")
      i.cloud.fa.fa-cloud-upload

    div#menu
      ul
        li(ng-click="m.modal='about'") about 
          i.fa.fa-fw.fa-info-circle
        li(ng-click="m.modal='feedback'") feedback 
          i.fa.fa-fw.fa-comment-o
        li.incomplete export 
          i.fa.fa-fw.fa-share-square-o
        li.incomplete importer 
          i.fa.fa-fw.fa-download
        li(ng-click="m.modal='layout'; c.backup('layout')") layout 
          i.fa.fa-fw.fa-list.fa-flip-horizontal
        li(ng-click="m.modal='shortcuts'") shortcuts 
          i.fa.fa-fw.fa-keyboard-o
        li(ng-click="m.modal='settings'; c.backup('settings')") settings 
          i.fa.fa-fw.fa-gears
        li.incomplete(ng-show="u.loggedIn") account 
          i.fa.fa-fw.fa-user
        li(ng-show="u.loggedIn", ng-click="u.auth.logout()") log out 
          i.fa.fa-fw.fa-power-off
        li(ng-show="!u.loggedIn", ng-click="m.modal='login'") log in 
          i.fa.fa-fw.fa-sign-in
      img#menuimage(src="/img/nutmeg40h.png", alt="nutmeg")

    div#query.flex-container
      i.fa.fa-search(ng-click="q.focus()")
      span.tags
        span.tag(ng-repeat="tagId in q.tags", ng-click="q.removeTag(tagId)")
          | {{t.tags[tagId].name}}
          span.hover-cover
            i.fa.fa-times
      input.search.flex.mousetrap(type="text", placeholder="search", ng-model="q.query", nm-query="q.query", tabindex=1, ng-focus="q.setupAutocomplete()")
      span.clear-query(ng-click="q.clear()")
        i.fa.fa-times

    div#main(ng-class="{'hide-tag-browser': !c.config.showTagBrowser}")

      div#left
        div#nuts
          div.header
            span#new-nut(ng-click="n.createNut({})")
              i.fa.fa-plus
            span.right
              span.count {{n.countShownNuts()}}
              span.sort
                label Sort by 
                  select#nut-sort-select(ng-change='n.assignSortVals(n.sortBy)', ng-model='n.sortBy', ng-options='o as o.name for o in n.sortOpts', tabindex=3)
                  | 
                i.fa.fa-refresh(ng-click='n.assignSortVals(n.sortBy); q.doQuery();')

          //- number of notes in search results, just need to figure out how to style:
          //- div {{q.showAll ? n.nuts.length : q.showNuts.length}}

          ul
            //- NOTE: maybe should let n.assignSortVals() handle q.showNuts too, and ng-show="nut.sortVal" ?
            li.nut(ng-repeat="nut in n.nuts | orderBy:'sortVal' track by $index", ng-show="q.showAll || q.showNuts.indexOf(nut.id) !== -1", id="nut-{{nut.id}}")
              nm-nut

      div#right
        div#tagContainer
          i.fa.fa-tags
          span#new-tag(ng-click="t.creatingTag=true;")
            i.fa.fa-plus
          br
          span.sort
            label Sort by 
              select(ng-model='t.sortBy', ng-options='o as o.name for o in t.sortOpts')
          input.moustrap(type="text", placeholder="search tags", ng-model="tagQuery")
          i.fa.fa-wrench.show-tag-options(ng-click="showOptions = showOptions ? false : true", ng-class="{on: showOptions}")

          ul#taglist(ng-class="{'show-options': showOptions}")
            li.tag.new-tag(ng-show="t.creatingTag")
              form(ng-submit="t.createTag({name: t.createTagName})")
                input(type="text", ng-model="t.createTagName", ng-blur="t.creatingTag=false; t.createTagName='';" nm-focus="t.creatingTag", placeholder="tag name")
            nm-tag(ng-repeat="tag in t.tags | orderBy:t.sortBy.field:t.sortBy.rev track by $index", ng-hide="!tag", ng-show="!tagQuery || tag.name.toLowerCase().indexOf(tagQuery.toLowerCase()) !== -1")
