extends header

block content
  h1#title= title
  div#query(ng-controller="Query")
    img(src="/img/nutmeg40h.png")
    input(type="text", placeholder="search")

  //- can add .tab-hidden
  div#main
    div#left
      div#nuts(ng-controller="Nuts")
        div.header
          span (nutmeg icon)s
          span#new-nut +
          span.sort
            label(for="nut-sort-select") Sort by 
            select#nut-sort-select
              option(value="modified,desc") Recently modified
              option(value="modified,asc") Oldest modified
              option(value="created,desc") Recently created
              option(value="created,asc") Oldest created
              option(value="length,desc") Longest
              option(value="length,asc") Shortest
              option(value="tags,desc") Most tags
              option(value="tags,asc") Fewest tags
              option(value="query,desc") Query match strength
        ul
    div#right
      div#tagContainer(ng-controller="Tags")
        span (tag icon)s
        br
        span.sort
          label(for="tag-sort-select") Sort by 
          select(ng-model='t.sortBy', ng-options='o as o.name for o in sortOpts')
        input(type="text", placeholder="search")
        ul#taglist
          li.tag(ng-repeat="tag in tags | orderBy:t.sortBy.field:t.sortBy.rev")
            {{tag.name}} ({{tag.docs.length}})