extends header

block content

  //- only remove modal on click if logged in - otherwise we're closing the login window on a blank screen
  div#modalclickoff(ng-click="!u.loggedIn || (m.modal = false)", ng-show="m.modal")
  div#modal.modaloff(ng-class="{modalon: m.modal, modaloff: !m.modal}", ng-click="!u.loggedIn || (m.modal = false)")
    h1#title(ng-show="!u.loggedIn") nutmeg
    div#circle-holder
      a#close-modal(ng-click="m.modal = false", ng-show="u.loggedIn") x
      div.circle(ng-click="$event.stopPropagation()")

        div(ng-show="m.modal == 'about'")
          h3 about
          p The <b>nutmeg</b> tree is any of several species of trees in genus <b>Myristica</b>. The nutmeg tree is important for two spices derived from the fruit: nutmeg and mace.

        div.feedback(ng-show="m.modal == 'feedback'")
          h3 feedback 
          //- if submitFeedback() returns true, clear fields and close modal
          form(ng-submit="submitFeedback(feedback, name) && ((feedback='') || (name='') || (m.modal = false))")
            textarea(placeholder="Bug reports and suggestions are eagerly awaited. You'll hear from me personally.", ng-model="feedback")
            input(type="text", placeholder="name (optional)", ng-model="name")
            input(type="submit", value="submit")

        div(ng-show="m.modal == 'login'")
          h3 log in
          form(ng-submit="u.login(u.email, u.password);")
            input(type="email", placeholder="email", ng-model="u.email")
            input(type="password", placeholder="password", ng-model="u.password")
            input(type="submit", value="go", ng-hide="u.loading")
            p.loader(ng-show="u.loading")
              img(src="/img/loader-white.gif")
          p or 
            a(ng-click="m.modal='createaccount'") create an account

        div(ng-show="m.modal == 'createaccount'")
          form(ng-submit="u.createAccount(u.email, u.pass1, u.pass2);")
            h3 create an account
            input(type="email", placeholder="email", ng-model="u.email")
            input(type="password", placeholder="password", ng-model="u.pass1")
            input(type="password", placeholder="password again", ng-model="u.pass2")
            input(type="submit", value="go", ng-hide="u.loading")
            p.loader(ng-show="u.loading")
              img(src="/img/loader-white.gif")

        div(ng-show="m.modal == 'alert'")
          h3 {{m.modalTitle}}
          div(ng-bind-html="m.modalBody")
          div.button-holder
            input(type="submit", value="{{m.modalOK}}", ng-click="m.modal = false")


  div#nonmodal(ng-class="{modalon: m.modal, loggedout: !u.loggedIn}", ng-cloak)

    span#sync-status.tooltip(ng-class="digest.status", ng-attr-data-tooltip="Notes {{digest.status}}")
      i.cloud.fa.fa-cloud-upload

    div#menu
      ul
        li(ng-click="m.modal='about'") about
        li(ng-click="m.modal='feedback'") feedback
        li.incomplete export
        li.incomplete importer
        li.incomplete shortcuts
        li.incomplete settings
        li.incomplete(ng-show="u.loggedIn") account
        li(ng-show="u.loggedIn", ng-click="u.auth.logout()") log out
        li(ng-show="!u.loggedIn", ng-click="m.modal='login'") log in
      img#menuimage(src="/img/nutmeg40h.png", alt="nutmeg")

    div#query
      label
        i.fa.fa-search
        input(type="text", placeholder="search", ng-model="q.query", nm-query="q.query")
      span.clear-query(ng-click="q.query=''")
        i.fa.fa-times

    //- can add .tab-hidden
    div#main

      div#left
        div#nuts
          div.header
            span#new-nut(ng-click="n.createNut({})")
              i.fa.fa-plus
            span.sort
              label Sort by 
                select#nut-sort-select(ng-change='n.assignSortVals(n.sortBy)', ng-model='n.sortBy', ng-options='o as o.name for o in n.sortOpts')
                | 
              i.fa.fa-refresh(ng-click='n.assignSortVals(n.sortBy)')

          ul
            //- ng-show="nut && [...]" to avoid showing undefined nuts (happens when deleting nuts and resulting sparse arrays) and to filter by query
            //- NOTE: maybe should let n.assignSortVals() handle both, and ng-show="nut.sortVal"
            li.nut(ng-repeat="nut in n.nuts | orderBy:'sortVal' track by $index", ng-show="nut && (q.showAll || q.showNuts.indexOf(nut.id) !== -1)")
              div.tags
                span.tag(ng-repeat="tagId in nut.tags",  ng-click="q.query = q.query == t.tags[tagId].name + ' ' ? '' : t.tags[tagId].name + ' '")
                  | {{t.tags[tagId].name}}
                  span.tracker {{t.tags[tagId].tracker ? nut.id : ''}} 
                  span.delete(ng-click="n.removeTagIdFromNut(tagId, nut.id)")
                    i.fa.fa-times
                | 
                span.tag(ng-show="addingTag")
                  form(ng-submit="n.addTagNameToNut(n.addTagName, nut); addingTag=false")
                    input(type="text", ng-model="n.addTagName", ng-blur="addingTag=false; n.addTagHack()", nm-focus="addingTag", placeholder="tag name")
                //- HACK
                  want to make sure user can hit the '+' to add the tag. but blur fires too quickly and won't not fire: http://stackoverflow.com/questions/20822978/blur-event-not-firing-on-label
                  a solution:
                  n.addTagHack() above sets n.addTagHackFieldJustBlurred to true for 50ms, then back to false
                  in this way we can tell, when hitting add-tag-to-nut, whether the field was just open
                  if it was, then do addTagNameToNut() (which returns false, setting addingTag to false)
                  if not, field's been closed for a while, so set addingTag to true to show it
                span.add-tag-to-nut(ng-click="addingTag = n.addTagHackFieldJustBlurred ? n.addTagNameToNut(n.addTagName, nut) : true;")
                  i.fa.fa-plus &nbsp;
              div.clear
              div.tawrapper
                div.icons
                  a.time.tooltip(ng-attr-data-tooltip='{{"created: " + (nut.created | date:"medium") + "\nmodified: " + (nut.modified | date:"medium")}}')
                    i.fa.fa-clock-o
                  a.delete(ng-click="n.deleteNut(nut)")
                    i.fa.fa-trash-o
                textarea(id="nut-{{nut.id}}-ta", ng-model="nut.body", ng-focus="n.nutFocus(nut)", ng-blur="n.nutBlur(nut)", ng-change="digest.status='unsynced'; n.autosizeNutById(nut.id)")

      div#right
        div#tagContainer
          i.fa.fa-tags
          span#new-tag(ng-click="t.creatingTag=true;")
            i.fa.fa-plus
          br
          span.sort
            label Sort by 
              select(ng-model='t.sortBy', ng-options='o as o.name for o in t.sortOpts')
          input(type="text", placeholder="search tags")
          i.fa.fa-cogs.show-tag-options(ng-click="showOptions = showOptions ? false : true", ng-class="{on: showOptions}")

          ul#taglist(ng-class="{'show-options': showOptions}")
            li.tag.new-tag(ng-show="t.creatingTag")
              form(ng-submit="t.createTag({name: t.createTagName})")
                input(type="text", ng-model="t.createTagName", ng-blur="t.creatingTag=false; t.createTagName='';" nm-focus="t.creatingTag", placeholder="tag name")
            li.tag(ng-repeat="tag in t.tags | orderBy:t.sortBy.field:t.sortBy.rev track by $index", ng-click="q.query = q.query == tag.name + ' ' ? '' : tag.name + ' '", ng-hide="!tag")
              | {{tag.name}} ({{tag.docs ? tag.docs.length : 0}}) 
              span.icons
                a.delete(ng-click="$event.stopPropagation(); t.deleteTag(tag)")
                  i.fa.fa-trash-o
                a.edit(ng-click="$event.stopPropagation(); t.editTag(tag)")
                  i.fa.fa-pencil
                a.toggle(ng-class="{on: tag.tracker}", ng-click="tag.tracker = tag.tracker ? null : true; t.tagUpdated(tag.id); $event.stopPropagation()")
                  i.fa.fa-eye
                a.toggle(ng-class="{on: tag.private}", ng-click="tag.private = tag.private ? null : true; t.tagUpdated(tag.id); $event.stopPropagation()")
                  i.fa.fa-lock
                  i.fa.fa-unlock-alt
