div(ng-show="nut")
  div.tags
    span.tag(ng-repeat="tagId in nut.tags",  ng-click="q.toggleTag(tagId, $event)", ng-class="{queried: (q.tags.indexOf(tagId) != -1)}")
      | {{t.tags[tagId].name}}
      span.delete.icon(ng-click="n.removeTagIdFromNut(tagId, nut.id)", ng-show="! t.tags[tagId].prog")
        i.fa.fa-fw.fa-times
      span.prog.icon.wide.tooltip(ng-click="$event.stopPropagation(); t.progTagCantChangeAlert(tagId)", ng-show="t.tags[tagId].prog", data-tooltip="algorithmic tag")
        i.fa.fa-fw.fa-bolt
    span.tag.note-id(ng-show="c.config.showNoteIds")
      | {{ nut.id }} 
    | 
    span.tag(ng-show="addingTag")
      form(ng-submit="addTag(true)")
        input(type="text", ng-model="addTagName", ng-click="$event.stopPropagation()", nm-focus="addingTag", placeholder="tag name")
    span.add-tag-to-nut(ng-click="$event.stopPropagation(); throwaway = addingTag ? addTag(true) : openAddTagField();")
      i.fa.fa-plus &nbsp;
  div.clear
  div.tawrapper
    div.icons
      a.duplicate.widest.tooltip(ng-click="n.duplicateNoteTags(nut)", data-tooltip="Create new note with same tags")
        i.fa.fa-copy
      a.privacy.widest.tooltip(ng-click="togglePrivate()", ng-attr-data-tooltip="Make this note {{ nut.private ? 'not' : '' }} private", ng-class="nut.private ? 'is-private' : ''")
        i.fa.fa-lock
        i.fa.fa-unlock-alt
      a.delete.wide.tooltip(ng-click="n.deleteNut(nut, $event.shiftKey)", data-tooltip="Delete note")
        i.fa.fa-trash-o
      a.time.widest.tooltip(ng-attr-data-tooltip='{{"created: " + (nut.created | date:"medium") + "\nmodified: " + (nut.modified | date:"medium")}}')
        i.fa.fa-clock-o
    textarea.mousetrap(id="nut-{{nut.id}}-ta", ng-model="nut.body", ng-focus="n.nutFocus(nut)", ng-blur="n.nutBlur(nut)", ng-change="digest.status='unsynced'; n.autosizeNutById(nut.id)", tabindex=2)