div(ng-show="nut")
  div.tags
    span.tag(ng-repeat="tagId in nut.tags",  ng-click="q.toggleTag(tagId, $event)", ng-class="{queried: (q.tags.indexOf(tagId) != -1)}")
      | {{t.tags[tagId].name}}
      span.tracker {{t.tags[tagId].tracker ? nut.id : ''}} 
      span.delete(ng-click="n.removeTagIdFromNut(tagId, nut.id)")
        i.fa.fa-times
    | 
    span.tag(ng-show="addingTag")
      form(ng-submit="addTag(true)")
        input(type="text", ng-model="addTagName", ng-click="$event.stopPropagation()", nm-focus="addingTag", placeholder="tag name")
    span.add-tag-to-nut(ng-click="$event.stopPropagation(); throwaway = addingTag ? addTag(true) : openAddTagField();")
      i.fa.fa-plus &nbsp;
  div.clear
  div.tawrapper
    div.icons
      a.duplicate.tooltip(ng-click="n.duplicateNoteTags(nut)", data-tooltip="Create new note with same tags")
        i.fa.fa-copy
      a.time.tooltip(ng-attr-data-tooltip='{{"created: " + (nut.created | date:"medium") + "\nmodified: " + (nut.modified | date:"medium")}}')
        i.fa.fa-clock-o
      a.delete(ng-click="n.deleteNut(nut, $event.shiftKey)")
        i.fa.fa-trash-o
    textarea.mousetrap(id="nut-{{nut.id}}-ta", ng-model="nut.body", ng-focus="n.nutFocus(nut)", ng-blur="n.nutBlur(nut)", ng-change="digest.status='unsynced'; n.autosizeNutById(nut.id)", tabindex=2)