li.nut
  div.tags
    span.tag(ng-repeat="tagId in nut.tags",  ng-click="q.toggleTag(tagId)")
      | {{t.tags[tagId].name}}
      span.tracker {{t.tags[tagId].tracker ? nut.id : ''}} 
      span.delete(ng-click="n.removeTagIdFromNut(tagId, nut.id)")
        i.fa.fa-times
    | 
    span.tag(ng-show="n.addingTag === nut.id")
      form(ng-submit="n.addTagNameToNut(n.addTagName, nut, true); n.closeAddTagField(nut)")
        input(type="text", ng-model="n.addTagName", ng-blur="n.closeAddTagField(nut); n.addTagHack()", nm-focus="n.addingTag === nut.id", placeholder="tag name")
    //-
      HACK:
      want to make sure user can hit the '+' to add the tag. but blur fires too quickly and won't not fire: http://stackoverflow.com/questions/20822978/blur-event-not-firing-on-label
      a solution:
      n.addTagHack() above sets n.addTagHackFieldJustBlurred to true for 50ms, then back to false
      in this way we can tell, when hitting add-tag-to-nut, whether the field was just open
      if it was, then do addTagNameToNut() (which returns false, setting n.addingTag to false)
      if not, field's been closed for a while, so set n.addingTag to true to show it
    span.add-tag-to-nut(ng-click="throwaway = n.addTagHackFieldJustBlurred ? n.addTagNameToNut(n.addTagName, nut, true) : n.openAddTagField(nut);")
      i.fa.fa-plus &nbsp;
  div.clear
  div.tawrapper
    div.icons
      a.time.tooltip(ng-attr-data-tooltip='{{"created: " + (nut.created | date:"medium") + "\nmodified: " + (nut.modified | date:"medium")}}')
        i.fa.fa-clock-o
      a.delete(ng-click="n.deleteNut(nut)")
        i.fa.fa-trash-o
    textarea.mousetrap(id="nut-{{nut.id}}-ta", ng-model="nut.body", ng-focus="n.nutFocus(nut)", ng-blur="n.nutBlur(nut)", ng-change="digest.status='unsynced'; n.autosizeNutById(nut.id)", tabindex=2)