li.tag(ng-click="q.toggleTag(tag.id, $event)", ng-class="{queried: (q.tags.indexOf(tag.id) != -1)}")
  | {{tag.name}} ({{ tag.docs.length }}) 
  span.icons
    a.delete(ng-click="$event.stopPropagation(); t.deleteTag(tag)")
      i.fa.fa-trash-o
    a.edit(ng-click="$event.stopPropagation(); t.editTag(tag)")
      i.fa.fa-pencil
    a.toggle(ng-class="{on: tag.tracker}", ng-click="tag.tracker = tag.tracker ? null : true; t.tagUpdated(tag.id); $event.stopPropagation()")
      i.fa.fa-eye
    a.toggle(ng-class="{on: tag.private}", ng-click="tag.private = tag.private ? null : true; t.tagUpdated(tag.id); $event.stopPropagation()")
      i.fa.fa-lock
      i.fa.fa-unlock-alt