/* =Variables
----------------------------------------------- */

@mainbg: #0F161F;
// @tagbg: saturate(#b5534a,20%); // tomato
@tagbg: #fc8c03; // goldish

@nutTagHover: fade(@tagbg, 20%);
@tagBG: black;
@tagColor: white;
@tagHover: lighten(@mainbg, 15%);

@textareaBG: #DDD;
@textareaFocusBG: desaturate(lighten(@mainbg, 85%), 8%);

@new-hover: gold;

@modalbg: #170E01;

@menuHover: #333;
@menuActive: @new-hover;


/* =CSS Reset
----------------------------------------------- */

/* http://meyerweb.com/eric/tools/css/reset/ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* =Onwards
----------------------------------------------- */

html, body {
  position: relative;
  width: 100%;
  height: 100%
}

body {
  background-color: #333;
  font: 150% "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background: url("/img/room.jpg") fixed;
  background-size: cover;
  background-position: bottom center;
}

i { font-style: italic; }

/* HACK not sure why these work/are necessary */
textarea, input {
  font-size: 60%; 
  color: black;
  background-color: white;
}
select, option, #right label, #left label {
  font-size: 75%;
}


a {
  color: #00B7FF;
  cursor: pointer;
}

.tag {
  background-color: @tagBG;
  color: @tagColor;
  display: inline-block;
  clear: both;
  cursor: pointer;
}
#left .tag:hover{
  background-color: @nutTagHover;
}
#right .tag:hover{
  background-color: @tagHover;
}

form {
  display: inline;
}

#menuimg {
  height: auto;
  width: 2%;
  float: left;
  margin: 5px;
}

#main {
  margin: 0 2% 2% 2%;
  height: 96%;
  width: 96%;
}

/* =MENU
----------------------------------------------- */

#menu {
  position: fixed;
  bottom: 0px;
  right: 0px;
  cursor: pointer;
  text-align: right;
  &:hover ul {
    display: block;
  }
  ul {
    display: none;
    margin-right: 10px;
    font-size: 80%;
  }
  li:hover {
    background-color: @menuHover;
  }
  li:active {
    color: @menuActive;
  }
  .incomplete {
    color: #AAA;
    opacity: 0.75;
  }
  .incomplete:hover {
    background-color: fade(lighten(@menuHover, 25%), 75%);
  }
}

/* =QUERY BAR
----------------------------------------------- */

#query {
  margin-bottom: 0.5%;
  position: relative;
  background-color: rgba(255,255,255,0.7);
  width: 100%;
  border-bottom: 5px solid @mainbg;
  .fa-search {
    color: black;
    &:hover { color: #444; }
    &:active { color: #888; }
    margin-left: 5px;
    vertical-align: middle;
    cursor: pointer;
  }
  input {
    -moz-box-shadow: none;
    border: none;
    font-size: 100%;
    width: 92%;
    background: none;
    padding: 3px 0;
    margin: 0 0 0 1%;
    vertical-align: middle;
  }
  input:focus {
    -moz-box-shadow: none;
  }
  .clear-query {
    padding: 3px 0;
    width: 2%;
    float: right;
    cursor: pointer;
    color: #666;
  }
  .clear-query:hover {
    color: black;
  }
}

/* =LEFT (NUTS)
----------------------------------------------- */

#left {
  float: left;
  width: 85%;
  background-color: fade(@mainbg, 85%);

  #nuts {
    text-align: center;
    .header {
      > span {
        float: left;
        margin: 5px 5px 1% 5px;
      }
      .sort {
        float: right;
        .fa-refresh {
          cursor: pointer;
          vertical-align: text-bottom;
          font-size: 80%;
          color: #BBB;
          &:hover { color: #EEE; }
          &:active { color: #FFF; }
        }
      }
    }
    #new-nut {
      font-size: 105%;
      margin-top: 8px;
      margin-left: 8px;
      cursor: pointer;
    }
    #new-nut:hover {
      color: @new-hover;
    }
    .nut {
      float: left;
      clear: both;
      width: 100%;
      margin: 0 0 2px 0;
      .tawrapper {
        display: inline-block;
        position: relative;
        width: 97%;
        max-width: 97%;
        margin: auto;
        textarea {
          background-color: @textareaBG;
          width: 100%;
          max-height: 200px;
          outline: none;
          overflow: auto;
          font-family: 'Lucida Grande', sans-serif;
        }
        textarea:focus {
          background-color: @textareaFocusBG;
          max-height: 95vh;
        }
        .icons {
          display: none;
          position: absolute;
          top: 3px;
          right: 0;
          z-index: 5;
          font-size: 75%;
          a {
            margin-left: 3px;
            color: #777;
            &:hover { color: #333; }
          }
        }
        &:hover .icons{ display: inline-block; }
      }
      .tags {
        float: right;
        margin-right: 1.5%;
        font-size: 70%;
        .fa {
          font-size: 70%;
        }
        .tag {
          padding: 2px;
          margin: 2px;
          .tracker {
            color: cyan;
          }
          .delete {
            color: gray;
            cursor: pointer;
          }
          .delete:hover {
            color: black; 
          }
        }
        .add-tag-to-nut {
          cursor: pointer;
        }
        .add-tag-to-nut:hover {
          color: @new-hover;
        }
      }
    }
  }
}


/* =RIGHT (TAGS)
----------------------------------------------- */

.tab-hidden {
  #right {
    display: none;
  }
}

#right {
  float: right;
  width: 15%;
  /*max-width: 220px;*/
  background-color: fade(@tagbg, 20%);
  input {
    max-width: 90%;
  }
  .fa-tags {
    margin-left: 3px;
  }
  #new-tag {
    float: right;
    cursor: pointer;
  }
  #new-tag:hover {
    color: @new-hover;
  }
  > * {
    margin: 3px;
  }
  .show-tag-options {
    margin-left: 3px;
    vertical-align: middle;
    cursor: pointer;
    color: #BBB;
    &:hover { color: #DDD; }
    &:active { color: #FFF; }
    &.on { color: @new-hover; }
    &.on:hover { color: lighten(@new-hover, 20%); }
  }
  #taglist {
    &.show-options .icons { display: inline-block !important; }
    .tag {
      font-size: 70%;
      padding: 4px;
      margin: 2px 3px;
      float: left;
      width: 90%;

      &:hover .icons { display: inline-block; }
      .icons {
        display: none;
        font-size: 75%;

        a + a { margin-left: 3px; } // all a's except the first one
        a { color: #999; }
        a:hover {color: #DDD !important;}
        a:active { color: white !important; }

        a.toggle { color: #555; }
        a.toggle.on { color: red; }
        a.toggle.on:hover { color: lighten(red, 20%) !important; }

        a.toggle .fa-lock { display: none; }
        a.toggle.on .fa-lock { display: inline-block; }
        a.toggle.on .fa-unlock-alt { display: none; }
      }
    }
  }
}

/* =Modal
----------------------------------------------- */

#title {
  margin-top: -65px;
  padding-bottom: 30px;
  font-size: 150%;
  color: @modalbg;
}

#modalclickoff {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 5;
}

#nonmodal {
  transition: opacity 0.5s ease;
  -webkit-transition: opacity ease 0.5s;
}
#nonmodal.modalon {
  opacity: 0.2;
}
#nonmodal.loggedout {
  opacity: 0;
}

#modal.modalon {
  opacity: 1;
  visibility: visible;
}
#modal.modaloff {
  opacity: 0;
  height: 0;
  visibility: hidden;
}
#modal {
  -webkit-transition:all ease 0.5s;
  transition:all ease 0.5s;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 20%;

  &.large-circle {
    top: 10%;
    #circle-holder { width: 40%; }
  }

  #circle-holder {
    width: 30%;
    min-width: 380px;
    margin: auto;
    -webkit-transition:width ease 0.25s;
    transition:width ease 0.25s;

    #close-modal {
      position: absolute;
      z-index: 15;
      width: 50px;
      margin-left: -25px;
      margin-top: 5px;
      color: lighten(desaturate(@modalbg, 50%), 20%);
      font-size: 80%;
      &:hover { color: @new-hover; }
    }

    .circle {
      width:100%;
      border-radius:50%;
      text-align:center;
      font-size: 30px;
      padding:50% 0;
      line-height:0;
      position:relative;
      background: @modalbg;
      color: white;

      > div {
        text-align: left;
        position: absolute;
        margin-top: -90px;
        -webkit-transition: margin ease 0.1s;
        transition: margin ease 0.1s;
        width: 70%;
        margin-left: 15%;

        &.ribbon {
          // currently unused, but could be useful, possibly dynamically applied if viewport too small
          background: @modalbg;
          padding: 2%;
          margin-left: 13%;
        }
        h3, input, p {
          margin: 2% 0;
        }
        h3 {
          line-height: 25px;
          margin: 3% 2%;
        }
        p, ul, table {
          font-size: 60%;
          line-height: 115%;
        }
        ul {
          list-style-type: disc;
          padding-left: 1em;
        }
        a {
          text-decoration: underline;
        }
        a:hover {
          color: @new-hover;
        }
        input, textarea {
          margin: 5px 0;
          padding: 1%;
          border: none;
        }
        input[type='submit']:active {
          font-weight: bold;
          background-color: #AAA;
        }
        form input, form textarea {
          // all full width, even button, looks good for login
          width: 93%;
        }
        .button-holder {
          // using button-holder everywhere except login/createaccount
          text-align: center;
          input {
            width: auto;
            padding: 1% 3%;
            margin: 0 10px;
          }
        }
        .loader {
          text-align: center;
          width: 93%;
        }

        &.feedback {
          margin-top: -130px;
          textarea {
            font-size: 50%;
            height: 120px;
          }
        }

        .custom-body {
          margin: 15px 0;
        }

        .tooltip:after {
          width: 200px;
        }
        .tooltip:before {
          display: none;
        }

        table {
          width: 100%;
          thead {
            font-weight: bold;
            border-bottom: 1px solid white;
          }
          tbody tr:first-child td {
            padding-top: 5px;
          }
          input {
            font-size: 85%;
            width: 150px;
          }
        }

        &.shortcuts {
          .button-holder { margin-top: 10px; }
          .tooltip:after {
            font-size: 90%;
            font-weight: normal;
            line-height: 100%;
            width: 250px;
          }
          .shortcut-modkey {
            text-align: right;
            width: 100%;
            input {
              font-size: 85%;
              width: 100px;
            }
            .tooltip:after {
              text-align: left;
              width: 300px;
              bottom: -100px;
              left: 25px;
            }
          }
        }

      }
    }

  }

}

/* =Sync status icon
----------------------------------------------- */

/* 
 * synced: green
 * unsynced but will sync soon: yellow bobbing
 * syncing: same (this state only ever lasts a fraction of a second)
 * disconnected: red
 */

@keyframes cloud-sync-pulse {
  0% { margin-bottom: 5px; animation-timing-function: ease; }
  100% { margin-bottom: 0px; animation-timing-function: ease; }
}
@-webkit-keyframes cloud-sync-pulse {
  0% { margin-bottom: 5px; animation-timing-function: ease; }
  100% { margin-bottom: 0px; animation-timing-function: ease; }
}

#sync-status {
  position: fixed;
  bottom: 2px;
  left: 2px;
  z-index: 10;
  .cloud {
    text-shadow: 0px 0px 5px black;
    -webkit-transition: all ease 0.25s;
    transition: all ease 0.25s;
  }
  &.synced .cloud { color: green; }
  &.disconnected .cloud { color: red; }
  &.syncing .cloud, &.unsynced .cloud {
    color: yellow;
    animation: cloud-sync-pulse 1s infinite alternate;
    -webkit-animation: cloud-sync-pulse 1s infinite alternate;
  }
}

/* =Tooltip
----------------------------------------------- */

.tooltip {
  position: relative;
}
.tooltip:after, .tooltip:before {
  /* At time of this creation, only Fx4 doing pseduo transitions */
  -webkit-transition: all 0.2s ease;
  -moz-transition   : all 0.2s ease;
  display: none;
  position: absolute;
}
.tooltip:after {
  white-space: pre-line;
  content: attr(data-tooltip);
  bottom: 100%;
  left: 20%;
  background: @mainbg;
  padding: 5px 10px;
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius   : 5px;
  border-radius        : 5px;
  font-size: 13px;
}
.time.tooltip:after {
  left: -100px;
  width: 230px;
}
.tooltip:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid @mainbg;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  left: -85%;
  bottom: 70%;
}
.tooltip:hover:after, .tooltip:hover:before {
  display: block;
}
#sync-status.tooltip:hover:before {
  display: none;
}

/* =Misc
----------------------------------------------- */

.clear {
  clear: both;
}

b {
  font-weight: bold;  
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  opacity: 0 !important;
}