/* =Variables
----------------------------------------------- */

@mainbg: #263D59;
//@tagbg: #f5580a; // pumpkin
@tagbg: saturate(#b5534a,20%); // tomato
//@tagbg: #fc8c03; // goldish

@new-hover: gold;

/* =CSS Reset
----------------------------------------------- */

/* http://meyerweb.com/eric/tools/css/reset/ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* =Onwards
----------------------------------------------- */

html, body {
  position: relative;
  width: 100%;
  height: 100%
}

body {
  background-color: #333;
  font: 150% "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background: url("/img/room.jpg") fixed;
  background-size: cover;
  background-position: bottom center;
}

/* HACK not sure why these work/are necessary */
textarea, input {
  font-size: 60%; 
}
select, option, label {
  font-size: 75%;
}

#menu {
  position: fixed;
  bottom: 0px;
  right: 0px;
  cursor: pointer;
  text-align: right;
  ul {
    display: none;
    margin-right: 10px;
    font-size: 80%;
  }
  li:hover {
    background-color: #333;
  }
  li:active {
    color: @new-hover;
  }
}
#menu:hover ul {
  display: block;
}
#title {
  color: black;
  margin: 5px;
  display: inline-block;
}

a {
  color: #00B7FF;
}

#main {
  margin: 0 2% 2% 2%;
  height: 96%;
  width: 96%;
}

#left {
  float: left;
  width: 80%;
  background-color: fade(@mainbg, 85%);
}

.tag {
  background-color: black;
  color: white;
  display: inline-block;
  clear: both;
  cursor: pointer;
}
#left .tag:hover{
  background-color: @tagbg;
}
#right .tag:hover{
  background-color: @mainbg;
}

.tab-hidden {
  #right {
    display: none;
  }
}

form {
  display: inline;
}

#right {
  float: right;
  width: 20%;
  background-color: fade(@tagbg, 80%);
  #new-tag {
    float: right;
    cursor: pointer;
  }
  #new-tag:hover {
    color: @new-hover;
  }
  > * {
    margin: 3px;
  }
  .tag {
    padding: 4px;
    margin: 4px;
    float: left;
  }
}

#query {
  margin-bottom: 0.5%;
  position: relative;
  background-color: rgba(255,255,255,0.7);
  width: 100%;
  border-bottom: 5px solid @mainbg;
  input {
    -moz-box-shadow: none;
    border: none;
    font-size: 100%;
    width: 94%;
    background: none;
    padding: 3px 0;
    margin: 0 0 0 1%;
    vertical-align: middle;
  }
  input:focus {
    -moz-box-shadow: none;
  }
  img {
    height: auto;
    width: 2%;
    float: left;
  }
  .clear {
    padding: 3px 0;
    width: 2%;
    float: right;
    cursor: pointer;
    color: #666;
  }
  .clear:hover {
    color: black;
  }
}

#nuts {
  text-align: center;
  .header {
    > span {
      float: left;
      margin: 5px 5px 1% 5px;
    }
    .sort {
      float: right;
    }
  }
  #new-nut {
    margin-left: 3%;
    font-size: 105%;
    cursor: pointer;
  }
  #new-nut:hover {
    color: @new-hover;
  }
  .nut {
    float: left;
    clear: both;
    width: 100%;
    margin: 0 0 10px 0;
    textarea {
      width: 97%;
      max-width: 97%;
      margin: auto;
      max-height: 200px;
    }
    textarea:focus {
      background-color: lavender;
    }
    .tags {
      float: right;
      margin-right: 1.5%;
      font-size: 80%;
      .tag {
        padding: 2px;
        margin: 2px;
        .delete {
          color: gray;
          font-size: 70%;
          cursor: pointer;
        }
        .delete:hover {
          color: black; 
        }
      }
      .add-tag-to-nut {
        cursor: pointer;
      }
      .add-tag-to-nut:hover {
        color: @new-hover;
      }
    }
  }
}

/* =Modal
----------------------------------------------- */

#modalclickoff {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 5;
}

#nonmodal.modalon {
  opacity: 0.2;
  transition: opacity 0.35s ease;
  -webkit-transition: opacity ease 0.35s;
}
#nonmodal.loggedout {
  opacity: 0;
}

#modal.modalon {
  opacity: 1;
  visibility: visible;
}
#modal.modaloff {
  opacity: 0;
  height: 0;
  visibility: hidden;
}
#modal {
  -webkit-transition:all ease 0.45s;
  transition:all ease 0.45s;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 20%;

  #circleholder {
    width: 30%;
    margin: auto;

    .circle div {
      text-align: left;
      position: absolute;
      margin-top: -90px;
      width: 70%;
      margin-left: 15%;
      h3, input, p {
        margin: 2%;
      }
      h3 { line-height: 25px;}
      p {
        font-size: 60%;
        line-height: 115%;
      }
      a {
        cursor: pointer;
        text-decoration: underline;
      }
      a:hover {
        color: @new-hover;
      }
      input {
        margin: 5px 0;
        padding: 1%;
        border: none;
        width: 93%;
      }
      input[type='submit']:active {
        font-weight: bold;
        background-color: #AAA;
      }
    }
  }

}

.circle {
  width:100%;
  border-radius:50%;
  text-align:center;
  font-size: 30px;
  padding:50% 0;
  line-height:0;
  position:relative;
  background: #170E01;
  color: white;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}