// MAIN THEME COLORS

$logo-text-color: #0A424F

$bg-blur: 2px // set to 0 to disable
$bg-overlay: #F7F6F3 //rgba(0, 0, 0, 0.8) // set to transparent to disable. @NOTE This must be manually set in manifest.json and index.html inline style

$bg-is-light: true

$tag-color: #20A4F3 // good for dark #66D7D1
// @if $bg-is-light
//     $tag-color: #902D41

// @NOTE These currently aren't used in the app, but the dark one is manually set in various places in `manifest.json`, `browserconfig.xml`, and `head-config.common.js` @TODO/ece Or should it be the orange?
$logo-dark-blue: #013E67
$logo-medium-blue: #038CBA

// $note-text: #424242
// $note-bg: rgba(255, 255, 255, 0.92)

$note-bg: transparent

// $panel-color: #cecece // all panel stuff based on $accent-color now
$panel-text: white
@if $bg-is-light
    $panel-text: rgba(0,0,0,.54)

$panel-text-light: #CECCCC //good for dark #C1CFDA 

$note-text: $panel-text
@if $bg-is-light
    $note-text: #03171C //same as ---> hsl(hue($logo-text-color), saturation($logo-text-color), lightness($logo-text-color) - 20))

$form-inactive: #D3D8DC //#E2E0E0 //good for dark #E1EDF0

$accent-color: #F47555
$accent-color-darker: #E86F51
$accent-color-darkest: #DB694C


$menu-color: $panel-text
// @if $bg-is-light
//     $menu-color: gray






// ASSIGNED/DERIVED COLORS

$bg-overlay--logged-out: rgba($note-text, 0.5)

$tag-text: $tag-color
$tag-bg: transparent
$tag-active-text: white
@if lightness($tag-color) > 50 and saturation($tag-color) < 50
    $tag-active-text: black
$tag-active-bg: $tag-color

$panel-bg: transparent
$panel-text-secondary: $form-inactive //$panel-text-light // used for secondary stuff in panels like links, note/tag count, and asides. also currently assigned below to placeholders and form field borders
$panel-heading: $accent-color
$panel-text-link: $panel-text-light
$panel-text-link-hover: $accent-color
$panel-or-overlay: $panel-bg
@if $panel-bg == transparent
    $panel-or-overlay: $bg-overlay

$form-label: $logo-text-color // mini label headings in settings screens

// Standalone icons which perform major functions:add tag, new tag, search, tag browser dropdown caret, x icons
$icon-color: $panel-text-light
$icon-hover: $panel-text
$icon-active: $accent-color
$icon-active-hover: $panel-text

$note-icon-color: $panel-text-light
$note-icon-hover: $accent-color
$note-icon-active: $icon-active
$note-icon-active-hover: $panel-text
$note-placeholder: $form-inactive

$primary-button-text: white
$primary-button-text-hover: white
$primary-button-text-active: white
@if lightness($accent-color) > 50 and saturation($accent-color) < 50
    $primary-button-text: black
    $primary-button-text-hover: black
    $primary-button-text-active: black
$primary-button-bg: $accent-color
$primary-button-bg-hover: $accent-color-darker
$primary-button-bg-active: $accent-color-darkest
$secondary-button-text: $primary-button-bg
$secondary-button-bg: transparent
$secondary-button-text-hover: $primary-button-bg-hover
$secondary-button-bg-hover: rgba(white, 0.6)
$secondary-button-text-active: $primary-button-bg-active
$secondary-button-bg-active: rgba(white, 0.6)

// Sidebar/panel menu (like settings/tags) and also the navigation icons (new, notes, tags)
$menu-link: $menu-color
$menu-link-active: $accent-color
$menu-link-active-bg: transparent
$menu-icon: $menu-color
$menu-icon-active: $accent-color

// Dropdowns are: autocomplete, sort dropdown, tooltips, tag dropdown, etc.
$dropdown-text: $menu-color// non-clickable text in dropdowns
$dropdown-bg: rgba($logo-text-color, 0.2)
@if $bg-is-light
    $dropdown-bg: white
$dropdown-menu-link: $dropdown-text
$dropdown-menu-link-active: $accent-color
$dropdown-menu-link-active-bg: $menu-link-active-bg
$dropdown-menu-icon: $dropdown-text
$dropdown-menu-icon-active: $menu-icon-active
$dropdown-underline: $accent-color

$form-stroke: $form-inactive // Used for forms and other borders
$form-placeholder: $form-inactive
$form-focused-stroke: $accent-color // Used for active form/input fields and under active note

 
// $app-bg-gradient-top: #16697f
// $app-bg-gradient-bottom: #0e465e
$app-bg-gradient-top: white
$app-bg-gradient-bottom: white

// success/warning/danger text is overlaid of success/warning/danger color bg in tooltips/toasters
$info-color: $logo-text-color
$info-text: white
$success-color: #44AF69
$success-text: white
$warning-color: #FCAB10
$warning-text: white
$danger-color: #F8333C
$danger-text: white


// SHADING AND MASKS

$btn-disabled-opacity: 0.5

$shadow-color: rgba(0, 0, 0, 0.5) // e.g. card box-shadow, text shadow
// @if $bg-is-light
//     $shadow-color: rgba(255, 255, 255, 1)
$shadow-color-light: rgba(0, 0, 0, 1) // Only used (tentatively) for note tag list
// @TODO/ece Could be fun to do something like this, which takes $panel-color and makes it translucent. That way these box shadows will match changing theme
// $shadow-color: rgba($panel-color, 0.5)
@if $bg-is-light
    $shadow-color-light: rgba(255, 255, 255, 1)

$modal-backdrop: rgba(0, 0, 0, 0.7)
$modal-backdrop--dark: rgba(0, 0, 0, 0.9) // e.g. for full screen note modal
@if $bg-is-light
    $modal-backdrop--dark: rgba($bg-overlay, 1)



// OLD COLORS

// $primary-color: #f4f4f2 //#e05151 //#7FD6FA // #A6E22E // #FF5D38 // #FFE792 //#00A8C6 // #A6E22E// #424242 // e.g. body text, icons
// $primary-color-light: #848993 //#CCE2FF // #848993 // #3F454A //#6e7a94 // #bcc2c7 // used e.g. for tag count, active icon hover, note action icons
// $primary-color-contrast: rgba(255, 255, 255, 0.92) // e.g. card bg, text background
// $secondary-color: #f26964 // #0b99bc //#FF5D38 // #F25A56 // #FF5D38 // #c3521b // e.g. tag text, button stuff
// $highlight-color: #00A8C6 // #00A8C6 // #85A4D2 // #50e3c2 // #e05151 //#F5BB14 //#26A6A6 // #50e3c2 // e.g. logo, hover states

// $input-stroke: #848993 // #848993 // #DEE3F3 //#989898 // This is used for input placeholder text, input borders/underlines, logo slogan, minor text on login (forgot password, T&Cs), text links @TODO/rename

// $accent-color: #4f54e2 // used for tag-related action icons (add, expand, etc., but *not* shared/programmatic state). @TODO/ece Should the rename pencil and/or remove X (from tag in note search bar) be this color too?
// $accent-color: $input-stroke // eh that looked gaudy, let's just use this for now

// $link-color: $panel-text-secondary
// $link-hover: $accent-color

// $menu-dropdown-bg-color: rgba(#30302f, 0.92) // #3c3c3c #464C57 #191B1F #2b303b #6e7a94 //rgba($primary-color-contrast, 1) // used for menus and dropdowns like autocomplete, expanded tag list, individual tag dropdown, sort dropdown, etc.
// $pane-bar-bg-color: $menu-dropdown-bg-color // used for tag list on notes, and for the tags/settings sidebar, and for the header


// .note .body-input
//   color: #30302f

// .pane-layout .overview,
// .pane-layout .pane,
// tag-browser .tag-pane,
//   background-color: $pane-bar-bg-color !important
