.app-top
  position: relative
  z-index: 100
  
.app-header
  +box-shadowed
  // background-color: $primary-color-contrast
  background-color: $pane-bar-bg-color

  .inner
    +outer-container
    display: flex
    height: 48px
    align-items: center

  .logo,
  .menu
    flex: 1

  .logo
    h1
      cursor: pointer

  .menu-wrapper
    position: relative
    margin-right: -10px // matching padding - want avatar to align with edge, but menu border to go outside
    padding: 5px 10px

    border: 1px solid transparent
    border-top-width: 0
    border-bottom-width: 0
    transition: border-color $transition-fast

    &:hover
      +menu-dropdown
      .menu-body
        +faded-in

    &.is--force-closed
      border-color: transparent
      .menu-body
        +faded-out

  .menu
    cursor: pointer

    width: 40px
    height: 40px
    max-width: 40px
    padding: 3px

    border: 1px solid $input-stroke // @TODO/rewrite @TODO/ece Vary based on sync status
    border-radius: 50%

    &.status--synced
      border-color: $success-color
      .sync-status
        color: $success-color
    &.status--syncing
      border-color: mix($success-color, $warning-color)
      .sync-status
        color: mix($success-color, $warning-color)
    &.status--unsynced
      border-color: $warning-color
      .sync-status
        color: $warning-color
    &.status--disconnected
      border-color: $danger-color
      .sync-status
        color: $danger-color

  .menu-body
    +menu-dropdown
    +plain-list
    +fadeable
    +faded-out

    z-index: 10
    cursor: default
    position: absolute
    right: -1px // needed to line up with .menu-wrapper border
    width: 160px
    margin: 0
    padding: 10px 0 0
    letter-spacing: 0.5px

    li
      display: block

      &.is--active
        // @TODO/ece Active state for menu item, like when you're on settings screen?

      &.sync-status
        +small
        padding: 0 0 5px
        text-align: center
        font-style: italic

      &.unimplemented
        opacity: 0.3
        a
          cursor: default

      a
        +menu-link
        display: inline-block

  .avatar
    width: 100%
    height: 100%

  note-query
    flex: 10
    margin: 0 5px 0 30px

  .private-mode-indicator
    +icon-button
    +h3 // same as control icons in note-query
    margin-right: 3px
    padding-top: 2px // same as padding in note-query
    color: $danger-color

    .unlocked
      display: none

    &:hover
      .locked
        display: none
      .unlocked
        display: inline-block

    opacity: 0
    visibility: hidden
    transition: visibility $transition-fast, opacity $transition-fast

    &.is--private
      opacity: 1
      visibility: visible

.app-nav
  +outer-container
  padding-top: 8px
  padding-bottom: 6px

  text-align: right

  .new-note
    float: left
    margin-top: 13px // @HACK Magic number to vertically align. Lazy.

  ul
    +plain-list
 
  a
    +h4
    text-decoration: none
    color: $primary-color-contrast
    letter-spacing: 1.2px
    text-shadow: 0 1px 4px $shadow-color

    &.nav-link
      display: inline-block
      width: span(1)
      min-width: 60px
      margin-right: gutter()
      text-align: center

      .fa
        +h3
        display: inline-block
        margin-bottom: -1px
        padding: 0 5px
        transition: border-color $transition-fast
        border-bottom: 4px solid transparent

      .nav-link-text--new-note
        // It overflows, so let's make space for it
        display: inline-block
        width: 150%
        margin-left: -25%
        white-space: nowrap

  li:last-of-type a.nav-link
    margin-right: 0

  .is--active a .fa
    border-color: $primary-color-contrast
  .is--active a:hover .fa
    border-color: $highlight-color
