// Styles for the logged-out marketing home page

homepage
  display: block
  position: relative
  padding: 50px 0
  color: $primary-color

  h2
    margin-bottom: 40px
    font-weight: normal
    letter-spacing: 1.8px
    color: $primary-color-contrast

    a
      color: $primary-color-contrast

  .intro,
  .outro
    +span(6)
    padding-top: 170px
    text-align: center
    line-height: 60px
    text-shadow: 2px 2px 5px $shadow-color

  // .mockup
  //   overflow: hidden
  //   height: 135px
  //   margin-top: 15px
  //   text-align: left

  .note-container
    +span(8)

  note
    pointer-events: none
    height: 300px

    .body-input
      height: 1000px

    .new-tag
      &,
      .new-tag-button
        cursor: default !important

      &:hover .fa
        color: $secondary-color

  .features
    +span(12)
    margin-top: gutter() * 3

  .feature
    +card
    +gallery(3 of 12)
    height: 175px
    padding: 25px gutter()

    h4
      text-align: center
      margin: 0 0 20px


.modal-content.outro-login
  float: right
  height: auto
  margin: 50px 0

  login
    .subheading--initial
      opacity: 0 !important
      visibility: hidden !important
    .subheading--general
      opacity: 1 !important
      visibility: visible !important
