// Styles for the logged-out marketing home page

homepage
  display: block
  position: relative
  color: $primary-color

  h2
    margin-bottom: 40px
    font-weight: normal
    letter-spacing: 1.8px
    color: $primary-color-contrast

    a
      color: $primary-color-contrast

  .demo-container
    +span(6)
    height: 100vh
    padding-top: 10vh // matches login top margin
    padding-right: 50px

    @media (max-height: 750px)
      padding-top:  0

  note,
  .tag-explore-wrapper
    transition: opacity $transition-med, visibility $transition-med
  .tag-explore-wrapper,
  &.is--tag-explore-stage note
    opacity: 0
    visibility: hidden
  &.is--tag-explore-stage .tag-explore-wrapper
    opacity: 1
    visibility: visible

  note
    margin-top: 170px // size of login header height/margin
    height: 300px

    @media (max-height: 550px)
      margin-top: 140px

    .body-input
      padding-left: 29px // magic number to align with first tag
      padding-right: 30px

    .new-tag
      &,
      .new-tag-button
        cursor: default !important

      &:hover .fa
        color: $secondary-color

    tag:hover .tag-actions
      display: inline // overrides normal tag style that makes the tag wider on hover here

  .tag-explore-wrapper
    position: relative
    width: 100%

  .tag-explore
    +card
    position: absolute
    overflow-y: scroll
    width: 100%
    height: 450px
    max-height: 90vh
    padding-top: 25px
    padding-bottom: 25px

    margin-top: 100px
    @media (max-height: 550px)
      margin-top: 50px

    .heading
      +h3

    force-graph
      display: block
      width: 100%
      height: 300px
      margin-top: 15px

    .note-count-heading
      +h3
      margin: -10px 0 0

    .cooccurrences .static-tag:before
      margin-right: 1px

  .teaser
    +span(6)
    position: absolute
    top: 100vh
    margin-top: -75px
    padding-right: 50px // matches .demo-container

    +h3
    text-align: center
    line-height: 30px
    text-shadow: 2px 2px 5px black
    font-weight: bold
    letter-spacing: 1.8px
    text-transform: uppercase
    color: $primary-color-contrast

  @media (max-width: $screen-small)
    .demo-container,
    .teaser
      padding-right: 25px

  .features
    +span(12)
    margin-top: gutter() * 3

  .feature
    +card
    +gallery(4 of 12)
    min-height: 160px
    margin-bottom: 25px
    padding: 25px gutter()
    text-align: center

    h4
      margin: 0 0 20px

    p
      margin-bottom: 0


.homepage-outro
  clear: both
  width: 100%
  padding-top: 50px

  h4
    position: relative
    margin: 0
    padding: 50px 25px
    text-align: center
    background-color: rgba(0, 0, 0, 0.6)
    text-shadow: 2px 2px 5px $shadow-color
    letter-spacing: 1.8px
    color: $primary-color-contrast

    a
      color: $primary-color-contrast
      &:hover
        color: $highlight-color

// .modal-content.outro-login
//   float: right
//   height: auto
//   margin: 50px 0

//   login
//     .subheading--initial
//       opacity: 0 !important
//       visibility: hidden !important
//     .subheading--general
//       opacity: 1 !important
//       visibility: visible !important


// Because of fucked up flow/DOM ordering, we need two copies of the <login> component. One we show on mobile, the other on desktop

@media (min-width: $tablet-large + 1)
  login .signup-text
    display: none
  homepage login
    display: none

@media (max-width: $tablet-large)
  .modal-content.is--login
    display: none

  homepage
    .demo-container
      width: 100%
      height: auto
      padding: 0

    note
      margin: 20px 0 50px

    .tag-explore
      height: 325px
      margin-top: 20px

    login
      +card
      padding-top: 0

      header
        margin-bottom: 25px

      .signup-text
        +h4
        margin-bottom: 25px
        text-align: center

      .sendgrid-subscription-widget input[type=submit]
        padding-left: 0;
        padding-right: 0;

    .teaser
      position: static
      width: 100%
      margin-top: 25px
      padding-right: 0

    .feature
      +gallery(9 of 12)
      float: none !important
      margin-left: auto !important
      margin-right: auto !important
