<div id="app-bg"></div>
<div id="app-bg-overlay"></div>

<input id="blur-hack" class="mousetrap" type="text" tabindex="-1" />

<modal></modal>
<modal class="second" second=true></modal>

<div class="app-wrapper" ref-appWrapperRef [class.is--note-query-visible]="isNoteQueryVisible" [class.is--headerless]="isHeaderless">
  <div class="app-top">
    <header class="app-header" [class.is--backable]="isBackable">
      <div class="inner">
        <div class="back-button" (click)="backClick()">
          <!-- @TODO/ece @TODO/mobile Chevron? Arrow? Something else? -->
          <i class="fa fa-chevron-left"></i>
        </div>

        <div class="logo">
          <h1 (click)="logoClick()" title="Headsoak"><img src="/assets/img/logo.svg"></h1>
        </div>

        <!-- @NOTE Any changes here need to be replicated in `nav.mobile-nav` -->
        <button class="btn btn-primary new-note-button" (touchOrClick)="newNote()">New Note</button>

        <div class="search-mode-indicator"
          *ngIf="sizeMonitor.isMobile"
          [class.is--active]="! noteQueryComponent.isEmpty()"
          (click)="searchModeClick()"
        ><i class="fa fa-search"></i></div>

        <span class="query-control-icon query-control-icon--main query-control-icon--search"
          [class.is--active]="noteQueryComponent.queryText || noteQueryComponent.tags.length"
          (click)="noteQueryComponent.focus()"
        ><i class="fa fa-search"></i></span>
        <note-query [hidden]="! dataService.user.loggedIn" (setVisibility)="setSearchModeVisiblity($event)"></note-query>

        <!-- @NOTE Any updates here may need to be reflected in `nav.mobile-nav` -->
        <nav class="app-nav desktop-nav" *ngIf="! sizeMonitor.isMobile">
          <ul
            ><li class="nav-link-outer--notes"><span class="nav-link nav-link--note-views" [routerLink]="[routingInfo.lastNoteRoute]" [class.is--active]="NOTE_BROWSER_ROUTES.indexOf(router.url) !== -1">
                <span class="note-views"
                  ><span
                    *ngFor="let route of noteToggleNavRoutes"
                    class="note-view note-view--{{ route.data.slug }}"
                    [routerLink]="[route.path]"
                    [attr.data-tooltip]="route.data.name + ' view'"
                    [class.is--active]="('/' + route.path) === routingInfo.lastNoteRoute" 
                  ><!-- @TODO/optimization These could be a one time binding
                    --><i class="fa fa-lg fa-{{ route.data.iconSlug }}"></i
                  ></span
                ></span>

                <span class="nav-link-text">Notes</span
              ></span
            ></li

            ><li class="nav-link-outer--tags"><span class="nav-link"
              [routerLink]="['/tags']"
              [class.is--active]="router.url.indexOf('/tags') === 0"
            >
                <span class="nav-link-text">Tags</span>
              </span
            ></li
          ></ul>
        </nav>

        <div class="private-mode-indicator"
          data-tooltip="Private mode is enabled. Click to disable."
          [class.is--private]="accountService.privateMode"
          (touchOrClick)="accountService.disablePrivateMode()"
        >
          <!-- @TODO/soon I don't think touchOrClick is necessary... -->
          <i class="fa fa-lock locked"></i>
          <i class="fa fa-unlock-alt unlocked"></i>
        </div>

        <div class="menu-wrapper"
          [class.is--force-closed]="forceMenuClosed" (mouseenter)="sizeMonitor.isMobile ? null : forceMenuClosed = false"
          (mouseleave)="forceMenuClosed = true"
          (click)="forceMenuClosed = ! forceMenuClosed"
        >
          <div class="hover-target">
            <div class="menu status--{{ dataService.status }}" [hidden]="! dataService.user.loggedIn">
              <div class="sync-animation">
                <div class="sync-animation-clipper">
                  <div class="sync-animation-border">
                  </div>
                </div>
              </div>
              
              <img class="avatar" src="{{ settings.get('profileImageUrl', 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7') }}" />

              <ul class="menu-body" (click)="forceMenuClosed = true; $event.stopPropagation()">
                <li class="sync-status">
                  Status:
                  <span class="status">{{ dataService.statusNameMap[dataService.status] }}</span>
                </li>

                <li *ngFor="let route of menuNavSettingsRoutes" [class.is--active]="router.url === '/settings' + (route.path ? '/' + route.path : '')">
                  <a [routerLink]="route.path ? ['/settings', route.path] : ['/settings']" [class]="'menu-link--' + route.data.slug">
                    <!-- @TODO/optimization These could be a one time binding -->
                    <i class="fa fa-lg fa-fw fa-{{ route.data.iconSlug }}"></i>
                    {{ route.data.name }}
                  </a>
                </li>

                <li (click)="modalService.privateMode()"><a>
                  <i class="fa fa-lg fa-fw fa-user-secret"></i>
                  Private Mode
                </a></li>
                <li (click)="modalService.feedback()"><a>
                  <i class="fa fa-lg fa-fw fa-comment-o"></i>
                  Feedback
                </a></li>
                <li (click)="modalService.help()"><a>
                  <i class="fa fa-lg fa-fw fa-ambulance"></i>
                  Help
                </a></li>

                <li (click)="accountService.logout()"><a>
                  <i class="fa fa-lg fa-fw fa-sign-out"></i>
                  Logout
                </a></li>
              </ul>
            </div>

            <i class="menu-icon fa fa-chevron-down"></i>
          </div>

          <!-- @HACK Putting this inside `.menu-wrapper` so that it's easier (possible at all) to align it with the menu chevron. -->
          <span class="tag-browser-collapse"
            *ngIf="! sizeMonitor.isMobile"
            (touchOrClick)="tagsToggleCollapsed()"
          >
            <span
              *ngIf="! homeComponent || ! homeComponent.tagBrowserCollapsed"
              data-tooltip="Collapse tags"
            >
              <i class="fa fa-lg fa-chevron-circle-right"></i>
            </span>
            <span
              *ngIf="!! homeComponent && homeComponent.tagBrowserCollapsed"
              data-tooltip="Expand tags"
            >
              <i class="fa fa-lg fa-chevron-circle-left"></i>
            </span>
          </span>
        </div>
      </div>
    </header>

    <!-- @NOTE Any updates here may need to be reflected in `nav.desktop-nav` -->
    <!-- @TODO/refactor Previously we got by with desktop and mobile using same nav, until part of the desktop nav got combined with the top header part, leaving some desktop nav stuff down here and all mobile stuff down here. Now, all of the desktop nav is in the top. It's probably possible with some tweaks to resume using a single nav, but for now they're totally separate. -->
    <nav class="app-nav mobile-nav" *ngIf="dataService.user.loggedIn && sizeMonitor.isMobile" [class.is--note-nav-open]="isNoteViewsNavOpen">
      <ul
        ><li class="nav-link-outer--new-note"
          ><span class="nav-link" (touchOrClick)="newNote()">
            <i class="fa fa-lg fa-pencil-square-o"></i>
            <span class="nav-link-text">New</span>
          </span
        ></li

        ><li class="nav-link-outer--notes" ref-notesNav><span class="nav-link nav-link--note-views"
            [routerLink]="[routingInfo.lastNoteRoute]"
            (click)="noteNavTouchend($event)"
            ><span class="note-views"
              ><span
                *ngFor="let route of noteToggleNavRoutes"
                class="note-view note-view--{{ route.data.slug }}"
                [routerLink]="[route.path]"
                [class.is--active]="('/' + route.path) === routingInfo.lastNoteRoute" 
              ><!-- @TODO/optimization These could be a one time binding
                --><i class="fa fa-lg fa-{{ route.data.iconSlug }}"></i
              ></span
            ></span>

            <span class="nav-link-text">Notes</span
          ></span
        ></li

        ><li class="nav-link-outer--tags"
          [class.is--active]="router.url.indexOf('/tags') === 0"
          [routerLink]="['/tags']"
          ><span class="nav-link">
            <i class="fa fa-lg fa-hashtag"></i>
            <span class="nav-link-text">Tags</span>
          </span
        ></li
      ></ul>
    </nav>
  </div>

  <main [hidden]="! dataService.user.loggedIn">

    <router-outlet></router-outlet>

    <home
      *ngIf="dataService.isInitialized"
      [hidden]="NOTE_BROWSER_ROUTES.indexOf(router.url) === -1 && router.url.indexOf('/tags') !== 0"
    ></home>

  </main>
</div>
