h1 {
  font-family: Arial, Helvetica, sans-serif
}
nav ul {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60px;
}
nav li {
  display: inline;
}
nav li.active {
  background-color: lightgray;
}

.autocomplete-suggestions {
  background-color: white;
}
.autocomplete-suggestion.autocomplete-selected {
  background-color: #DDD;
}

/* @TODO/rewrite check browser compability for this - last I remember it didn't work right in FF. */
[placeholder][contenteditable]:empty:before {
  content: attr(placeholder);
  font-style: italic;
  color: #999;
}
