<header>
  <h1>{{ name }}</h1>

  <login></login>
</header>

<main [hidden]="! dataService.user.loggedIn">
  <hr>

  <nav>
    <ul>
      <li *ngFor="let route of routes" [class.active]="'/' + route.path === router.url">
        <a *ngIf="route.name" [routerLink]="[route.path]">{{ route.name }}</a>
      </li>
    </ul>
  </nav>

  <div>sync status: {{ dataService.status }}</div>

  <router-outlet></router-outlet>
  <home [hidden]="router.url !== '/' && router.url !== '/browse'"></home>
  <tag-browser [hidden]="router.url !== '/tags'"></tag-browser>

</main>
