<div id="app-bg"></div>

<input id="blur-hack" class="mousetrap" type="text" />

<modal></modal>

<div class="app-wrapper" [class.uninitialized]="! initialized">
  <div class="app-top">
    <header class="app-header">
      <div class="inner">
        <div class="logo">
          <h1 (click)="logoClick()"><i class="fa fa-circle"></i>Headsoak</h1>
        </div>

        <note-query [hidden]="! dataService.user.loggedIn"></note-query>

        <div class="private-mode-indicator"
          data-tooltip="Private mode is enabled. Click to disable."
          [class.is--private]="accountService.privateMode"
          (click)="accountService.disablePrivateMode()"
        >
          <i class="fa fa-lock locked"></i>
          <i class="fa fa-unlock-alt unlocked"></i>
        </div>

        <div class="menu-wrapper" [class.is--force-closed]="closeMenu" (mouseenter)="closeMenu = false">
          <div class="menu status--{{ dataService.status }}" [hidden]="! dataService.user.loggedIn">
            <img class="avatar" src="{{ settings.get('profileImageUrl', 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7') }}" />

            <ul class="menu-body" (click)="closeMenu = true">
              <li class="sync-status">Status: {{ dataService.status }}</li>

              <li *ngFor="let route of menuNavSettingsRoutes" [class.is--active]="router.url === '/settings' + (route.path ? '/' + route.path : '')">
                <a [routerLink]="route.path ? ['/settings', route.path] : ['/settings']">
                  <!-- @TODO/optimization These could be a one time binding -->
                  <i class="fa fa-lg fa-fw fa-{{ route.data.iconSlug }}"></i>
                  {{ route.data.name }}
                </a>
              </li>

              <li (click)="modalService.privateMode()"><a>
                <i class="fa fa-lg fa-fw fa-user-secret"></i>
                Private Mode
              </a></li>
              <li (click)="modalService.feedback()"><a>
                <i class="fa fa-lg fa-fw fa-comment-o"></i>
                Feedback
              </a></li>

              <li (click)="accountService.logout()"><a>
                <i class="fa fa-lg fa-fw fa-sign-out"></i>
                Logout
              </a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <nav class="app-nav" *ngIf="dataService.user.loggedIn">
      <ul
        ><li
          ><a class="nav-link" (click)="newNote()">
            <i class="fa fa-lg fa-pencil-square-o"></i>
            <span class="nav-link-text">New</span>
          </a
        ></li

        ><li
          ><a class="nav-link nav-link--note-views" [routerLink]="[lastNoteRoute]">
            <span class="note-views"
              ><span
                *ngFor="let route of noteToggleNavRoutes"
                class="note-view"
                [class.is--active]="('/' + route.path) === lastNoteRoute"
                [routerLink]="[route.path]"
                ><!-- @TODO/optimization These could be a one time binding
                --><i class="fa fa-lg fa-{{ route.data.iconSlug }}"></i
              ></span
            ></span>

            <span class="nav-link-text">Notes</span
          ></a
        ></li

        ><li class="tag-nav-link" [class.is--active]="! homeComponent || ! homeComponent.tagBrowserCollapsed"
          ><a class="nav-link" (click)="tagNavClick()">
          <i class="fa fa-lg fa-hashtag"></i>
            <span class="nav-link-text">Tags</span>
          </a
        ></li
      ></ul>
    </nav>
  </div>

  <main [hidden]="! dataService.user.loggedIn">

    <router-outlet></router-outlet>

    <home
      *ngIf="dataService.isInitialized"
      [hidden]="NOTE_BROWSER_ROUTES.indexOf(router.url) === -1 && router.url.indexOf('/tags') !== 0"
    ></home>

  </main>
</div>
