<p>This tag is <b>{{ tag.prog ? '' : 'not' }} smart</b>.</p>

<button class="btn btn-secondary"
  *ngIf="tag.prog"
  (click)="makeDumb()"
>Revert to normal tag</button>

<button class="btn btn-secondary"
  *ngIf="! tag.prog"
  (click)="makeSmart()"
>Make smart</button>

<div class="code-container" [class.is--disabled]="! tag.prog">
  <div class="disabled-cover"></div>

  <pre>function(note, api) {</pre>
  <pre ref-editorRef class="code-editor">{{ tag.progFuncString }}</pre>
  <pre>}</pre>

  <button class="btn btn-primary"
    [disabled]="! changed"
    (click)="saveAndRun()"
  >Save and run</button>

  <button class="btn btn-secondary"
    [disabled]="! changed"
    (click)="revertChanges()"
  >Revert changes</button>
</div>
