<p>This tag is <b>{{ tag.prog ? '' : 'not' }} smart</b>.</p>

<button class="btn btn-secondary"
  *ngIf="tag.prog"
  (click)="makeDumb()"
>Revert to normal tag</button>

<button class="btn btn-secondary"
  *ngIf="! tag.prog"
  (click)="makeSmart()"
>Make smart</button>

<div class="code-container" [class.is--disabled]="! tag.prog">
  <div class="disabled-cover"></div>

  <pre class="function-wrapper">function(note) {</pre>
  <pre ref-editorRef class="code-editor">{{ tag.progFuncString }}</pre>
  <pre class="function-wrapper">}</pre>

  <button class="btn btn-primary"
    [disabled]="! changed"
    (click)="saveAndRun()"
  >Save and run</button>

  <button class="btn btn-secondary"
    [disabled]="! changed"
    (click)="revertChanges()"
  >Revert changes</button>
</div>

<div class="documentation">
  <h1>Documentation</h1>

  <p>Nutmeg will test each of your notes against the function you write above in order to determine if a note should have the "{{ tag.name }}" tag.</p>
  <p>If your function returns true for a note, that note is tagged with this tag - otherwise it's not tagged, and is untagged if it previously was tagged.</p>
  <p>This function is run on every note when the tag is updated, and whenever a note is modified  in the future it is retested against all smart tags.</p>

  <h2>Properties in scope</h2>

  <h3><code>this</code></h3>

  <p>The smart tag object "{{ tag.name }}" is supplied as <code>this</code> to this function. The public <code>Tag</code> model is as follows:</p>

  <pre>id: string;
name: string;
created: number; // unix timestamp
modified: number; // unix timestamp
docs: string[] | null; // array of note IDs tagged with this tag</pre>

  <h3><code>note</code></h3>

  <p>Each function is passed the current note being tested for membership in this tag. The public <code>Note</code> model is as follows:</p>

  <pre>id: string;
body: string; // text of the name
created: number; // unix timestamp
modified: number; // unix timestamp
tags: string[] | null; // array of tag IDs this note is tagged with
private: boolean; // whether this note is a private note</pre>

  <h3><code>api</code></h3>
  <p><i>(under development)</i></p>
  <p>You are also provided an API to access various capabilities of Nutmeg.</p>

  <ul>
    <li><code>api.notes</code> - All of your notes in an object mapping IDs to <code>Note</code> instances.</li>
    <li><code>api.tags</code> - All of your tags in an object mapping IDs to <code>Tag</code> instances.</li>
  </ul>

  <h3><code>_</code></h3>
  <p>Lodash is in scope for you convenience. <a href="https://lodash.com/docs/4.16.2" target="_blank">See their docs.</a>


  <h2>Testing, debugging, and error-handling</h2>
  <p><i>(under development)</i></p>
</div>
