<h3 class="pane-heading">Smart Tag Library</h3>

<p>Smart tags can automatically tag your notes and identify attributes within them. Enabled smart tags will continually process all of your notes as you write.</p>

<p>Select from this library or create your own by choosing one of your existing tags and then clicking "Smart Tag".</p>

<div class="library">
  <div class="library-tag" *ngFor="let tag of progTagLibraryService.library">
    <tag [tag]="tag" [class.is--active]="!! tagsService.tags[tag.id]"></tag>

    <label class="enable">
      Enabled:
      <input type="checkbox" [checked]="!! tagsService.tags[tag.id]" (change)="toggleTag(tag, $event)">
    </label>

    <p class="description">{{ tag.description }}</p>
  </div>
</div>
