<h3 class="pane-heading">Smart Tag Library</h3>

<p>Smart tags can draw insights from your notes, automatically tag them, and perform operations on them. Enabled smart tags will continually process all of your notes as you write.</p>

<p class="create">
  <button class="btn btn-secondary" (click)="createSmartTag()">Create smart tag</button>
  or enable tags from the library below:
</p>

<div class="library">
  <div class="library-tag"
    *ngFor="let tag of progTagLibraryService.library"
    [class.is--disabled]="! tagsService.tags[tag.id]"
  >
    <!-- @TODO/polish @TODO/ece This interface needs some love. Also you should be able to go to tag details or search for notes from here. -->
    <tag [tag]="tag" [isActive]="!! tagsService.tags[tag.id]"></tag>

    <div class="checkbox-wrapper">
      <input
        type="checkbox"
        id="lib-tag--{{ tag.id }}"
        [checked]="!! tagsService.tags[tag.id]"
        (change)="toggleTag(tag, $event)"
      /><label [attr.for]="'lib-tag--' + tag.id"
      >{{ tagsService.tags[tag.id] ? 'Enabled' : 'Disabled' }}</label>
    </div>

    <p class="description">{{ tag.description }}</p>

    <a class="code-link" (click)="viewCode(tag)"><i class="fa fa-code"></i> View code</a>
  </div>
</div>
