<div *ngIf="! progTagLibTag">
  <p>
    This tag is <b>{{ tag.prog ? '' : 'not' }} smart</b>.<span *ngIf="tag.prog"> It is on <b>{{ tag.noteCount || 0 }}</b> note{{ tag.noteCount === 1 ? '' : 's' }}.</span>

    <span *ngIf="tag.fromLib">It comes from the <a [routerLink]="['/tags/smart-tags/library']">Smart Tag Library</a>, so it can't be modified. You can <a [routerLink]="['/tags/tag', tag.id, tag.name, 'delete']">delete</a> it though.</span>
  </p>
  <div *ngIf="! tag.fromLib">
    <p>
      Smart tags let you write your own algorithms that determine which notes the tag is assigned to, and perform custom actions on those notes.
    </p>
    <p>
      See the <a [routerLink]="['/tags/smart-tags/library']">Smart Tag Library</a> for ideas of what smart tags can do, and to browse code examples.
    </p>
  </div>

  <div *ngIf="! tag.readOnly && ! tag.fromLib">
    <button class="btn btn-secondary"
      *ngIf="tag.prog"
      (click)="makeDumb()"
    >Revert to normal tag</button>

    <button class="btn btn-secondary"
      *ngIf="! tag.prog"
      (click)="makeSmart()"
    >Make smart</button>
  </div>
</div>

<div class="code-container" [class.is--disabled]="! tag.prog">
  <div class="disabled-cover"></div>

  <pre class="function-wrapper">function smartTagDef(api) {{ '{' }}</pre> 
  <pre ref-editorRef class="code-editor">{{ tag.progFuncString || DEFAULT_PROG_FUNC_STRING }}</pre>
  <pre class="function-wrapper">{{ '}' }}</pre> 

  <div *ngIf="! tag.readOnly && ! tag.fromLib">
    <button class="btn btn-primary"
      [class.is--loading]="isRunning"
      [disabled]="! changed || isRunning"
      (click)="saveAndRun()"
    >Save and run</button>

    <button class="btn btn-secondary"
      [disabled]="! changed || isRunning"
      (click)="revertChanges()"
    >Revert changes</button>
  </div>
</div>

<div class="documentation" *ngIf="! progTagLibTag">
  <h1>Documentation</h1>

  <p>Headsoak will test each of your notes against the function you return above in order to determine if a note should have the <span class="static-tag">{{ tag.name }}</span> tag.</p>
  <p>If the function returns a truthy value for a note, that note is tagged with this tag - otherwise it's not tagged, and is untagged if it previously was tagged. (You may also return a <code>Promise</code> object and resolve the result asynchronously, and/or use more complicated return types as documented below.)</p><!-- @TODO/polish "below" should link to appropriate area but angular hash routing precludes normal url fragments so we have to use JS - should make a helper for this. -->
  <p>This function is run on every note when the tag is updated, and whenever a note is modified in the future it is retested against all smart tags.</p>
  <p>See example code in the <a [routerLink]="['/tags/smart-tags/library']">Smart Tag Library</a>.</p>

  <h2>Properties in scope</h2>

  <h3><code>this</code></h3>

  <p>The smart tag object <span class="static-tag">{{ tag.name }}</span> is supplied as <code>this</code> to this function. The public <code>Tag</code> model is as follows:</p>

  <!-- @TODO/poliish Syntax highlight these offline and insert here with markup? -->
  <ul>
    <li><code>id: string</code></li>
    <li><code>name: string</code></li>
    <li><code>created: number</code> &ndash;&nbsp; Unix timestamp</li>
    <li><code>modified: number</code> &ndash;&nbsp; Unix timestamp</li>
    <li><code>docs: string[]</code> &ndash;&nbsp; Array of note IDs tagged with this tag</li>
    <li><code>prog: boolean</code> &ndash;&nbsp; Whether this tag is programmatic (i.e. a smart tag)</li>
    <li><code>fromLib: boolean</code> &ndash;&nbsp; Whether this tag came from the Smart Tag Library</li>
    <li><code>getNotes: function() => Note[]</code> &ndash;&nbsp; function that returns array of all the Note instances tagged with this tag</li>
    <li><code>setData: function(key, data) => void</code> &ndash;&nbsp; Persistent key-value data store for saving data you want to associate with this tag. You must call this function when you change data or else it won't be saved.<ul><li>Note that this gets saved as stringified JSON, so functions, prototypes, and any circular object references will be lost.</li></ul></li>
    <li><code>removeData: function(key) => void</code> &ndash;&nbsp; Removes any data held under this key.</li>
    <li><code>getData: function(key, default) => any</code> &ndash;&nbsp; Retrieve data for a specific key. If it does not exist, function returns the provided  default value, or <code>undefined</code> if there is none.<ul><li>Note that the user can manually update tag data as JSON on the tag Explore page, in which case a previous value or object reference retrieved from this function will no longer be accurate. For this reason you should call <code>getData</code> each time you need it rather than storing it for use across asynchronous calls.</li></ul></li>
    <li><code>delete: function(skipConfirmation) => boolean</code> &ndash;&nbsp; Deletes the tag. If <code>skipConfirmation</code> is false, the user is prompted to confirm deletion. Returns boolean indicating whether tag was actually deleted.</li>
  </ul>

  <h3><code>note</code></h3>

  <p>Each function is passed the current note being tested for membership in this tag. The public <code>Note</code> model is as follows:</p>

  <ul>
    <li><code>id: string</code></li>
    <li><code>body: string</code> &ndash;&nbsp; text of the name</li>
    <li><code>created: number</code> &ndash;&nbsp; unix timestamp</li>
    <li><code>modified: number</code> &ndash;&nbsp; unix timestamp</li>
    <li><code>tags: string[]</code> &ndash;&nbsp; array of tag IDs this note is tagged with</li>
    <li><code>tagInstances: Tag[]</code> &ndash;&nbsp; array of <code>Tag</code> instances this note is tagged with</li>
    <li><code>private: boolean</code> &ndash;&nbsp; whether this note is a private note</li>
  </ul>

  <h3><code>api</code></h3>
  <p><i>(under development)</i></p>
  <p>You are also provided an API to access various capabilities of Headsoak.</p>

  <ul>
    <li><code>api.notes</code> &ndash;&nbsp; All of your notes in an object mapping IDs to <code>Note</code> instances.</li>
    <li><code>api.tags</code> &ndash;&nbsp; All of your tags in an object mapping IDs to <code>Tag</code> instances.</li>
    <li><code>api.user</code> &ndash;&nbsp; Information about the current user (properties: <code>uid</code>, <code>email</code>, <code>displayName</code>, <code>lastLogin</code>).</li>
    <li><code>api.formatDate</code> &ndash;&nbsp; Helper function for formatting dates. <a href="https://angular.io/docs/ts/latest/api/common/index/DatePipe-pipe.html" target="_blank">Documentation</a>.
      <ul><li>Example invocation: <code>api.formatDate(Date.now(), 'medium')</code></li></ul>
    </li>
    <li>
      <code>api.modal</code> &ndash;&nbsp; Service for launching modals and prompts. Example invocations:
      <ul>
        <li><code>api.modal.alert('Some alert message')</code></li>
        <li><code>api.modal.confirm('Are you sure you want to xyz?', function(confirmed) {{ '{' }}...{{ '}' }})</code></li>
        <li><code>api.modal.prompt('Please enter your abc\'s', function(input) {{ '{' }}...{{ '}' }})</code></li>
      </ul>
    </li>
  </ul>

  <h3><code>_</code></h3>
  <p>Lodash is in scope for you convenience. <a href="https://lodash.com/docs/4.16.2" target="_blank">See their docs.</a>

  <h2>Note-specific data: child tags and scores</h2>

  <p>A tag such as <code>nsfw</code> doesn't have any special data associated with it: a note either has it or doesn't. Some smart tags, however, may want to attach specific data to a note. For example, a language detection algorithm may mark a note as <code>language: english</code> or <code>language: italian</code>. Instead of returning <code>true</code>, your function may return the following object:</p>

  <pre>{{ '{' }}
    childTag: 'italian'
{{ '}' }}</pre>

  <p>This value would be shown as part of the tag when it's displayed on the note, and users will be able to filter their notes by child tags.</p>

  <p>Some smart tags may not have discrete child tags but may have a score, which could be any number. For example you might have a <code>word count</code> tag that calculates word counts. For this you can return something like the following:</p>

  <pre>{{ '{' }}
    score: 842
{{ '}' }}</pre>

  <p>The above value would be displayed on the tag as well, e.g. <code>word count: 842</code>.</p>

  <p><code>childTag</code> and <code>score</code> can be combined, for instance a sentiment analysis tag might return the confidence of the associated sentiment:</p>

  <pre>{{ '{' }}
    childTag: 'joy',
    score: '82%'
{{ '}' }}</pre>

  <p>The above would be displayed as <code>sentiment: joy</code>, and on hover would show <code>sentiment: joy (82%)</code>.

  <!-- @TODO/prog Also store "more" or "description" and also multiple childTags -->

  <h2>Sorting and searching within a single smart tag</h2>

  <p><i>(under development)</i></p>

  <p>Searching for a specific <code>childTag</code> (e.g. <code>sentiment: joy</code>) is currently possible - sorting by <code>childTag</code> and/or  <code>score</code>s will be possible in the future.</p>

  <h2>Using external resources</h2>

  <p><i>(under development)</i></p>

  <p>Smart tags will be able to import external JavaScript libraries and be able to make JSON API requests.

  <h2>Testing, debugging, and error-handling</h2>

  <p><i>(under development)</i></p>
</div>
