<!-- `[hidden]` not `*ngIf` because it's wasteful to re-initialize the tag browser view every time you go out of details. -->
<div [hidden]="activeTag">
  <div class="tag-list">
    <div class="tag-query">
      <div class="search-bar">
        <input tabindex=1 type="text" placeholder="Search tags"
          ref-queryInput [(ngModel)]="query"
          (ngModelChange)="queryUpdated()"
        >
        <button class="clear" (click)="queryClear()">x</button>
      </div>

      <div class="controls">
        <label>
          {{ tags.length }} TAG{{ tags.length !== 1 ? 'S' : '' }}
          <select tabindex=3 [ngModel]="sortOpt" (ngModelChange)="sort($event)">
            <option *ngFor="let opt of tagsService.sortOpts" [ngValue]="opt">{{opt.name}}</option>
          </select>
        </label>

        <button class="new" (click)="newTag()">new</button>
      </div>
    </div>

    <span *ngFor="let tag of (tags | arrayLimit:limit)" class="tag-wrapper">
      <tag class="tag tag-{{ tag.id }}"
        [routerLink]="['/tags', tag.id, tag.name]"
        [tagId]="tag.id"
        [showCount]="true"
        (deleted)="tagDeleted($event)"
      ></tag>
    </span>
  </div>

  <div class="tag-pane"></div>
</div>

<tag-details
  *ngIf="activeTag"
  [tag]="activeTag"
  (deleted)="tagDeleted($event)"
></tag-details>
