<!-- @TODO/polish Would be nice to animate/crossfade the active panes -->

<div *ngIf="activePane === 'explore'">
  <!-- @TODO/ece Should there be a hashtag here? (if so, search elsewhere on this page where tag.name is mentioned) -->
  <h3 class="pane-heading">Explore <span class="static-tag">{{ tag.name }}</span></h3>

  <div class="note-count-heading">{{ tag.noteCount }} Note{{ tag.noteCount !== 1 ? 's' : '' }}</div>
  
  <tag-visualization *ngIf="tag.noteCount" [centralTag]="tag" [highlightedTag]="hoveredTag"></tag-visualization>

  <div *ngIf="sortedChildTags">
    <h4>Child tags</h4><!-- @TODO/ece Should this be what we call them? -->
    <ul class="tag-list tag-list--child-tags">
      <li *ngFor="let childTag of sortedChildTags">
        <span
          (click)="goToTaggedNotes([childTag])"
          (mouseenter)="hoveredTag = childTag"
          (mouseleave)="hoveredTag = null"
        >
          <!-- @TODO/soon @TODO/child tags @TODO/prog tags Clicking on these should search for that tag. Also though it would be cool to show cooccurrences and/or tag visualization for these instead? Or maybe we *can* have a full tag details page for child tags? -->
          <span class="static-tag">{{ childTag.childTagName }}</span>
          <span class="count">{{ childTag.noteCount }}</span>
        </span>
      </li>
    </ul>
  </div>

  <p *ngIf="! exploreComputed">
    <i class="fa fa-spin fa-cube"></i>&nbsp;
    Loading tag stats...
  </p>

  <div *ngIf="exploreComputed" class="cooccurrences-wrapper">
    <h4 *ngIf="! exploreStats.topCooccurrences.length && ! exploreStats.bottomCooccurrences.length">This tag has not been paired with any other tags.</h4>

    <!-- @TODO/polish Tag details pages only exist for parent tags - so this looks for cooccurrences between notes tagged by *this tag or any of its children* and other tags. I.e. we don't grouping parent and child when checking other tags, so we end up with cooccurrences only with child tags, e.g. this tag cooccurs with "sentiment: positive". We could maybe have a toggle for grouping child tags, which could generate cooccurrence with just "sentiment". -->
    <div *ngIf="exploreStats.topCooccurrences.length" class="cooccurrences">
      <h4>Most commonly paired with:</h4>

      <ul class="cooccurring-tags tag-list">
        <li *ngFor="let cooccurrence of exploreStats.topCooccurrences">
          <span
            (mouseenter)="hoveredTag = cooccurrence.tag"
            (mouseleave)="hoveredTag = null"
          >
            <span class="static-tag"
              (click)="cooccurrence.tag.goTo()"
            >{{ cooccurrence.tag.name }}</span>

            <span class="common-notes-link" (click)="goToTaggedNotes([tag, cooccurrence.tag])">
              {{ cooccurrence.numNotes }} common note{{ cooccurrence.numNotes !== 1 ? 's' : '' }}
            </span>
          </span>
        </li>
      </ul>
    </div>

    <div *ngIf="exploreStats.bottomCooccurrences.length" class="cooccurrences">
      <h4>Least commonly paired with:</h4>

      <ul class="cooccurring-tags tag-list">
        <li *ngFor="let cooccurrence of exploreStats.bottomCooccurrences">
          <span
            (mouseenter)="hoveredTag = cooccurrence.tag"
            (mouseleave)="hoveredTag = null"
          >
            <span class="static-tag"
              (click)="cooccurrence.tag.goTo()"
            >{{ cooccurrence.tag.name }}</span>

            <span class="common-notes-link" (click)="goToTaggedNotes([tag, cooccurrence.tag])">
              {{ cooccurrence.numNotes }} common note{{ cooccurrence.numNotes !== 1 ? 's' : '' }}
            </span>
          </span>
        </li>
      </ul>
    </div>
  </div>

  <div *ngIf="! _.isEmpty(tag.data)">
    <h4>Tag data</h4>
    <pre contenteditable ref-tagDataRef (blur)="tagDataUpdated()">{{ safeStringify(tag.data, null, 2) }}</pre>
  </div>
</div>

<div *ngIf="activePane === 'share'">
  <h3 class="pane-heading">Manage sharing for <span class="static-tag">{{ tag.name }}</span></h3>
  <p>This tag is <b>{{ tag.share ? '' : 'not' }} shared</b>. You can't change this right now.</p>
</div>

<div *ngIf="activePane === 'smartness' && ! tag.internal">
  <h3 class="pane-heading">Smart Tag settings for <span class="static-tag">{{ tag.name }}</span></h3>

  <prog-tag-control [tag]="tag"></prog-tag-control>
</div>

<div *ngIf="activePane === 'privacy'">
  <h3 class="pane-heading">Manage privacy for <span class="static-tag">{{ tag.name }}</span></h3>
  <p>This tag is <b>{{ tag.private ? '' : 'not' }} hidden</b>. You can't change this right now.</p>
</div>

<div *ngIf="activePane === 'delete' && ! tag.internal">
  <h3 class="pane-heading">Delete <span class="static-tag">{{ tag.name }}</span></h3>

  <p *ngIf="tag.noteCount === 0">This tag isn't used on any of your notes, so deleting it isn't really a big deal.</p>

  <p *ngIf="tag.noteCount !== 0">Deleting this tag will remove if from {{ tag.noteCount === 1 ? 'the 1 note' : 'all ' + tag.noteCount + ' notes' }} tagged with it. {{ tag.noteCount === 1 ? 'That note' : 'Those notes' }} will remain undeleted.</p>

  <p *ngIf="! tag.isLibraryTag">
    Are you sure you want to continue? This can't be undone.
  </p>
  <p *ngIf="tag.isLibraryTag">
    Do you want to continue? You can always re-enable this tag again from the <a [routerLink]="['/tags/smart-tags/library']">Smart Tag Library</a> later.
  </p>

  <button class="btn" [class.btn-danger]="! tag.isLibraryTag" (click)="_deleted()">Yes, delete this tag</button>
  </div>
