<!-- `[hidden]` not `*ngIf` because it's wasteful/slow to re-initialize the tag browser view every time you go out of details. -->
<div [hidden]="activeTag">
  <div class="overview tag-list">
    <ul class="menu menu--tag-home">
      <li class="item" [routerLink]="['/tags']" [class.is--active]="activePane === 'viz'">
        <i class="fa fa-fw fa-lg fa-connectdevelop"></i>
        Explore your tags
        <!-- @TODO/ece Capitalzation of side menu. We have "Private Mode" in settings, but "Smart tag" in tag details. -->
      </li>
      <li class="item" [routerLink]="['/tags/smart-tags/library']" [class.is--active]="activePane === 'library'">
        <i class="fa fa-fw fa-lg fa-book"></i>
        Smart Tag Library
      </li>
    </ul>

    <div class="tag-query">
      <div class="search-bar">
        <input class="text-input" tabindex=1 type="text" placeholder="Search your tags"
          ref-queryInput [(ngModel)]="query"
          (ngModelChange)="queryUpdated()"
        >
        <button class="clear" (click)="queryClear()">x</button>
      </div>

      <div class="controls">
        <label>
          {{ tags.length }} TAG{{ tags.length !== 1 ? 'S' : '' }}
          <select tabindex=3 [ngModel]="sortOpt" (ngModelChange)="sort($event)">
            <option *ngFor="let opt of tagsService.sortOpts" [ngValue]="opt">{{opt.name}}</option>
          </select>
        </label>

        <button class="new" (click)="newTag()">new</button>
      </div>
    </div>

    <div *ngFor="let tag of (tags | arrayLimit:limit)" class="tag-wrapper">
      <tag class="tag tag-{{ tag.id }}"
        [routerLink]="['/tags/tag', tag.id, tag.name]"
        [tag]="tag"
        [showCount]="true"
        (mouseenter)="hoveredTag = tag"
        (mouseleave)="hoveredTag = null"
      ></tag>
    </div>

    <hr style="width: 100%">
    <h4>System Tags</h4>
    <div *ngFor="let tag of tagsService.internalTags" class="tag-wrapper">
      <tag class="tag tag-{{ tag.id }}"
        [routerLink]="['/tags/tag', tag.id, tag.name]"
        [tag]="tag"
        [showCount]="true"
        (mouseenter)="hoveredTag = tag"
        (mouseleave)="hoveredTag = null"
      ></tag>
    </div>
  </div>

  <div class="fixed-pane-wrapper">
    <div class="tag-pane fixed-pane-contents">
      <tag-visualization *ngIf="activePane === 'viz'" class="all-tags" [highlightedTag]="hoveredTag"></tag-visualization>

      <prog-tag-library *ngIf="activePane === 'library'"></prog-tag-library>
    </div>
  </div>
</div>

<tag-details
  *ngIf="activeTag"
  [tag]="activeTag"
></tag-details>
