<div *ngIf="tag">
  <div class="tag-overview">
    <a class="go-back" [routerLink]="['/tags']"><i class="fa fa-long-arrow-left"></i>ALL TAGS</a>

    <tag class="tag tag-{{ tag.id }}"
      [tagId]="tag.id"
      [renamable]="true"
      (deleted)="tagDeleted($event)"
    ></tag>

    <ul class="menu">
      <li class="item"><a [routerLink]="['/tags', tag.id, tag.name]">
        <i class="fa fa-fw fa-lg fa-bar-chart"></i>
        Explore
      </a></li>
      <li class="item"><a [routerLink]="['/tags', tag.id, tag.name, 'share']">
        <i class="fa fa-fw fa-lg fa-users"></i>
        Share
      </a></li>
      <li class="item"><a [routerLink]="['/tags', tag.id, tag.name, 'smartness']">
        <i class="fa fa-fw fa-lg fa-magic"></i>
        Smart tag
      </a></li>
      <li class="item"><a [routerLink]="['/tags', tag.id, tag.name, 'privacy']">
        <i class="fa fa-fw fa-lg fa-lock"></i>
        Private tag
      </a></li>
      <li class="item"><a [routerLink]="['/tags', tag.id, tag.name, 'delete']">
        <i class="fa fa-fw fa-lg fa-trash-o"></i>
        Delete
      </a></li>
    </ul>
  </div>

  <div class="tag-pane" *ngIf="activePane === 'explore'">
    <h2 class="card-heading">Explore <span class="tag-name">{{ tag.name }}</span></h2>

    <div class="note-count-heading">{{ tag.docs.length }} Note{{ tag.docs.length !== 1 ? 's' : '' }}</div>

    <!-- @TODO/tags Betterloading indicator while this is loading. Also check computing this doesn't block stuff. -->
    <p *ngIf="! exploreComputed">
      Loading tag stats...
    </p>

    <div *ngIf="exploreComputed">
      <p *ngIf="! exploreStats.topCooccurrences.length && ! exploreStats.bottomCooccurrences.length">This tag has not been paired with any other tags.</p>

      <div *ngIf="exploreStats.topCooccurrences.length" class="cooccurrences">
        Most commonly paired with:

        <ul class="cooccurring-tags">
          <li *ngFor="let cooccurrence of exploreStats.topCooccurrences">
            <span class="tag-name" [routerLink]="['/tags', cooccurrence.tag.id, cooccurrence.tag.name]">
              {{ cooccurrence.tag.name }}
            </span>
            <!-- @TODO/tags Should link these to the search query! -->
            ({{ cooccurrence.numNotes }} note{{ cooccurrence.numNotes !== 1 ? 's' : '' }})
        </ul>
      </div>

      <div *ngIf="exploreStats.bottomCooccurrences.length" class="cooccurrences">
        Least commonly paired with:

        <ul class="cooccurring-tags">
          <li *ngFor="let cooccurrence of exploreStats.bottomCooccurrences">
            <span class="tag-name" [routerLink]="['/tags', cooccurrence.tag.id, cooccurrence.tag.name]">
              {{ cooccurrence.tag.name }}
            </span>
            ({{ cooccurrence.numNotes }} note{{ cooccurrence.numNotes !== 1 ? 's' : '' }})
        </ul>
      </div>
    </div>
  </div>

  <div class="tag-pane" *ngIf="activePane === 'share'">
    <h2 class="card-heading">Manage sharing for <span class="tag-name">{{ tag.name }}</span></h2>
    <p>Hold yer horses!</p>
  </div>

  <div class="tag-pane" *ngIf="activePane === 'smartness'">
    <h2 class="card-heading">Smart Tag settings for <span class="tag-name">{{ tag.name }}</span></h2>
    <p>Coming soon to a web browser near you.</p>
  </div>

  <div class="tag-pane" *ngIf="activePane === 'privacy'">
    <h2 class="card-heading">Manage privacy for <span class="tag-name">{{ tag.name }}</span></h2>
    <p>Like, really soon.</p>
  </div>

  <div class="tag-pane" *ngIf="activePane === 'delete'">
    <h2 class="card-heading">Delete <span class="tag-name">{{ tag.name }}</span></h2>

    <p *ngIf="tag.docs.length === 0">This tag isn't used on any of your notes, so deleting it isn't really a big deal.</p>

    <p *ngIf="tag.docs.length !== 0">Deleting this tag will remove if from {{ tag.docs.length === 1 ? 'the 1 note' : 'all ' + tag.docs.length + ' notes' }} tagged with it. {{ tag.docs.length === 1 ? 'That note' : 'Those notes' }} will remain undeleted.</p>

    <p>Are you sure you want to continue? This can't be undone.</p>

    <button class="btn btn-danger" (click)="_deleted()">Yes, delete the <span class="tag-name">{{ tag.name }}</span> tag</button>
  </div>
</div>
