<span class="name" placeholder="tag name"
  ref-tagName
  [attr.contenteditable]="renaming"
  (click)="renaming && $event.stopPropagation()"
  (keydown.enter)="renameFinish($event)"
  (keydown.esc)="renameCancel()"
  (blur)="renameCancel()"
>{{ tag.name }}</span

><span *ngIf="ofNoteId && tag.noteData && tag.noteData[ofNoteId]"
  ><span *ngIf="tag.noteData[ofNoteId].subTag">: {{ tag.noteData[ofNoteId].subTag }}</span>
  <span class="tag-value-hover" *ngIf="tag.noteData[ofNoteId].score">({{ tag.noteData[ofNoteId].score}})</span>
</span>

<span *ngIf="showCount">({{ tag.docs.length }})</span>

<span class="tag-state">
  <span class="share" *ngIf="tag.share" data-tooltip="This tag is shared">
    <i class="fa fa-users"></i>
  </span>
  <span class="prog" *ngIf="tag.prog" data-tooltip="This tag is a smart tag">
    <i class="fa fa-bolt"></i>
  </span>
  <span class="pinned" *ngIf="tag.id === INTERNAL_TAG_DATA.PINNED.id" data-tooltip="Notes you've pinned">
    <i class="fa fa-thumb-tack"></i>
  </span>
  <span class="archived" *ngIf="tag.id === INTERNAL_TAG_DATA.ARCHIVED.id" data-tooltip="Notes you've archived">
    <i class="fa fa-archive"></i>
  </span>
</span>

<span class="tag-actions" (click)="$event.stopPropagation()">
  <a data-tooltip="Remove" class="tag-action tag-action--remove" *ngIf="inlineRemovable" (click)="remove()">
    <i class="fa fa-times"></i>
  </a>

  <a *ngIf="renamable && ! tag.readOnly" data-tooltip="Rename" class="tag-action tag-action--rename" (click)="renameStart()"><i class="fa fa-pencil"></i></a>
  <a *ngIf="renamable && tag.isLibraryTag" data-tooltip="This is a Smart Tag Library tag and so can't be renamed" class="tag-action tag-action--rename is--disabled"><i class="fa fa-pencil"></i></a>
</span>

<!-- We use `hovered` class toggled by JS in order to add delay and also want to use ngIf for tag-actions-dropdown cause it's a heavy component. -->
<div class="tag-actions-dropdown" *ngIf="enableDropdown && hovered">
  <a class="tag-action" (click)="remove()">
    <i class="fa fa-fw fa-times"></i>
    Remove
  </a>
  <a class="tag-action">
    <i class="fa fa-fw fa-eye"></i>
    View {{ tag.docs.length }} note{{ tag.docs.length !== 1 ? 's' : '' }}
    <!-- @TODO/ece Should clicking on the name still toggle? What about elsehwere in the dropdown? Right now anywhere except the other tag actions will toggle. -->
    <!-- @TODO/ece Active state for these should be more obvious? And not sure about on/off. -->
  </a>
  <a class="tag-action" [routerLink]="['/tags/tag', tag.id, tag.name, 'share']" (click)="$event.stopPropagation()">
    <i class="fa fa-fw fa-users"></i>
    Share
    <span class="current-state">{{ tag.share ? 'On' : 'Off' }} &raquo;</span>
  </a>
  <a class="tag-action" [routerLink]="['/tags/tag', tag.id, tag.name, 'smartness']" (click)="$event.stopPropagation()">
    <i class="fa fa-fw fa-bolt"></i>
    Smart Tag
    <span class="current-state">{{ tag.prog ? 'On' : 'Off' }} &raquo;</span>
  </a>
  <!-- @TODO/tags @TODO/privacy
  <a class="tag-action" [routerLink]="['/tags/tag', tag.id, tag.name, 'privacy']" (click)="$event.stopPropagation()">
    <i class="fa fa-fw fa-lock"></i>
    Private Tag
    <span class="current-state">{{ tag.private ? 'On' : 'Off' }} &raquo;</span>
  </a>
  -->
  <a class="tag-action" [routerLink]="['/tags/tag', tag.id, tag.name]" (click)="$event.stopPropagation()">
    <i class="fa fa-fw fa-bar-chart"></i>
    More
  </a>
</div>
