<span placeholder="tag name"
  ref-tagName
  [attr.contenteditable]="renaming"
  (keydown.enter)="renameFinish($event)"
  (keydown.esc)="renameCancel()"
  (blur)="renameCancel()"
>{{ tag.name }}</span>

<span *ngIf="showCount">({{ tag.docs.length }})</span>

<span class="tag-state">
  <span class="share" *ngIf="tag.share">
    <i class="fa fa-users"></i>
  </span>
  <span class="prog" *ngIf="tag.prog">
    <i class="fa fa-bolt"></i>
  </span>
</span>

<span class="tag-actions" (click)="$event.stopPropagation()">
  <a class="tag-action--remove" *ngIf="removable" (click)="remove()">
    <i class="fa fa-times"></i>
  </a>

  <span *ngIf="editable && ! tag.readOnly">
    <button (click)="renameStart()">rename</button>
    <button (click)="delete($event.shiftKey)">delete</button>
  </span>
</span>