<span ref-tagName [attr.contenteditable]="renaming" (keydown.enter)="renameFinish($event)" (keydown.esc)="renameCancel()" (blur)="renameCancel()">{{ tag.name }}</span>

<span *ngIf="showCount">({{ tag.docs.length }})</span>

<span class="icons">
  <span class="share" *ngIf="tag.share">
    [shared]
  </span>
  <span class="prog" *ngIf="tag.prog">
    [prog]
  </span>

  <button class="hover-cover" *ngIf="removable" (click)="remove()">x</button>

  <span *ngIf="editable">
    <button (click)="renameStart()">rename</button>
    <button (click)="delete($event)">delete</button>
  </span>
</span>