<div class="note-wrapper" *ngIf="note">
  <div class="header">
    <div class="tags"
      ><span class="tag-like" (click)="newTagClick()"
        ><input type="text" placeholder="add tag" class="new-tag-input" tabindex=-1
          ref-addTagInput
          [(ngModel)]="addTagName"
          (focus)="addTagFocused()"
          (keyup.enter)="completeAddTag()"
          (keydown.esc)="closeAddTagField(true); $event.stopPropagation(); $event.preventDefault()"
          (keydown.tab)="closeAddTagField()"
          (keydown.shift.tab)="closeAddTagField()"
        /><span class="new-tag-button"
          [attr.data-tooltip]="! addingTag ? 'Add a tag' : (! addTagName ? 'Close' : ('Add tag &quot;' + addTagName + '&quot;'))"
          (click)="newTagIconClick($event); tooltipService.reloadOnEvent($event, false)"
          (mouseleave)="tooltipService.reloadOnMouseleave($event)"
        ><i *ngIf="! addingTag" class="fa fa-plus"></i><i *ngIf="addingTag" class="fa fa-check"></i></span
      ></span

      ><tag class="tag-{{ tagId }}"
        *ngFor="let tagId of (note.tags | internalTagsFilter)"
        [tag]="getTagById(tagId)"
        [ofNoteId]="note.id"
        (click)="toggleTag(tagId, $event)"
        [enableDropdown]="true"
        (removed)="removeTag(tagId)"
      ></tag>
      <!-- @TODO/ece Should make a call on if clicking on tag name should a) toggle in query, or b) go to tag details. Also, what should cursor be. -->

      <span class="tag-like note-id" data-tooltip="Note ID" *ngIf="settings.get('showNoteIds')">{{ note.id }}</span>

      <span class="tag-like expand-tags" [attr.data-tooltip]="isExpanded ? 'Collapse tags' : 'Show all tags'" (click)="isExpanded = ! isExpanded; tooltipService.reloadOnClick($event)"><i class="fa fa-chevron-up go-up"></i><span class="go-down">&hellip;</span></span>
    </div>
  </div>

  <div class="body-input" tabindex=0 contenteditable 
    ref-bodyInput
    *ngIf="! note.sharedBody"
    [attr.placeholder]="note.new ? 'Enter a new note' : 'This note has no text'"
    [contenteditableModel]="note.body"
    (contenteditableModelChange)="note.body = $event; note.changed()"
    (focus)="bodyFocused()"
    (blur)="bodyBlurred()"
  ></div>
  <!-- @TODO/rewrite/sharing Better to put read-only class and disabled attribute on above textarea so reference is preserved <textarea class="body read-only" disabled="disabled" tabindex=2 *ngIf="note.sharedBody">{{ note.sharedBody }}</textarea> -->

  <div class="note-actions">
    <a data-tooltip="Expand note" class="note-action note-action--open" *ngIf="! opened" (click)="openNote()"><i class="fa fa-fw fa-pencil-square-o"></i></a

    ><a data-tooltip="Close note" class="note-action" *ngIf="opened && ! note.new" (click)="closeNote()"><i class="fa fa-fw fa-close"></i></a

    ><a class="note-action"
      [class.is--active]="note.pinned"
      [attr.data-tooltip]="(note.pinned ? 'Un-pin' : 'Pin') + ' this note'"
      (click)="note.pinned = ! note.pinned; tooltipService.reloadOnClick($event)"
    ><i class="fa fa-fw fa-thumb-tack"></i></a

    ><!--<a data-tooltip="Share settings" class="note-action" (click)="note.showShareSettings()"><i class="fa fa-fw fa-users"></i></a

    >--><a class="note-action note-action--private"
      [class.is--active]="note.private"
      [attr.data-tooltip]="'Make this note' + (note.private ? ' not' : '') + ' private'"
      (click)="note.togglePrivate(); tooltipService.reloadOnClick($event)"
    ><i class="fa fa-fw fa-lock locked"></i><i class="fa fa-fw fa-unlock-alt unlocked"></i></a

    ><span *ngIf="! note.new"><!--
           <a (click)="newNoteWithSameTags()">NNST</a> -->
      <!-- @TODO/rewrite @TODO/ece What are we doing  with "explore note"? We still need somewhere to show timestamps.
      --><a class="note-action"
        data-tooltip="Explore note"
        (click)="toggleExplore()"
      ><i class="fa fa-fw fa-bar-chart"></i></a

      ><a class="note-action"
        [class.is--active]="note.archived"
        [attr.data-tooltip]="(note.archived ? 'Un-archive' : 'Archive') + ' this note'"
        (click)="note.archived = ! note.archived; tooltipService.reloadOnClick($event)"
      ><i class="fa fa-fw fa-archive"></i></a

      ><a data-tooltip="Delete note" class="note-action" (click)="delete($event)"><i class="fa fa-fw fa-trash-o"></i></a>
    </span>
  </div>
</div>

<div class="explore">
  <div *ngIf="showExplore">
    Created: {{ note.created | date:'medium' }}<br>
    Modified: {{ note.modified | date:'medium' }}

    <h4>Raw data:</h4>
    <pre class="syntax" [innerHTML]="rawDataHtml"></pre>
  </div>
</div>

<div class="open-note-indicator">
  <-- note opened over there <!-- @TODO/rewrite/notes Obvs this should be better, and maybe have link to close it, or "show here anyway"? -->
  <button (click)="closeNote()">close note</button>
</div>
