<div class="note-wrapper" *ngIf="note.body"><!-- @TODO/rewrite temporary while sharing not set up, and anyway should be handled in notesDisplay probably -->
  <div class="header">
    <a class="time">{{ 'created: ' + (note.created | date:'medium') + '\nmodified: ' + (note.modified | date:'medium') }}</a><!-- @TODO/rewrite should be tooltip? --><!--@TODO/rewrite angular2 date pipe is "pure" and won't check for updates, so note.created and note.modified will have to be reassigned, confirm it works, etc. -->

    <div class="tags">
      <span class="tag new-tag">
        <input type="text" placeholder="add tag" ref-addTagInput class="new-tag-input" [class.adding-tag]="addingTag" [(ngModel)]="addTagName" (focus)="addTagFocus()" (keyup.esc)="closeAddTagField()"/>
        <button class="new-tag-button" (click)="addTag()">{{ addingTag ? '✓' : '+' }}</button>
      </span>

      <tag *ngFor="let tagId of note.tags" [tagId]="tagId" (click)="toggleTag(tagId, $event)" [removable]="true" (removed)="note.removeTagId(tagId)"></tag>

      <span class="tag note-id" *ngIf="true"><!-- @TODO/rewrite only show if config.showNoteIds -->{{ note.id }}</span>
    </div>
  </div>

  <textarea class="body" tabindex=2 *ngIf="! note.sharedBody" [ngModel]="note.body" (ngModelChange)="note.body = $event; note.changed()" (focus)="note.focused()" (blur)="note.blurred()"></textarea>
  <textarea class="body read-only" disabled="disabled" tabindex=2 *ngIf="note.sharedBody">{{ note.sharedBody }}</textarea>
</div>
