<span class="tags"
  ><tag
    *ngFor="let tag of tags"
    [tag]="tag"
    context="noteQuery"
    inlineRemovable=1
    isActive=1
    (removed)="removeTag(tag, true)"
  ></tag
></span>

<input class="text-input" tabindex=0 type="text" placeholder="Search notes" spellcheck="false"
  ref-textInput
  [(ngModel)]="queryText"
  (ngModelChange)="queryUpdated()"
  (focus)="focused(); ensureCorrectRoute(); setUpAutocomplete()"
  (blur)="blurred()"
  (keydown)="inputKeydown($event)"
>

<span class="query-controls">
  <span class="query-control-icon query-control-icon--main query-control-icon--clear"
    [hidden]="! queryText && ! tags.length"
    (click)="clear()"
  ><i class="fa fa-times"></i></span>

  <span class="query-info">
    <span class="count"
      >{{ notes.length }} NOTE{{ notes.length !== 1 ? 'S' : '' }}</span
    >
    <ng-select class="sort-dropdown"
      [items]="notesService.sortOpts"
      [active]="[sortOpt]"
      (selected)="ngSelectSelected($event)"
      placeholder="{{ sortOpt.text }}"
    ></ng-select>
  </span>
  </span>
