<span class="tags">
  <tag
    *ngFor="let tag of tags"
    [tag]="tag"
    [inlineRemovable]="true"
    (removed)="removeTag(tag, true)"
  ></tag>
</span>

<input class="text-input" tabindex=1 type="text" placeholder="Search notes"
  ref-textInput
  [(ngModel)]="queryText"
  (ngModelChange)="queryUpdated()"
  (focus)="ensureCorrectRoute(); setUpAutocomplete()"
  (keydown)="inputKeydown($event)"
>

<span class="controls">
  <span class="note-count">
    {{ notes.length }} NOTE{{ notes.length !== 1 ? 'S' : '' }}
  </span>
  <ng-select class="sort-dropdown"
    [items]="notesService.sortOpts"
    [active]="[notesService.sortOpts[0]]"
    (selected)="ngSelectSelected($event)"
    placeholder="{{ sortOpt.text }}"
  ></ng-select>
    <!-- [showSearchInputInDropdown]="false" -->

  <span class="control-icon"
    *ngIf="queryText || tags.length"
    (click)="clear()"
  ><i class="fa fa-times"></i></span>
  <span class="control-icon"
    *ngIf="! queryText && ! tags.length"
    (click)="focus()"
  ><i class="fa fa-search"></i></span>
</span>
