<div class="note-query-bar">
  <span class="tags">
    <tag *ngFor="let tag of queryTags" [tagId]="tag.id"></tag>
  </span>

  <input tabindex=1 type="text" placeholder="Search notes" ref-queryInput [(ngModel)]="query" (ngModelChange)="queryUpdated()" (focus)="querySetUpAutocomplete()">

  <label>
    Sort by
    <select tabindex=3 [ngModel]="sortOpt" (ngModelChange)="sort($event)">
      <option *ngFor="let opt of notesService.sortOpts" [ngValue]="opt">{{opt.name}}</option>
    </select>
  </label>

  <hr>
</div>

<note *ngFor="let note of (notes | arrayLimit:limit)" [note]="note"></note>
