=input-underline-base
  border-bottom: 1px solid $input-stroke
  transition: border-color $transition-fast

=input-underline-active
  border-bottom-color: $secondary-color

=input-underline
  +input-underline-base
  &:focus
    +input-underline-active


input[type=text],
input[type=email],
input[type=password]
  border: none
  outline: none
  box-shadow: none
  background: none
  +input-underline
  padding-bottom: 5px
  letter-spacing: 1.2px

textarea,
  width: 100%
  padding: 20px
  border: 1px solid $input-stroke
  background: none

  &,
  &:focus,
  &:active
    outline: none
    box-shadow: none

  &:focus,
  &:active
    border-color: $secondary-color


.btn
  // @TODO/ece Hover and active and disabled states
  cursor: pointer
  touch-action: manipulation
  user-select: none

  position: relative
  display: inline-block
  height: 34px
  padding: 8px 15px
  margin-bottom: 0
  vertical-align: middle

  font-size: 1rem
  font-weight: 400
  line-height: 1.4
  letter-spacing: 1.2px
  text-align: center
  white-space: nowrap

  background: $primary-color-contrast
  border: 0
  border-radius: 0
  outline: 0
  box-shadow: 0 1px 2px 0 $shadow-color

  transition: opacity $transition-fast, color $transition-fast

  &[disabled]
    cursor: default
    opacity: $btn-disabled-opacity

  &:before
    content: "\f1b2" // font awesome's cube
    position: absolute
    display: inline-block
    width: 100%
    left: 0
    top: 50%
    margin-top: -10px // half the font size

    font: normal normal normal 20px/1 FontAwesome
    text-rendering: auto
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

    +fadeable
    +faded-out

  &.is--loading
    color: transparent
    &:before
      +faded-in
      animation: fa-spin 2s infinite linear
      color: $primary-color-contrast

// currently unused
// .btn-default
//   height: 40px
//   padding: 11px 20px
.btn-default
  color: $primary-color

  &.is--loading:before
    color: $primary-color

.btn-primary
  height: 44px
  padding: 13px 40px 10px

  background-color: $secondary-color
  color: $primary-color-contrast
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.15)
  font-weight: bold
  text-transform: uppercase

.btn-secondary
  height: 44px
  padding: 13px 40px 10px

  background-color: $primary-color-contrast
  color: $secondary-color
  // USED TO BE:
  // border: 1px solid $secondary-color
  // box-shadow: none
  // color: $shadow-border

  font-weight: bold
  text-transform: uppercase

  &.is--loading:before
    color: $secondary-color

.btn-success
  +success-style
.btn-warning
  +warning-style
.btn-danger
  +danger-style

