input[type=text]
  border: none
  outline: none

  settings &
    +input-underline
    padding-bottom: 5px
  
textarea,
  &,
  &:focus,
  &:active
    // @TODO/ece @TODO/styles Active/focus state for note? For other textareas like in feedback modal?
    width: 100%
    padding: 20px
    border: 1px solid $gray-stroke
    outline: none

.btn
  // @TODO/ece Hover and active states
  cursor: pointer
  touch-action: manipulation
  user-select: none

  display: inline-block
  height: 34px
  padding: 8px 15px
  margin-bottom: 0
  vertical-align: middle

  font-size: 14px
  font-weight: 400
  line-height: 1.4
  letter-spacing: 1.2px
  text-align: center
  white-space: nowrap

  background: #ffffff
  border: 0
  border-radius: 0
  outline: 0
  box-shadow: 0 1px 2px 0 $transparent-gray-dark

.btn-primary
  height: 44px
  padding: 13px 40px 10px

  background-color: $primary-fill
  color: white
  font-weight: bold
  text-transform: uppercase

.btn-danger
  background-color: $error-fill
