=input-underline-base
  border-bottom: 1px solid $input-stroke
  transition: border-color $transition-fast

=input-underline-active
  // @TODO/ece Should this go to 2px when focused?
  border-bottom-color: $secondary-color

=input-underline
  +input-underline-base
  &:focus
    +input-underline-active


// @TODO/rewrite check browser compability for this - last I remember it didn't work right in FF.
[placeholder][contenteditable]:empty:before
  cursor: text
  content: attr(placeholder)
  // font-style: italic
  color: $input-stroke

span[contenteditable]
  display: inline-block // cursor doesn't display properly (in Chrome at least) on inline contenteditable elements
  cursor: text
  outline: 0
  +input-underline

// @TODO/style @TODO/polish Would be nice if we could replace <br>s with some character orsomething. For now just limit with height instead. See also in _note.component.sass
// =single-line-contenteditable
//   white-space: nowrap
//   width: 100%
//   overflow: hidden 

//   br
//     display: none
//   *
//     display: inline
//     white-space: nowrap


input[type=text],
input[type=email],
input[type=password]
  border: none
  outline: none
  box-shadow: none
  background: none
  +input-underline
  padding-bottom: 5px
  letter-spacing: 1.2px

textarea,
  width: 100%
  padding: 20px
  border: 1px solid $input-stroke
  background: none

  &,
  &:focus,
  &:active
    outline: none
    box-shadow: none

  &:focus,
  &:active
    border-color: $secondary-color


.btn
  +box-shadowed-small
  +base-font-size
  // @TODO/ece Hover and active and disabled states
  cursor: pointer
  touch-action: manipulation
  user-select: none

  position: relative
  display: inline-block
  height: 34px
  padding: 8px 15px
  margin-bottom: 0
  vertical-align: middle

  font-weight: 400
  line-height: 1.4
  letter-spacing: 1.2px
  text-align: center
  white-space: nowrap

  background: $primary-color-contrast
  border: 0
  border-radius: 0
  outline: 0

  transition: opacity $transition-fast, color $transition-fast

  &[disabled]
    cursor: default
    opacity: $btn-disabled-opacity

  &:before
    content: "\f1b2" // font awesome's cube
    position: absolute
    display: inline-block
    width: 100%
    left: 0
    top: 50%
    margin-top: -10px // half the font size

    font: normal normal normal 20px/1 FontAwesome
    text-rendering: auto
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

    +fadeable
    +faded-out

  &.is--loading
    color: transparent
    &:before
      +faded-in
      animation: fa-spin 2s infinite linear
      color: $primary-color-contrast

// currently unused
// .btn-default
//   height: 40px
//   padding: 11px 20px
.btn-default
  color: $primary-color

  &.is--loading:before
    color: $primary-color

.btn-primary
  height: 44px
  padding: 13px 40px 10px

  background-color: $secondary-color
  color: $primary-color-contrast
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.15)
  font-weight: bold
  text-transform: uppercase

.btn-secondary
  height: 44px
  padding: 13px 40px 10px

  background-color: $primary-color-contrast
  color: $secondary-color
  // USED TO BE:
  // border: 1px solid $secondary-color
  // box-shadow: none
  // color: $shadow-border

  font-weight: bold
  text-transform: uppercase

  &.is--loading:before
    color: $secondary-color

.btn-success
  +success-style
.btn-warning
  +warning-style
.btn-danger
  +danger-style


.query-controls
  .count
    margin-right: 4px
    font-weight: bold
    letter-spacing: 1.2px

  .control-icon
    +icon-button
    position: relative
    top: -2px;

  .sort-dropdown
    display: inline-block
    position: relative
    top: -2px // magic number, too lazy to figure out why this is necessary

    // @NOTE: A bunch of the following styles are copying bootstrap styles needed by the ng-select component. These should probably be elsewhere as a reusable generic dropdown.

    .ui-select-container
      outline: 0 !important

    .ui-select-toggle
      cursor: pointer
      user-select: none
      touch-action: manipulation

      display: inline-block
      vertical-align: middle
      height: auto

      padding: 0 25px 0 0
      border: 0
      box-shadow: none

      background: none
      color: inherit
      font-weight: normal
      letter-spacing: 1.1px
      line-height: 1
      text-transform: none

    // This is a thing for you to type in something to search, which we're not using and just leaves behind awkward underline
    .ui-select-search
      display: none

    .dropdown
      position: relative

    .dropdown-menu
      +plain-list
      +menu-dropdown
      position: absolute
      max-height: none
      top: 100%
      z-index: 1000
      display: none
      margin: -17px 0 0 // magic number to vert align with note count text

    .open
      input
        // The plugin lets users search within the dropdown - ours is so small that let's hide this and just use the dropdown popup.
        position: absolute
        height: 0
        padding: 0

      > .dropdown-menu
        display: block

    .ui-select-choices .ui-select-choices-row // extra specificity to override their styles
      .dropdown-item
        +menu-link

      &.active .dropdown-item
        +menu-link-hover
