modal
  z-index: 100000
  overflow: auto // Not sure why, but saw this in Vex modal

  visibility: hidden
  opacity: 0
  transition: visibility 0.5s ease-in, opacity 0.5s ease-in

  &.on
    visibility: visible
    opacity: 1
    transition-timing-function: ease-out

  &,
  .modal-backdrop
    -webkit-overflow-scrolling: touch // Not sure why, but saw this in Vex modal
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0

  .modal-backdrop
    -webkit-backface-visibility: hidden; // Not sure why, but saw this in Vex modal
    background: rgba(0, 0, 0, 0.7)

  .modal-content-container
    +outer-container
    height: 100%

  .modal-content
    +card
    position: relative 
    width: 620px
    max-width: 90%
    top: 50%
    transform: translateY(-35%)
    margin: 0 auto

    transition: transform 0.5s ease-in

  &.on .modal-content
    transform: translateY(-50%)
    transition-timing-function: ease-out

  &.full-height .modal-content
    height: 100%

  .modal-close
    +icon-button
    display: none
    position: absolute
    padding: 10px
    top: 10px
    right: 10px

  &.cancellable .modal-close
    display: inline-block;

  h3
    +card-heading
    margin-top: 0
    margin-left: 10px


feedback
  display: block
  padding-bottom: 80px

  textarea
    height: 200px
    margin-bottom: 20px
    font-size: 14px
    color: $gray-dark

    &::-webkit-input-placeholder
      font-weight: bold
      letter-spacing: 1.1px
    &::-moz-placeholder
      font-weight: bold
      letter-spacing: 1.1px
    &:-ms-input-placeholder  
      font-weight: bold
      letter-spacing: 1.1px

  .alert
    position: absolute
    margin-top: 20px
