modal
  z-index: 100000
  overflow: auto // Not sure why, but saw this in Vex modal

  visibility: hidden
  opacity: 0
  transition: visibility $transition-med ease-in, opacity $transition-med ease-in

  .uninitialized + &
    transition-duration: $transition-slow

  &.on
    visibility: visible
    opacity: 1
    transition-timing-function: ease-out

  &,
  .modal-backdrop
    -webkit-overflow-scrolling: touch // Not sure why, but saw this in Vex modal
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0

  .modal-backdrop
    pointer-events: none // Otherwise it eats scrolling when you're on marketing home page
    background: $modal-backdrop

  &.full-height .modal-backdrop
    // background: rgba(0, 0, 0, 0.15)
    background: none

  &.cancellable .modal-backdrop
    pointer-events: all

  .modal-content-container
    +outer-container
    position: relative // @TODO/now Check this doesn't break normal modals
    max-width: $screen-small
    height: 100%
    max-width: $screen-small

  .modal-content
    +card
    +span(6)
    float: none
    position: relative 
    top: 50%
    transform: translateY(-50%)
    margin: 0 auto

    @media (min-width: $tablet-large)
      &.is--login,
      &.is--loading
        +span(6 last)

    @media (max-width: $tablet-large)
      +span(9)
      float: none
      margin-left: auto
      margin-right: auto

    @media (max-width: $tablet-small)
      +span(11)
      float: none
      margin-left: auto
      margin-right: auto

    @media (max-height: 700px)
      padding-top: 25px
      padding-bottom: 25px

  &.windowed
    .modal-content
      transform: translateY(-35%)
      transition: transform $transition-med ease-in

    &.on .modal-content
      transform: translateY(-50%)
      transition-timing-function: ease-out

  &.full-height .modal-content
    height: 100%

  .modal-close
    +icon-button
    display: none
    position: absolute
    padding: 10px
    top: 10px
    right: 10px

  &.cancellable .modal-close
    display: inline-block;

  .modal-heading
    +pane-heading
    margin-top: 0
    margin-left: 10px


  .generic
    .body
      padding: 20px 0

      h2, h3, h4
        &:first-child
          // There's lots of space at the top of the modal, so top margin is unecessary here.
          margin: 0 0 1em

    .prompt
      margin-bottom: 20px
      input
        width: 100%

    .additional-buttons
      margin-left: 25px      
    .btn
      margin-right: 25px      
      &:last-of-type
        margin-right: 0


.loading-modal
  pointer-events: none
  z-index: 1
  position: absolute
  width: 100%
  height: 100%
  left: 0
  top: 0
  background-color: $primary-color-contrast
  text-align: center

  opacity: 0
  visibility: hidden
  transition: visibility $transition-med ease-in, opacity $transition-med ease-in

  &.is--loading
    opacity: 1
    visibility: visible


feedback,
private-mode
  display: block
  padding-bottom: 80px

feedback
  textarea
    height: 200px
    margin-bottom: 20px
    font-size: 1rem
    color: $primary-color

    &::-webkit-input-placeholder
      font-weight: bold
      letter-spacing: 1.1px
    &::-moz-placeholder
      font-weight: bold
      letter-spacing: 1.1px
    &:-ms-input-placeholder  
      font-weight: bold
      letter-spacing: 1.1px

private-mode
  min-height: 320px // lazy shortsighted way to ensure modal stays same size in different states (private mode on/off)
  .intro
    margin-bottom: 50px

  input[type=password]
    width: 100%
    margin-bottom: 15px
    padding-right: 15px
    padding-left: 15px

  .enable-button
    float: right
