.syntax
  white-space: pre-wrap
  overflow-y: auto
  max-height: 50vh
  padding: 1rem
  background: $primary-color
  color: $primary-color-contrast
  
  .string
    color: $highlight-color
  .number
    color: $secondary-color
  .boolean
    color: darkblue
  .null
    color: deeppink
  .key
    color: gold

code
  font-family: monospace
