// BASE COLORS

$primary-color: #4a4a4a // e.g. body text, icons
$primary-color-light: #f2f2f2 // e.g. tag chiclet bg
$primary-color-contrast: rgba(255, 255, 255, 0.925) // e.g. card bg, text background
$secondary-color: #c3521b // e.g. tag text, button stuff
$highlight-color: #50e3c2 // e.g. hover states


// OTHER COLORS

$logo-color: $highlight-color

$app-bg-gradient-top: #16697f
$app-bg-gradient-bottom: #0e465e

// @TODO/ece These
$success-stroke: green
$warning-stroke: yellow
$error-stroke: red
$error-fill: red

$btn-disabled-opacity: 0.5

$shadow-color: rgba(0, 0, 0, 0.5) // e.g. card box-shadow, text shadow
$shadow-color-light: rgba(0, 0, 0, 0.25) // Used on tag dropdown menu and surprisingly, 0.5 and 0.1 look bad
$shadow-border: rgba(0, 0, 0, 0.1) // we use box shadows everywhere but someshapes like the shape of account menu you can't really do box shadow, but a border with this color kind of approximates it
// @TODO/ece Could be fun to do something like this, which takes $primary-color and makes it translucent. That way these box shadows will match changing theme
// $shadow-border: rgba(74, 74, 74, 0.5)

$modal-backdrop: rgba(0, 0, 0, 0.7)
$white-overlay: rgba(255,255,255,0.75)



// ASSIGNED COLORS

$link-color: $secondary-color
$link-hover: $highlight-color

$tag-color: $secondary-color
$tag-bg: $primary-color-light

$icon-color: $primary-color
$icon-hover: $highlight-color
$icon-active: $secondary-color
$icon-active-hover: mix($highlight-color, $secondary-color) // @TODO/ece What do you think of this? any of the other 3 colors produces weird UX when clicking. Another option (though this also adds a new design element) would be to slightly enlarge the icon upon hover.

$overlaid-bg-color: rgba($primary-color-contrast, 1)

// @TODO/ece This is used for input placeholder text, input borders/underlines, logo slogan, minor text on login (forgot password, T&Cs), etc. Current $primary-color-light is too light to be visible on white, so using this for now:
// $input-stroke: $primary-color-light
$input-stroke: #989898
