=card
  padding: 50px 40px
  background-color: $card-bg
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5)


=plain-list
  display: inline
  list-style-type: none
  margin: 0
  padding: 0

  li,
  ol
    display: inline

=single-line-truncate
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
