=outer-container
  +container($screen-large)
  padding-left: gutter()
  padding-right: gutter()

=box-shadowed
  box-shadow: 0 2px 4px 0 $shadow-color
=box-shadowed-small
  box-shadow: 0 1px 2px 0 $shadow-color
=box-shadowed-small-light
  box-shadow: 0 1px 2px 0 $shadow-color-light

=card
  +box-shadowed
  padding: 50px gutter() * 2 // @TODO If this mixin is used in any context other than full 12 columns, padding will need to be redeclared passing # of columns its in to gutter()
  background-color: $primary-color-contrast


$tag-hash-opacity: 0.33

=tag-chiclet
  display: inline-block
  margin: 5px 5px 5px 0
  padding: 2px 4px
  transition: color $transition-fast, background-color $transition-fast, box-shadow $transition-fast

// there's a mixin "tag-face" in typography

=tag-chiclet-active
  +box-shadowed-small
  color: $primary-color-contrast
  background-color: $tag-color

// To override `tag-chiclet-active` if necessary
=tag-chiclet-reset
  +tag-chiclet
  color: $tag-color !important
  background-color: transparent !important
  box-shadow: none !important

=text-link
  cursor: pointer
  color: $link-color
  text-decoration: underline

  transition: color $transition-fast
  &:hover
    color: $link-hover

  &.is--disabled
    cursor: default
    opacity: $btn-disabled-opacity
    &:hover
      color: $link-color

.text-link
  +text-link

=danger-link
  +text-link
  color: $danger-color
  letter-spacing: 0.9px
  text-transform: uppercase

.danger-link
  +danger-link

=menu-dropdown
  +box-shadowed
  background-color: $menu-dropdown-bg-color
  border-bottom: 2px solid $secondary-color

=menu-link
  +menu-link-unhovered
  cursor: pointer
  width: 100%
  padding: 5px 10px
  text-decoration: none
  transition: color $transition-fast, background-color $transition-fast

  .fa
    margin-right: 0.25rem

  &:hover,
  &.is--active
    +menu-link-hover

=menu-link-unhovered
  color: $primary-color
  background-color: transparent
=menu-link-hover
  color: $menu-dropdown-bg-color
  background-color: $primary-color

=icon-button
  cursor: pointer
  color: $icon-color
  transition: color $transition-fast

  &:hover
    color: $icon-hover

  &.is--active
    color: $icon-active
    &:hover
      color: $icon-active-hover

  &.is--disabled
    cursor: default
    opacity: $btn-disabled-opacity
    &:hover
      color: $icon-color


=alert-style
  color: white
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.15) // @TODO/ece What do you think of this? Look at toasters and primary and other buttons

  a
    color: white
    text-decoration: underline
    &:hover
      color: $highlight-color

  code
    text-shadow: none

=success-style
  +alert-style
  background-color: $success-color
=info-style
  +alert-style
  background-color: $primary-color
=warning-style
  +alert-style
  background-color: $warning-color
=danger-style
  +alert-style
  background-color: $danger-color

.danger-text
  color: $danger-color


=fadeable
  transition: opacity $transition-fast, visibility $transition-fast
=faded-out
  opacity: 0
  visibility: hidden
=faded-in
  opacity: 1
  visibility: visible

=plain-list
  display: block
  list-style-type: none
  margin: 0
  padding: 0

  li,
  ol
    display: inline

=single-line-truncate
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.clearfix:after
  content: ""
  display: table
  clear: both
