html,
button,
input,
optgroup,
select,
textarea
  font-family: 'Open Sans', sans-serif
  font-size: 14px
  line-height: 1.5;

=tag-face
  font-weight: bold
  color: $tag-color
  letter-spacing: 0

.logo h1
  color: $logo-color
  font-size: 28px
  font-weight: normal
  text-transform: uppercase
  white-space: nowrap

  i.fa
    position: relative;
    top: 3px;
    margin-right: 9px
    font-size: 36px;

=card-heading
  font-size: 24px
  letter-spacing: 1.8px
  font-weight: bold

=control-heading
  font-size: 16px
  letter-spacing: 1.2px
  text-decoration: none
