$card-bg: white

$tag-color: #2f907a

$input-underline: #989898

$success-stroke: green
$warning-stroke: yellow
$error-stroke: red

=app-bg
  background-color: #0e465e
  background-image: linear-gradient(201deg, #16697f, #0e465e)
