@import 'colors'

$header-height: 102px
$full-height: calc(100vh - #{$header-height}) // @NOTE 114px is a magic number: the header height


$transition-gonzales: 0.1s
$transition-fast: 0.2s
$transition-med: 0.5s
$transition-slow: 1.5s
