doctype html
html(lang='en', ng-app='nutmeg')

  head

    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(charset='utf-8')

    title nutmeg
    link(rel="shortcut icon", href="/favicon.png")


    -each style in cdnStyles
      link(rel='stylesheet', href= style)

    // build:css css/nutmeg.css

    //- bower:css
    //- endbower

    -each style in styles
      link(rel='stylesheet', href= style)

    // endbuild

  body(ng-controller="Nutmeg")
    block content


    -each script in cdnScripts
      script(src= script)

    // build:js js/nutmeg.js

    //- bower:js
    script(src='vendor/mousetrap/mousetrap.js')
    script(src='vendor/mousetrap-global-bind/index.js')
    script(src='vendor/async/lib/async.js')
    //- endbower

    -each script in scripts
      script(src= script)

    // endbuild
