li.tag(ng-click="q.toggleTag(tag.id, $event)", ng-class="{queried: (q.tags.indexOf(tag.id) != -1), 'read-only': tag.readOnly}")
  | {{tag.name}} ({{ tag.docs.length }}) 
  span.icons
    a.prog.toggle(title="algorithmic", ng-click="$event.stopPropagation(); t.tagProgSettings(tag)", ng-class="tag.prog ? 'on' : ''")
      i.fa.fa-bolt.fa-fw
    a.share.toggle.wide.tooltip(ng-attr-data-tooltip="{{ tag.sharedBy ? tag.sharedBy + ' is sharing this with you' : (tag.share ? 'sharing with ' + _.keys(tag.share).join(',') : 'share this tag') }}", ng-click="$event.stopPropagation(); t.sharingSettings(tag)", ng-class="_.isEmpty(tag.share) ? '' : 'on'")
      i.fa.fa-fw(ng-class="::tag.sharedBy ? 'fa-user' : 'fa-users'")
    a.edit(title="rename", ng-click="$event.stopPropagation(); t.editTag(tag)", ng-hide="::tag.readOnly")
      i.fa.fa-pencil.fa-fw
    a.delete(title="delete", ng-click="$event.stopPropagation(); t.deleteTag(tag)")
      i.fa.fa-trash-o.fa-fw
    //- a.toggle(ng-class="{on: tag.private}", ng-click="tag.private = tag.private ? null : true; t.tagUpdated(tag.id); $event.stopPropagation()")
      i.fa.fa-lock
      i.fa.fa-unlock-alt