//- see explanation in login HTML where this page is included in an iframe

form#login-form(action="/pseudo-login-action.html", method="get")
  input#email(name="email", type="email")
  input#password(name="password", type="password")
  input(type="submit", value="go")
