<header>
  <div class="logo">
    <h1 (click)="logoClick()"><i class="fa fa-circle"></i>nutmeg<span class="superscript">beta</span></h1>
    <div class="subheading subheading--initial" [class.is--hidden]="view !== 'create-account'">augmented note-taking</div>
    <div class="subheading subheading--general" [class.is--hidden]="view === 'create-account'">see your mind clearly</div>
  </div>
</header>

<div *ngIf="view === 'create-account'">
  <form id="create-account-form" class="sign-up-form" ref-createAccountForm="ngForm" (ngSubmit)="createAccountForm.valid && createAccount()">
    <input name="email" type="email" placeholder="E-mail address" autocomplete="email" required ngControl="email" [(ngModel)]="email">
    <input name="pass1" type="password" placeholder="Password" autocomplete="new-password" required ngControl="pass1" [(ngModel)]="pass1">
    <!-- <input name="pass2" type="password" placeholder="Repeat password" autocomplete="new-password" required ngControl="pass2" [(ngModel)]="pass2"> -->

    <button class="btn btn-primary" type="submit">Sign up</button>
    <!-- <p ng-show="u.loading" class="loader"><img src="/img/loader-white.gif"></p> -->

    <!-- <aside>By signing up you agree with our <a href="#@TODO/rewrite">Terms and Conditions</a> and <a href="#@TODO/rewrite">Privacy Policy</a></aside> -->
    <aside>We're in Beta! Not all features are finalized. Enjoy.</aside>
  </form>

  <div class="switch-sign-up-in" (click)="view = 'login'">
    Existing user?
    <button class="btn btn-secondary create-account-link">Sign In</button>
  </div>
</div>

<div *ngIf="view === 'login'">
  <form id="login-form" ref-loginForm="ngForm" (ngSubmit)="loginForm.valid && login(pseudoLoginIframe)">
    <input name="email" type="email" placeholder="E-mail address" autocomplete="email" required ngControl="email" [(ngModel)]="email">

    <input name="password" type="password" placeholder="Password" autocomplete="current-password" required ngControl="password" [(ngModel)]="password">

    <aside>
      Forgot your password? <a (click)="view = 'reset-password'">Reset password</a>
    </aside>

    <button class="btn btn-primary" type="submit">Sign In</button>
    <!-- <p ng-show="u.loading" class="loader"><img src="/img/loader-white.gif"></p> -->

    <iframe ref-pseudoLoginIframe id="pseudo-login-iframe" src="/pseudo-login.html" style="width:0px; height:0px; border:0px;"></iframe>
  </form>

  <div class="switch-sign-up-in" (click)="view = 'create-account'">
    New to Nutmeg?
    <button class="btn btn-secondary create-account-link">Sign Up</button>
  </div>
</div>

<div class="reset-password-form" *ngIf="view === 'reset-password'" [class.is--success]="passwordResetSuccess">
  <form class="reset-password-form" ref-resetPasswordForm="ngForm" (ngSubmit)="resetPassword()">
    <!-- @TODO/ece Should we have like "enter your email address and we'll send you a new password" or something? -->

    <input name="email" type="email" placeholder="E-mail address" autocomplete="email" required ngControl="email" [(ngModel)]="email">

    <button class="btn btn-primary" type="submit" [disabled]="! resetPasswordForm.valid || passwordResetSuccess">Reset password</button>
  </form>

  <aside class="switch-sign-up-in">
    <a (click)="view = 'login'">&laquo; Back to sign in</a>
  </aside>

  <div *ngIf="passwordResetSuccess" class="alert alert-success">
    <!-- @TODO/ece This message -->
    Password reset email successfully sent to {{ email }}! (Unless there is no account for email {{ email }}, in which case nothing's been sent, but we're not telling you which cause that would be a tiny security hole.) Anyway, please check your email.
  </div>
</div>
