<header>
  <div class="logo">
    <h1><img src="/assets/img/logo.svg"><span class="text">Headsoak<span class="superscript">beta</span></span></h1>
    <div class="subheading subheading--initial" [class.is--hidden]="view !== 'login'">see your mind clearly</div>
    <div class="subheading subheading--general" [class.is--hidden]="view === 'login'">augmented note-taking</div>
  </div>
</header>

<div *ngIf="view === 'email-signup'">
  <div class="signup-text">Sign up for the beta launch</div>

  <div class="hack-response">
    <div class="response success hack">Thanks for subscribing! We'll be in touch soon.</div>
  </div>
  <div class="sendgrid-subscription-widget"
    [attr.data-token]="SENDGRID_DATA_TOKEN"
    data-css="false"
    data-submit-text="Subscribe for Beta Launch"
  >
    <label><span>First Name</span><input type="text" name="a" placeholder="First name"></label>
  </div>

  <div class="switch-sign-up-in" (click)="view = 'login'">
    Existing user?
    <button class="btn btn-secondary create-account-link">Sign In</button>
  </div>
</div>

<div *ngIf="view === 'create-account'">
  <form id="create-account-form" class="sign-up-form" ref-createAccountForm="ngForm" (ngSubmit)="createAccountForm.valid && createAccount()">
    <input name="email" type="email" placeholder="E-mail address" autocomplete="email" required ngControl="email" [(ngModel)]="email">
    <input name="pass1" type="password" placeholder="Password" autocomplete="new-password" required ngControl="pass1" [(ngModel)]="pass1">
    <!-- <input name="pass2" type="password" placeholder="Repeat password" autocomplete="new-password" required ngControl="pass2" [(ngModel)]="pass2"> -->
    <!-- @TODO/ece How should we handle user who tries to "sign up" with email/pass of existing account, cause they didn't notice they're on the sign up form? Should we automatically try to log them in? We should log how often this error happens. -->

    <button class="btn btn-primary" type="submit"
      ref-signUpButton
      [class.is--loading]="isLoading"
      [disabled]="isLoading"
    >Register</button>

    <!-- <aside>By signing up you agree with our <a href="#@TODO/rewrite">Terms and Conditions</a> and <a href="#@TODO/rewrite">Privacy Policy</a></aside> -->
    <aside>We're in Beta! Not all features are finalized. Enjoy.</aside>
  </form>

  <div class="switch-sign-up-in" (click)="view = 'login'">
    Existing user?
    <button class="btn btn-secondary create-account-link">Sign In</button>
  </div>
</div>

<div *ngIf="view === 'login'">
  <form id="login-form" ref-loginForm="ngForm" (ngSubmit)="loginForm.valid && login(pseudoLoginIframe)">
    <input name="email" type="email" placeholder="E-mail address" autocomplete="email" required ngControl="email" [(ngModel)]="email">

    <input name="password" type="password" placeholder="Password" autocomplete="current-password" required ngControl="password" [(ngModel)]="password">

    <aside>
      Forgot your password? <a (click)="view = 'reset-password'">Reset password</a>
    </aside>

    <button class="btn btn-primary" type="submit"
      ref-signInButton 
      [class.is--loading]="isLoading"
      [disabled]="isLoading"
    >Sign In</button>

    <iframe ref-pseudoLoginIframe id="pseudo-login-iframe" src="/pseudo-login.html" style="width:0px; height:0px; border:0px;"></iframe>
  </form>

  <!--
  <div class="switch-sign-up-in" (click)="view = 'create-account'">
    New to Headsoak?
    <button class="btn btn-secondary create-account-link">Register</button>
  </div>
  -->
  <div class="switch-sign-up-in" (click)="view = 'email-signup'">
    New here?
    <button class="btn btn-secondary create-account-link">Beta signup</button>
  </div>
</div>

<div class="reset-password-form" *ngIf="view === 'reset-password'">
  <form class="reset-password-form" ref-resetPasswordForm="ngForm" (ngSubmit)="resetPassword()">
    <!-- @TODO/ece Should we have like "enter your email address and we'll send you a new password" or something? -->

    <input name="email" type="email" placeholder="E-mail address" autocomplete="email" required ngControl="email" [(ngModel)]="email">

    <button ref-resetPasswordButton class="btn btn-primary" type="submit" [class.is--loading]="isLoading">Reset password</button>
  </form>

  <aside class="switch-sign-up-in">
    <a (click)="view = 'login'">&laquo; Back to sign in</a>
  </aside>
</div>
