<div *ngIf="view === 'login'">
  <h3>log in</h3>

  <form id="login-form" ref-loginForm="ngForm" (ngSubmit)="login(); pseudoLogin(pseudoLoginIframe)">
    <input name="email" type="email" placeholder="email" autocomplete="email" required ngControl="email" [(ngModel)]="email">
    <input name="password" type="password" placeholder="password" autocomplete="current-password" required ngControl="password" [(ngModel)]="password">
    <input type="submit" value="go" [disabled]="! loginForm.valid">
    <!-- <p ng-show="u.loading" class="loader"><img src="/img/loader-white.gif"></p> -->

    <iframe ref-pseudoLoginIframe id="pseudo-login-iframe" src="/pseudo-login.html" style="width:0px; height:0px; border:0px;"></iframe>
  </form>

  <p>
    <button (click)="forgotPassword()">forgot password?</button>
  </p>

  <p>
    or
    <button class="create-account-link" (click)="view = 'create-account'">create an account</button>
  </p>
</div>

<div *ngIf="view === 'logout'">
  <button class="logout-link" (click)="logout()">logout</button>
  <button class="delete-account-link" (click)="deleteAccount()">delete account</button>
</div>

<div *ngIf="view === 'create-account'">
  <h3>create an account</h3>

  <form id="create-account-form" ref-createAccountForm="ngForm" (ngSubmit)="createAccount()">
    <input name="email" type="email" placeholder="email" autocomplete="email" required ngControl="email" [(ngModel)]="email">
    <input name="pass1" type="password" placeholder="password" autocomplete="new-password" required ngControl="pass1" [(ngModel)]="pass1">
    <input name="pass2" type="password" placeholder="password" autocomplete="new-password" required ngControl="pass2" [(ngModel)]="pass2">
    <input type="submit" value="go" [disabled]="! createAccountForm.valid">
    <!-- <p ng-show="u.loading" class="loader"><img src="/img/loader-white.gif"></p> -->
  </form>

  <p>
    <button (click)="view = 'login'">back</button>
  </p>
</div>
