<div class="pane-layout">
  <div class="overview">
    <a class="go-back" [routerLink]="['/']"><i class="fa fa-long-arrow-left"></i>BACK TO NOTES</a>

    <div class="logo">
      <h1 (click)="logoClick()"><i class="fa fa-circle"></i>Headsoak</h1>
    </div>

    <ul class="menu">
      <li class="item" [routerLink]="['/settings', 'account']" [class.is--active]="section === 'account'">
        <i class="fa fa-fw fa-lg fa-smile-o"></i>
        Account
      </li>
      <li class="item" [routerLink]="['/settings']" [class.is--active]="section === 'settings'">
        <i class="fa fa-fw fa-lg fa-sliders"></i>
        Settings
      </li>
      <li class="item" [routerLink]="['/settings', 'shortcuts']" [class.is--active]="section === 'shortcuts'">
        <i class="fa fa-fw fa-lg fa-fighter-jet"></i>
        Shortcuts
      </li>
      <li class="item" [routerLink]="['/settings', 'private-mode']" [class.is--active]="section === 'privateMode'">
        <i class="fa fa-fw fa-lg fa-user-secret"></i>
        Private Mode
      </li>
      <li class="item" [routerLink]="['/settings', 'feedback']" [class.is--active]="section === 'feedback'">
        <i class="fa fa-fw fa-lg fa-comment-o"></i>
        Feedback
      </li>
    </ul>
  </div>

  <div class="pane">
    <h3 class="pane-heading">{{ SECTION_NAME_MAP[section] }}</h3>

    <feedback *ngIf="section === 'feedback'"></feedback>
    <private-mode *ngIf="section === 'privateMode'"></private-mode>

    <div *ngIf="initialized && section === 'shortcuts'">
      <label>
        Modifier key(s):
        <input type="text"
          [(ngModel)]="settings.data['sMod'].value"
          (blur)="settingUpdated(settings.data['sMod'])"
          (keyup.enter)="settingUpdated(settings.data['sMod'])"
        />
        <i class="fa fa-question-circle" data-tooltip="This will prefix all of these shortcuts. Your options are:&lt;br&gt;&lt;br&gt;- 'ctrl'&lt;br&gt;- 'shift'&lt;br&gt;- 'alt'&lt;br&gt;- 'option'&lt;br&gt;- 'command' (only on Mac)&lt;br&gt;- 'meta' (doesn't work?)&lt;br&gt;- 'mod' ('ctrl' on a PC, 'command' on a Mac).&lt;br&gt;&lt;br&gt;You can also combine them, e.g. 'ctrl+shift', or leave blank to control different shortcuts separately."></i>
      </label>
      <i class="fa fa-cube save-notice" [class.fa-spin]="dataService.isUnsaved(settings.data['sMod'])"></i>
      <span style="color: red">{{ modKeyError }}</span>
    </div>

    <div *ngIf="section === 'shortcuts'">
      <span data-tooltip="Type in a letter or symbol, or write out one of the following keys: backspace, tab, enter, return, capslock, esc, escape, space, pageup, pagedown, end, home, left, up, right, down, ins, del&lt;br&gt;&lt;br&gt;You may include modifier keys in here too, e.g. 'shift+alt+backspace'">
        What can I type in for shortcuts? 
        <i class="fa fa-question-circle" ></i>
      </span>
    </div>

    <div *ngIf="initialized && section === 'account'">
      <img class="avatar" src="{{ settings.get('profileImageUrl', 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7') }}" />
    </div>

    <setting
      *ngFor="let setting of displayedSettings"
      [setting]="setting"
      [settings]="settings"
      class="setting-{{ setting.id }}"
      (updated)="settingUpdatedProxy($event)"
    ></setting>

    <!-- These are specific to account settings and hard to squish into reusable SettingComponent format, so: -->
    <div *ngIf="section === 'account'">
      <div class="setting setting--account">
        <div class="heading">
          <label for="change-email-input">Email</label>
        </div>

        <div>
          <form ref-changeEmailForm="ngForm" (ngSubmit)="changeEmail()">
            <input id="change-email-input" type="email" name="email" placeholder="Your email" required [(ngModel)]="emailAddress">
            <button class="btn btn-secondary" type="submit"
              [class.is--loading]="changeEmailIsLoading"
              [disabled]="! emailAddress.trim() || emailAddress === dataService.user.email || changeEmailIsLoading"
            >Change email</button>
          </form>
        </div>
      </div>

      <div class="setting setting--account">
        <div class="heading">
          <label for="change-password-input">Change Password</label>
        </div>

        <div>
          <form ref-changePasswordForm="ngForm" (ngSubmit)="changePassword()">
            <input id="change-password-input" type="password" name="current-password" placeholder="Current password" required ref-currentPasswordInput autocomplete="off" [(ngModel)]="oldPass">
            <input type="password" name="new-password" placeholder="New password" required autocomplete="new-password" [(ngModel)]="newPass">
            <button class="btn btn-secondary" type="submit"
              ref-changePasswordButton
              [class.is--loading]="changePasswordIsLoading"
              [disabled]="! oldPass || ! newPass || changePasswordIsLoading"
            >Change password</button>
            <!-- @TODO/ece This page looks a bit weird with all the buttons disabled. Might be better when overall style changed, but maybe we don't disable the button, in which case if they try to submit with, say, nothing in the new password field, either nothing happens or an alert pops up. -->
          </form>
        </div>
      </div>
    </div>

    <p *ngIf="section === 'shortcuts'"><i>Note: Different browsers and operating systems handle web site shortcuts differently. You might find that some combinations don't work. (For example, <code>ctrl+n</code> will be overridden by "new window" in Chrome on Windows.)</i></p>

    <!-- @TODO/ece What style should this button be? Could be danger but might be too intense and eye catching. Maybe warning? Or just default but pops up alert. -->
    <button *ngIf="section !== 'account' && section !== 'feedback' && section !== 'privateMode'" class="btn" (click)="revert()">Revert to defaults</button>

    <div *ngIf="initialized && section === 'account'">
      <h4>Delete account</h4>
      <p>Remove all trace of your stuff from Headsoak.</p>
      <a class="danger-link" (click)="deleteAccount()">Delete account</a>
    </div>
  </div>
</div>
