<div class="pane-layout">
  <div class="overview">
    <a class="go-back" [routerLink]="['/']"><i class="fa fa-long-arrow-left"></i>BACK TO NOTES</a>

    <div class="logo">
      <h1 (click)="logoClick()"><i class="fa fa-circle"></i>Headsoak</h1>
    </div>

    <ul class="menu">
      <li class="item" [routerLink]="['/settings']" [class.is--active]="section === 'settings'">
        <i class="fa fa-fw fa-lg fa-sliders"></i>
        Settings
      </li>
      <li class="item" [routerLink]="['/settings', 'shortcuts']" [class.is--active]="section === 'shortcuts'">
        <i class="fa fa-fw fa-lg fa-fighter-jet"></i>
        Shortcuts
      </li>
      <li class="item" [routerLink]="['/settings', 'account']" [class.is--active]="section === 'account'">
        <i class="fa fa-fw fa-lg fa-smile-o"></i>
        Account
      </li>
      <li class="item" [routerLink]="['/settings', 'private-mode']" [class.is--active]="section === 'privateMode'">
        <i class="fa fa-fw fa-lg fa-user-secret"></i>
        Private Mode
      </li>
      <li class="item" [routerLink]="['/settings', 'feedback']" [class.is--active]="section === 'feedback'">
        <i class="fa fa-fw fa-lg fa-comment-o"></i>
        Feedback
      </li>
    </ul>
  </div>

  <div class="pane">
    <h3 class="pane-heading">{{ SECTION_NAME_MAP[section] }}</h3>

    <feedback *ngIf="section === 'feedback'"></feedback>
    <private-mode *ngIf="section === 'privateMode'"></private-mode>

    <div *ngIf="initialized && section === 'shortcuts'">
      <label>
        Modifier key(s):
        <input type="text"
          [(ngModel)]="settings.data['sMod'].value"
          (blur)="settingUpdated(settings.data['sMod'])"
          (keyup.enter)="settingUpdated(settings.data['sMod'])"
        />
        <span title="This will prefix all of these shortcuts. Your options are:&#10;&#10;- 'ctrl'&#10;- 'shift'&#10;- 'alt'&#10;- 'option'&#10;- 'command' (only on Mac)&#10;- 'meta' (doesn't work?)&#10;- 'mod' ('ctrl' on a PC, 'command' on a Mac).&#10;&#10;You can also combine them, e.g. 'ctrl+shift', or leave blank to control different shortcuts separately.">(?)</span>
      </label>
      <span *ngIf="dataService.isUnsaved(settings.data['sMod'])">saving...</span>
      <span style="color: red">{{ modKeyError }}</span>
    </div>

    <!-- @TODO/rewrite/settings Need tooltips in here -->
    <table>
      <thead *ngIf="section === 'shortcuts'">
        <tr>
          <td>Action</td>
          <td>
            Shortcut
            <span title="Simply type in a letter or symbol, or one of the following: backspace, tab, enter, return, capslock, esc, escape, space, pageup, pagedown, end, home, left, up, right, down, ins, del&#10;&#10;You may include modifier keys in here too, e.g. 'shift+alt+backspace'">(?)</span>
          </td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <setting
          *ngFor="let setting of displayedSettings"
          [setting]="setting"
          class="setting-{{ setting.id }}"
          (updated)="settingUpdatedProxy($event)"
        ></setting>

        <!-- These are specific to account settings and hard to squish into reusable SettingComponent format, so: -->
        <tr *ngIf="section === 'account'" class="setting setting--account">
          <td>Email</td>
          <td>
            <form ref-changeEmailForm="ngForm" (ngSubmit)="changeEmail()">
              <input type="email" name="email" placeholder="Your email" required [(ngModel)]="emailAddress"><br>
              <button class="btn btn-default" type="submit"
                [class.is--loading]="changeEmailIsLoading"
                [disabled]="! emailAddress.trim() || emailAddress === dataService.user.email || changeEmailIsLoading"
              >Change email</button>
            </form>
          </td>
          <td></td>
        </tr>
        <tr *ngIf="section === 'account'" class="setting setting--account">
          <td>Change password</td>
          <td>
            <form ref-changePasswordForm="ngForm" (ngSubmit)="changePassword()">
              <input type="password" name="current-password" placeholder="Current password" required autocomplete="off" [(ngModel)]="oldPass"><br>
              <input type="password" name="new-password" placeholder="New password" required autocomplete="new-password" [(ngModel)]="newPass"><br>
              <button class="btn btn-default" type="submit">Change password</button>
            </form>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <p *ngIf="section === 'shortcuts'"><i>Note: Different browsers and operating systems handle web site shortcuts differently. You might find that some combinations don't work. (For example, <code>ctrl+n</code> will be overridden by "new window" in Chrome on Windows.)</i></p>

    <!-- @TODO/ece What style should this button be? Could be danger but might be too intense and eye catching. Maybe warning? Or just default but pops up alert. -->
    <button *ngIf="section !== 'account' && section !== 'feedback' && section !== 'privateMode'" class="revert" (click)="revert()">Revert to defaults</button>

    <div *ngIf="initialized && section === 'account'">
      <img class="avatar" src="{{ settings.get('profileImageUrl', 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7') }}" />
        
      <br><br><br>

      <h4>Delete account</h4>
      <p>Remove all trace of your stuff from Headsoak.</p>
      <!-- @TODO/rewrite This needs some UI love. -->
      <button class="btn btn-danger" (click)="deleteAccount()">Delete account</button>
    </div>
  </div>
</div>
