<div class="pane-layout">
  <div class="overview">
    <!-- @REMOVED/go back link -->
    <!-- <a class="go-back" [routerLink]="['/']"><i class="fa fa-long-arrow-left"></i>BACK TO NOTES</a> -->

    <div class="logo">
      <h1 (click)="logoClick()"><i class="fa fa-circle"></i>Headsoak</h1>
    </div>

    <ul class="menu">
      <li class="item" [routerLink]="['/settings', 'account']" routerLinkActive="is--active">
        <i class="fa fa-fw fa-lg fa-smile-o"></i>
        Account
      </li>
      <li class="item" [routerLink]="['/settings']" routerLinkActive="is--active" [routerLinkActiveOptions]="{ exact: true }">
        <i class="fa fa-fw fa-lg fa-sliders"></i>
        Settings
      </li>
      <li class="item" [routerLink]="['/settings', 'shortcuts']" routerLinkActive="is--active">
        <i class="fa fa-fw fa-lg fa-fighter-jet"></i>
        Shortcuts
      </li>
      <li class="item" [routerLink]="['/settings', 'private-mode']" routerLinkActive="is--active">
        <i class="fa fa-fw fa-lg fa-user-secret"></i>
        Private Mode
      </li>
      <li class="item" [routerLink]="['/settings', 'feedback']" routerLinkActive="is--active">
        <i class="fa fa-fw fa-lg fa-comment-o"></i>
        Feedback
      </li>
      <li class="item download-menu" [routerLink]="['/download']" routerLinkActive="is--active">
        <i class="fa fa-fw fa-lg fa-download"></i>
        Download
      </li>
    </ul>
  </div>

  <div class="pane">
    <h3 class="pane-heading">{{ SECTION_NAME_MAP[section] }}</h3>

    <feedback *ngIf="section === 'feedback'"></feedback>
    <private-mode *ngIf="section === 'privateMode'"></private-mode>

    <div *ngIf="initialized && section === 'shortcuts'">
      <a class="valid-shortcuts-info" (click)="validShortcutInfo()">
        What can I enter for shortcuts?
        <i class="fa fa-question-circle" ></i>
      </a>

      <div class="setting setting--shortcuts setting--type-string">
        <div class="heading">
          <label for="modKeyInput" ref-modKeyHeading>
            Modifier key(s)
            <i class="fa fa-question-circle" data-tooltip="This will prefix all of your shortcuts. Your options are:&lt;br&gt;&lt;br&gt;&lt;code&gt;ctrl&lt;/code&gt;&lt;br&gt;&lt;code&gt;shift&lt;/code&gt;&lt;br&gt;&lt;code&gt;alt&lt;/code&gt;&lt;br&gt;&lt;code&gt;option&lt;/code&gt;&lt;br&gt;&lt;code&gt;command&lt;/code&gt; (only on Mac)&lt;br&gt;&lt;code&gt;meta&lt;/code&gt; (doesn't work?)&lt;br&gt;&lt;code&gt;mod&lt;/code&gt; (&lt;code&gt;ctrl&lt;/code&gt; on a PC, &lt;code&gt;command&lt;/code&gt; on a Mac).&lt;br&gt;&lt;br&gt;You can also combine them, e.g. &lt;code&gt;ctrl+shift&lt;/code&gt;, or leave blank to control different shortcuts separately."></i>
          </label>
          <i class="fa fa-cube save-notice" [class.fa-spin]="dataService.isUnsaved(settings.data['sMod'])"></i>
        </div>

        <div>
          <input type="text" id="modKeyInput"
            [(ngModel)]="settings.data['sMod'].value"
            (blur)="settingUpdated(settings.data['sMod'])"
            (keyup.enter)="settingUpdated(settings.data['sMod'])"
          />

          <i class="fa fa-exclamation-triangle danger-text"
            *ngIf="modKeyError"
            [attr.data-tooltip]="modKeyError"
            data-tooltip-place="right"
            data-tooltip-type="error"
          ></i>
        </div>
      </div>
    </div>

    <div *ngIf="initialized && section === 'account'">
      <img class="avatar" src="{{ settings.get('profileImageUrl', 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7') }}" />
    </div>

    <div *ngFor="let subSection of subSections" [class.is--subsection]="subSection">
      <div *ngIf="subSection" class="subsection-heading">{{ subSection }}</div>

      <div class="subsection-group">
        <setting
          *ngFor="let setting of subSectionedSettings[subSection]"
          [setting]="setting"
          [settings]="settings"
          class="setting-{{ setting.id }} setting--type-{{ setting.type }}"
          (updated)="settingUpdatedProxy($event)"
        ></setting>
      </div>
    </div>

    <!-- These are specific to account settings and hard to squish into reusable SettingComponent format, so: -->
    <div *ngIf="section === 'account'">
      <div class="setting setting--account setting--type-string">
        <div class="heading">
          <label for="change-email-input">Email</label>
        </div>

        <div>
          <form ref-changeEmailForm="ngForm" (ngSubmit)="changeEmail()">
            <input id="change-email-input" type="email" name="email" placeholder="Your email" required ref-changeEmailInput [(ngModel)]="emailAddress">
            <button class="btn btn-secondary" type="submit"
              [class.is--loading]="changeEmailIsLoading"
              [disabled]="changeEmailIsLoading"
            >Change email</button>
          </form>
        </div>
      </div>

      <div class="setting setting--account setting--type-string">
        <div class="heading">
          <label for="change-password-input">Change Password</label>
        </div>

        <div>
          <form ref-changePasswordForm="ngForm" (ngSubmit)="changePassword()">
            <input id="change-password-input" type="password" name="current-password" placeholder="Current password" required ref-currentPasswordInput autocomplete="off" [(ngModel)]="oldPass">
            <input type="password" name="new-password" placeholder="New password" required autocomplete="new-password" [(ngModel)]="newPass">
            <button class="btn btn-secondary" type="submit"
              ref-changePasswordButton
              [class.is--loading]="changePasswordIsLoading"
              [disabled]="changePasswordIsLoading"
            >Change password</button>
            <!-- @TODO/ece This page looks a bit weird with all the buttons disabled. Might be better when overall style changed, but maybe we don't disable the button, in which case if they try to submit with, say, nothing in the new password field, either nothing happens or an alert pops up. -->
          </form>
        </div>
      </div>

      <div class="setting setting--account setting--type-link">
        <div class="heading">
          <label>Delete Account</label>
        </div>

        <p>Remove all trace of your stuff from Headsoak.</p>
        <a class="danger-link" (click)="deleteAccount()">Delete account</a>
      </div>
    </div>

    <p class="bottom-info" *ngIf="section !== 'account' && section !== 'feedback' && section !== 'privateMode' && section !== 'download'"><a class="danger-link" (click)="revert()">Revert to default {{ section }}</a></p>

    <p class="bottom-info" *ngIf="section === 'shortcuts'"><i>Note: Different browsers and operating systems handle web site shortcuts differently. You might find that some combinations don't work. (For example, <code>ctrl+n</code> will be overridden by "new window" in Chrome on Windows.)</i></p>

    <div *ngIf="section === 'download'">
      <p>Download a standalone version of Headsoak that you can run outside of your browser!</p>

      <div>
        <div class="heading">Linux</div>
        <p><a download href="https://headsoak.com/builds/linux64/headsoak.zip" (click)="showLinuxInstr = true">Download</a></p>
        <div *ngIf="showLinuxInstr">
          <p>Installation instructions:</p>
          <ul>
            <li>Unzip the downloaded file</li>
            <li>Inside it there is an executable file named <code>headsoak</code> which will run the application</li>
            <li>To install it globally:
              <ul>
                <li>Copy the files to <code>/usr/share/headsoak/</code></li>
                <li>Symlink to it with: <code>ln -s /usr/share/headsoak/headsoak /usr/bin/headsoak</code></li>
                <li>Run <a href="https://headsoak.com/builds/linux64/headsoak.desktop">this .desktop file</a>, or put it in <code>/usr/share/applications/</code> and your desktop environment should pick it up</li>
              </ul>
            </li>
          </ul>

          <p>A proper installer is coming soon!</p>
        </div>
      </div>

      <div>
        <div class="heading">Mac OS X</div>
        <p><a download href="https://headsoak.com/builds/osx64/headsoak.app.zip" (click)="showMacInstr = true">Download</a></p>
        <div *ngIf="showMacInstr">
          <p>Installation instructions:</p>
          <ul>
            <li>Unzip the downloaded file</li>
            <li>Copy the unzipped Headsoak app to your Applications folder</li>
            <li>Right click (or hold the <code>ctrl</code> key while you click) on it and click "Open"</li>
            <li>Choose "Open" in the dialog that pops up</li>
          </ul>

          <p>A proper signed installer is coming soon!</p>
        </div>
      </div>

      <div>
        <div class="heading">Windows</div>
        <p><a download href="https://headsoak.com/builds/win64/headsoak.zip" (click)="showWinInstr = true">Download</a></p>
        <div *ngIf="showWinInstr">
          <p>Installation instructions:</p>
          <ul>
            <li>Unzip the downloaded file to somewhere handy</li>
            <li>We haven't actually tested on Windows yet, but <code>headsoak.exe</code> should work</li>
          </ul>

          <p>A proper installer is coming soon!</p>
        </div>
      </div>

      <p>&nbsp;</p>
      <p>Note that, for now, the desktop application will still only work when you are online.</p>
    </div>

  </div>
</div>
